#arbolGeografiaRegistro.jstree-checkbox-selection .jstree-wholerow-clicked,
#arbolGeografiaMod.jstree-checkbox-selection .jstree-wholerow-clicked,
#arbolIntervencionRegistro .jstree-wholerow-clicked,
#arbolIntervencionMod .jstree-wholerow-clicked,
#arbolPermisoRegistro .jstree-wholerow-clicked,
#arbolPermisoMod .jstree-wholerow-clicked,
#arbolGeografiaConsulta .jstree-wholerow-clicked {
    background: white;
}

#arbolGeografiaRegistro.jstree-checkbox-selection .jstree-clicked,
#arbolGeografiaMod.jstree-checkbox-selection .jstree-clicked,
#arbolIntervencionRegistro .jstree-clicked,
#arbolIntervencionMod .jstree-clicked,
#arbolPermisoRegistro .jstree-clicked,
#arbolPermisoMod .jstree-clicked,
#arbolGeografiaConsulta .jstree-clicked {
    background: white;
    color: #808080;
    box-shadow: inset 0 0 1px #fff;
}

#arbolGeografiaConsulta .jstree-search {
    font-style: italic !important;
    color: #8b0000 !important;
    font-weight: bold !important;
}

#arbolIntervencionRegistro .jstree-search {
    font-style: italic !important;
    color: #8b0000 !important;
    font-weight: bold !important;
}

#arbolGeografiaRegistro .jstree-search {
    font-style: italic !important;
    color: #8b0000 !important;
    font-weight: bold !important;
}

#arbolPermisoRegistro .jstree-search {
    font-style: italic !important;
    color: #8b0000 !important;
    font-weight: bold !important;
}

#arbolIntervencionMod .jstree-search {
    font-style: italic !important;
    color: #8b0000 !important;
    font-weight: bold !important;
}

#arbolGeografiaMod .jstree-search {
    font-style: italic !important;
    color: #8b0000 !important;
    font-weight: bold !important;
}

#arbolPermisoMod .jstree-search {
    font-style: italic !important;
    color: #8b0000 !important;
    font-weight: bold !important;
}

.cardFotoUsuario{
	box-shadow: none;
    border: 1px solid #dedede;
}

.iconoEliminarFoto {
    color: #f55756;
    cursor: pointer;
}

.txtPieFoto {
    font-size: .8em !important;
    font-family: 'Montserrat' !important;
    color: #9d9d9d;
}

.botonIniciarCamara {
	width: 35px;
	height: 28px;
    background-color: #ffffff;
    color: #7716fa;
    border: solid 1px #7716fa !important;
    border-radius: 5px;
    font-size: 0.7em;
    border-radius: .5em !important;
}

#contenedorBtnIniciarCamara{
	text-align: right;
}

.etiquetaFotoUsuario::after {
    font-family: FontAwesome;
    content: "\f093" !important;
    font-size: .8em;
    color: #7716fa;
    font-size: .8em;
    background-color: white;
}

.etiquetaFotoUsuario {
    width: 35px;
    height: 28px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .8em;
    color: #9d9d9d;
    border: solid 1px #7716fa !important;
    cursor: pointer;
}

#fileFotoUsuario,
#fileFotoUsuarioMod{
	position: initial !important;
}

#imgFotoUsuario {
    width: 190px;
    height: 190px;
    object-fit: contain;
}

#imgFotoUsuarioMod {
    width: 190px;
    height: 190px;
    object-fit: contain;
}

#table-usuario-pi_filter {
    font-size: 0.7em !important;
    font-family: "Montserrat" !important;
}

#table-usuario-pi_filter input {
    font-size: 0.9em !important;
    font-family: "Montserrat" !important;
}

img.responsive-img-tecnico {
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
    border-radius: 50%;
    width: 2.6em;
    height: 2.6em;
}

.tecnico-section {
    display: -ms-flexbox;
    margin-bottom: 0px;
    padding: .3em;
    cursor: pointer;
    display: flex;
    position: relative;
    border-bottom: 1px solid #eee;
}

.text-accion-nopermiso {
  font-size: 12px;
  color: grey;
  padding: 1em;
  font-weight: bold;
}

.text-accion-nopermiso .icon-not-permiso {
  color: white;
  font-size: 1.3em;
  padding: 0.5em;
  border-radius: 50%;
  background: orange;
  width: 2em;
  height: 2em;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
}

.text-not-permiso{
	margin-left: 0.5em;
}

.txtMensajeAlertaValidaciones {
    padding: 0 1.5em;
    font-size: 0.8em;
    color: orange;
}

/* -------------------------------------------------------------------------------------------------- */

.form-switch .form-check-input:after {
    width: 1em;
    height: 1em;
}

.form-switch .form-check-input {
    height: .6rem;
}

.form-switch .form-check-input:checked[type=checkbox]:after {
    width: 1em;
    height: 1em;
    margin-left: 60%;
}

.column-style-usuarios {
    padding-right: 0px
}

.columna-filtro-usuarios::after {
    content: "";
    position: absolute;
    right: 3%;
    top: 66%;
    width: 0;
    height: 0;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.6em solid #939db2;
    clear: both;
    z-index: 2;
    font-size: 14px;
}

.input-filtro-status {
    border: 1px solid #dbdbdb;
    font-size: 0.7em;
    color: #818181 !important;
    transition: all 0.5s ease;
    border-bottom: 1px solid white;
    background: white !important;
    border-radius: .5em !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .07), 0 1px 2px 0 rgba(0, 0, 0, .05) !important;
    padding-right: 1.5em;
}

.input-filtro-status::placeholder {
    font-weight: 400;
    font-size: 1em;
    color: #818181 !important;
}

.input-filtro-status:focus {
    -webkit-box-shadow: none;
}

.input-filtro-status:hover {
    background: #e4e6f2 !important;
    cursor: pointer;
    border-bottom: 2px solid #a4b1ff !important;
}

.element-menu-filter {
    position: relative;
}

.element-menu-filter:hover .dropdown-menu {
    display: block;
}

.element-menu-filter:hover .dropdown-menu {
    top: 0;
    left: 100%;
}

.element-menu-filter {
    position: relative;
}

label.form-check-inputfiltro {
    display: flex;
}

.form-check-input {
    margin-right: 0.5em;
}

.dropdown-item.item-text-filtro.ng-binding {
    display: contents;
    /* margin-left: 1em; */
}

.dropdown-item {
    padding: 0.25rem 1.5rem !important;
}

.dropdown-item.item-text-filtro.ng-binding {
    display: contents;
}

#todo_filtro,
#ninguno_filtro {
    width: 45%;
    background: #1266f1;
    color: white;
    margin-top: 0.5em;
    padding: 0;
}

.page-link {
    font-size: 0.7em !important;
    font-family: "Montserrat" !important;
}

.dataTables_info {
    font-size: 0.7em;
    font-family: "Montserrat" !important;
    text-align: left;
    padding-left: 0.5em;
}

.dataTables_paginate.paging_simple_numbers {
    float: right;
}


.buscadorGenerico {
    height: 2em !important;
    min-height: 2em !important;
    padding: 0 !important;
    padding-left: 1em !important;
    border-radius: 1em !important;
    border: 1px solid #e2e2e2;
    background: #fcfcfc;
}

.buscadorGenerico::placeholder {
    color: #a4a4a4;
    font-size: 1em;
}

.iconoBusqueda {
    color: #888888;
    position: absolute;
    right: 0.8em;
    top: 0.4em;
    font-size: 0.8em;
}

.content-seach-group {
    height: 1em;
    display: inline-flex;
    margin: 0em auto 1em;
}

.scrollModalArbolGeografias {
    overflow-x: auto;
    overflow-y: auto;
    text-align: justify;
}

.scrollGeneralArbol {
    padding: 4px;
    height: 230px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.scrollGeneralSelectsConsulta {
    padding: 4px;
    height: 330px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.scrollListaCiudadNatal {
    padding: 3px;
    height: 230px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.scrollListaCiudadNatalMod {
    padding: 3px;
    height: 180px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.scrollListaTecnicos {
    padding: 3px;
    height: 230px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.inputFormulario {
    align-items: stretch;
    background: white !important;
    padding: .5rem 1rem !important;
    font-size: .8rem !important;
    font-family: 'Montserrat' !important;
}

.inputSelectFormulario {
    align-items: stretch;
    padding: .5rem 1rem !important;
    font-size: .8rem !important;
    font-family: 'Montserrat' !important;
}

.txtTablaConsultaCentrado {
    text-align: center;
    white-space: nowrap;
    color: #39455b;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
}

.txtTablaConsultaJustificado {
    text-align: justify;
    white-space: nowrap;
    color: #39455b;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
}

.iconoEditarUsuario {
    color: #7716fa !important;
    cursor: pointer;
}

.iconoEliminarUsuario {
    color: #ff0000 !important;
}

.contenedorRowForm {
    margin: 0em 0em 0.5em;
}

.selecRegistro {
    width: 100% !important;
}

/* FIN CAMBIOS REYNEL */
/* ----------------------------------------------------------------------------------------------------- */

.btn-group.bootstrap-select.show-tick.select_consulta {
    width: 100% !important;
}

.icon-check-intervencion {
    margin-top: .6em;
}

.intervencion-selected {
    background-color: #40ac40;
    color: white;
}

.opcion-propietario {
    margin-top: .5em;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    border-left: .3em solid #40ac40;
}

.content_privilegios {
    border: 2px dashed #d0d0d0 !important;
    padding-top: 1em;
    border-radius: .45rem !important;
    font-size: .9em;
}

.bg-color1 {
    background-color: #31a7ee !important;
}

.bg-color2 {
    background-color: blueviolet !important;
}

.bg-color3 {
    background-color: #f55756 !important;
}

.bg-color4 {
    background-color: #64c457 !important;
}

.bg-color5 {
    background-color: #ffb100 !important;
}

.bg-color6 {
    background-color: #9A9A9A !important;
}

.bg-color7 {
    background-color: #f380b3 !important;
}

.bg-color8 {
    background-color: #50e3c2 !important;
}

.bg-color9 {
    background-color: #53858f !important;
}

.div_izquierdo_permiso {
    border-top-left-radius: .3em;
    border-bottom-left-radius: .3em;
    color: #fff;
    height: 35px;
    padding-top: .5em;
    text-align: center;
}

.div_derecho_permiso {
    background-color: #546677;
    height: 35px;
    line-height: 35px;
    border-top-right-radius: .3em;
    border-bottom-right-radius: .3em;
}

.columna_padre {
    margin-bottom: 10px;
}

.row_child {
    margin-right: 5px;
}

.text-privilegio-principal {
    color: white;
    font-weight: bold;
}

.text-privilegio {
    color: #46586b;

}

.div_derecho_permiso_privilegios {
    height: 35px;
    line-height: 35px;
    border-right: solid 1px #8b95a5;
    border-bottom: solid 1px #8b95a5;
    border-top: solid 1px #8b95a5;
    border-top-right-radius: .3em;
    border-bottom-right-radius: .3em;
    text-align: center;
}

.list_group_privilegios {
    min-height: 50px !important;
    border-radius: .45rem !important;
    padding: 0 20px !important;
    height: 400px;
    overflow-y: scroll;
}

.list_group_privilegios .list-group-item {
    padding: .3rem 0em;
    border: 0;
    display: block;
}

.content_check_priv {
    width: 100%;
}

.content_privilegios {
    border: 2px dashed #d0d0d0 !important;
    padding-top: 1em;
    border-radius: .45rem !important;
    /*font-family: 'Montserrat' !important;*/
    font-size: .9em;
}

.content_tecnicos {
    padding-top: 1em;
    border-radius: .45rem !important;
    /*font-family: 'Montserrat' !important;*/
    font-size: .9em;
}

.cursor-option {
    cursor: pointer;
}

.check-privilegio {
    color: rgb(0, 128, 0);
    display: inline-block;
    margin-top: .5em;
}

.cursorEfect {
    cursor: pointer;
}

.padding-select-all {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 15px;

}

.img-tecnico {
    height: 50%;
    width: 50%;
    margin-right: 10px;
    margin-top: 10%;
}

.div-tecnicos {
    height: 35px;
    line-height: 35px;
    background-color: #fff;
    text-align: center;
}

.border-0 {
    border: solid 1px #8b95a5 !important;
    border-left: 8px solid #40ac40 !important;
}

.padding-tecnico {
    padding-left: 0;
    padding-right: 0;
}

.border-tecnico {
    border-left: solid 1px #8b95a5;
    border-right: solid 1px #8b95a5;
    border-bottom: solid 1px #8b95a5;
    border-left: 8px solid #40ac40;
}

.crop-text-col {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-confirmar-usuario {
    background-clip: padding-box;
    /* border: 1px solid rgba(0,0,0,.2); */
    border-radius: .3rem;
    outline: 0;
}

.header-confirmar-usuario {
    /* border-bottom: 1px solid #cccccc; */
    /* background-color: #f7f7f7; */
    text-align: center !important;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3em;
}

.body-confirmar-usuario {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 15px;
}

.radio-ciudad-natal {
    margin-top: .5em;
}

.row.padding_resumen_ciudades {
    border-bottom: 1px dashed #e5e5e5;
    padding-bottom: .5em;
}

.item_ciudad_resum {
    display: -webkit-box;
}

#v-pills-tab .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #773f85;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    cursor: default;
}

#v-pills-tab .nav-link:not(.active) {
    color: grey !important;
}

#pills-tab .nav-link.active, .nav-pills .show>.nav-link, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #773f85;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    cursor: default;
}

#pills-tab .nav-link:not(.active) {
    color: grey !important;
}

.text-info-regitro {
    color: #7e7e7e;
    margin-bottom: 0;
    font-size: .9em;
    /* font-weight: bold; */
}

.titulo-opciones {
    color: rgb(70, 88, 107);
    font-weight: 450;
}

i.jstree-icon.jstree-themeicon {
    color: #1ca4fc;
}

.text-head-table-arbol {
    color: #784085;
}

.text-body-table-arbol {
    color: #7c7c7d;
    font-size: 12px;
}

.header-privilegios {
    margin-bottom: 1em;
}

.titulos-confirmacion {
    color: #784085;
}

.respuesta-confirmacion {
    color: #7c7c7d;
    font-size: 12px;
    cursor: pointer;
}

.radioOpcCiudadNatal{
	cursor: pointer !important;
}

.encabezado-confirmacion {
    color: rgb(70, 88, 107);
    font-weight: bold;
    padding: .5em;
    border-bottom: 1px solid #f3f3f3;
}

.span-consulta {
    color: #7c7c7d;
    font-size: 16px;
}

.cursorEfect {
    color: #7c7c7d;
}

.span-seleccion-all {
    color: #7c7c7d;
}

#table-usuario-pi {
    border-collapse: collapse !important;
    width: 100%;
}

#table-usuario-pi {
    border-collapse: collapse !important;
}

#table-usuario-pi tbody tr td {
    border-top: 0px solid #eceeef !important;
    font-size: .8em;
    font-family: 'Montserrat';
    /* padding: .9em; */
}

#table-usuario-pi tbody tr:nth-child(even) {
    background: #f5f5f5;
}

#table-usuario-pi_length {
    display: none;
}

#table-usuario-pi>tbody>tr>td {
    white-space: nowrap;
    color: #39455b;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
}

table.dataTable thead th {
    position: relative;
    background-color: #b1b1b1;
    color: #fff;
}

#table-usuario-pi_wrapper>.row>#table-usuario-pi>thead>tr>th {
    position: relative;
    white-space: nowrap;
    background-color: #b1b1b1;
    color: #fff;
}

#table-usuario-pi {
    width: 100% !important;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
    margin-right: 1em;
}

#container_usuarios_alta_consulta {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    /* padding-top: 1em; */
    padding-bottom: 1em;
    background: white;
    border-radius: .5em;
    padding-top: 1em;
    margin-top: 1em;
}

#myTab .nav-link.active {
    color: #7716fa !important;
    font-weight: bolder;
    background: #f9f9f9;
}

#myTab {
    margin-bottom: 1em;
}

#myTab .nav-link {
    padding-top: .6em;
    padding-bottom: .6em;
    border: solid 1px #ccc;
}

#myTab .nav-item:first-child .nav-link {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

#myTab .nav-item:last-child .nav-link {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.select_consulta {
    box-shadow: none;
}

.span-consulta {
    color: #9d9d9d;
    font-size: .9em;
    ;
    margin-bottom: 0;
}

.span-consultaTecnico {
    color: #9d9d9d;
    font-size: .7em;
    margin-bottom: 0;
}

#btn-consultar-disponibilidad {
    background-color: #ffffff;
    color: #7716fa;
    border: solid 1px #7716fa !important;
    padding: .5em 1.5em;
    border-radius: 5px;
    font-size: 0.7em;
    position: relative;
    display: block;
    border-radius: .5em !important;
}

.select_consulta {
    padding: 0;
}

.select_consulta .bs-select-all {
    padding: 0 !important;
    padding: .2em 0 !important;
    box-shadow: none !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.select_consulta .bs-deselect-all {
    padding: 0 !important;
    padding: .2em 0 !important;
    box-shadow: none !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;

}

.select_consulta .btn-group.btn-group-sm.btn-block {
    box-shadow: none !important;
}

#table-usuario-pi thead .txtTablaConsultaJustificado {
    padding: 1em;
    border: none;
}

#table-usuario-pi thead .txtTablaConsultaCentrado {
    padding: 1em;
    border: none;
}

#table-usuario-pi thead {
    border: none;
}

#table-usuario-pi tbody tr td {
    padding: 1em;
    border: none;
}

#pills-tab-crearuser {
    margin: 0;
    margin-bottom: 1em;
}

#pills-tab-crearuser li a {
    padding: .8em 2em;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: .5em;
}

#pills-tab-crearuser li a.active {
    background-color: #adadad;
    box-shadow: none;
    /* color:#888888; */
    font-weight: bolder;
    /* border-left:.3em solid #7a1cfa; */
}

.row.row-datos-confirmacion {
    margin-top: .5em;
    border-top: 1px solid #d7d7d7;
    padding-top: .7em;
}

#pills-tab-mod {
    margin: 0;
    margin-bottom: 1em;
}

#pills-tab-mod li a {
    padding: .8em 2em;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: .5em;
}

#pills-tab-mod li a.active {
    background-color: #adadad;
    box-shadow: none;
    /* color:#888888; */
    font-weight: bolder;
    /* border-left:.3em solid #7a1cfa; */
}

.tooltip-btn {
    position: relative;
    display: inline-block;
    font-size: 12px;
}

/* Tooltip text */
.tooltip-btn .tooltiptext-btn {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 1em;
}

/* Tooltip arrow */
.tooltip-btn .tooltiptext-btn::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-btn:hover .tooltiptext-btn {
    visibility: visible;
    opacity: 1;
}

span.btnModificarUsuario {
    background-color: #7716fa !important;
    color: #fff !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    font-size: 0.7em;
}

span.btnEliminarUsuario {
    background-color: #f55756 !important;
    color: #fff !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    font-size: 0.7em;
}

.btn-option {
    padding: 4px 0px !important;
    border-radius: 0.2rem !important;
    cursor: pointer;
}