.buscadorGenerico {
    height: 2em !important;
    min-height: 2em !important;
    padding: 0 !important;
    padding-left: 1em !important;
    border-radius: 1em !important;
    border: 1px solid #e2e2e2;
    background:#fcfcfc;
}

.buscadorGenerico::placeholder{
    color:#a4a4a4;
    font-size:1em;
}

.iconoBusqueda {
  color: #888888;
  position: absolute;
  right: 0.8em;
  top: 0.4em;
  font-size: 0.8em;
}

.content-seach-group {
    height: 1em;
    display: inline-flex;
    margin: 0em auto 1em;
}

.scrollModalArbolGeografias {
	padding:4px;
	height: 350px;
	overflow-x: auto;
	overflow-y: auto;
	text-align:justify;
}

.scrollGeneralArbol {
	padding:4px;
	height: 380px;
	overflow-x: hidden;
	overflow-y: auto;
	text-align:justify;
}

.inputFormulario{
	align-items: stretch;
	webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
	background: white !important;
	height: auto;
    border: 1px solid #d9d9d9 !important;
	padding: .5rem 1rem !important;
	font-size: .8rem !important;
	border-radius: .25rem !important;
	font-family: 'Montserrat' !important;
}

.txtTablaConsultaCentrado{
	text-align: center;
	white-space: nowrap;
    color: #39455b;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
}

.txtTablaConsultaJustificado{
	text-align: justify;
	white-space: nowrap;
    color: #39455b;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
}

.iconoEditarUsuario{
    color: #7716fa !important;
    cursor: pointer;
}

.iconoEliminarUsuario{
    color: #ff0000!important;
}

.contenedorRowForm{
	margin: 0em 0em 0.5em;
}

.selecRegistro{
	width: 100% !important;
}

/* FIN CAMBIOS REYNEL */ 
/* ----------------------------------------------------------------------------------------------------- */

.btn-group.bootstrap-select.show-tick.select_consulta {
    width: 100% !important;
}

button.btn.dropdown-toggle.bs-placeholder.btn-secondary, .bs-actionsbox .actions-btn, button.btn.dropdown-toggle.btn-secondary {
    display: inline-block !important;
    font-weight: 400 !important;
    line-height: 1.25 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    border: 1px solid transparent !important;
    padding: .5rem 1rem !important;
    font-size: .8rem !important;
    border-radius: .25rem !important;
    -webkit-transition: all .2s ease-in-out !important;
    -o-transition: all .2s ease-in-out !important;
    transition: all .2s ease-in-out !important;
    color: #5a5a5a !important;
    border: 1px solid #d5d5d5 !important;
    /*font-family: 'Montserrat' !important;*/
}
button.btn.dropdown-toggle.bs-placeholder.btn-secondary, .bs-actionsbox .actions-btn, button.btn.dropdown-toggle.btn-secondary {
    background: white !important;
    box-shadow: none;
    border: 1px solid #d9d9d9 !important;
}
#intro_compania_consulta ul.inner, #intro_puesto_consulta ul.inner, #intro_region_consulta ul.inner, #intro_ciudad_consulta ul.inner {
    font-size: .8em;
    font-family: 'Montserrat' !important;
}
.select_consulta>.dropdown-menu>.inner, .puesto_select>.dropdown-menu>.inner, .region_select>.dropdown-menu>.inner, .ciudad_select>.dropdown-menu>.inner {
    padding-inline-start: 0px;
}

.icon-check-intervencion {
    margin-top: .6em;
}

.intervencion-selected {
    background-color: #40ac40;
    color: white;
}

.opcion-propietario {
    margin-top: .5em;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    border-left: .3em solid #40ac40;
}

.content_privilegios {
    border: 2px dashed #d0d0d0 !important;
    padding-top: 1em;
    border-radius: .45rem !important;
    font-size: .9em;
}

.bg-color1{ 
    background-color:  #31a7ee !important;
}

.bg-color2{
    background-color:  blueviolet !important;
}

.bg-color3{ 
    background-color:  #f55756 !important;    
}

.bg-color4{
    background-color:  #64c457 !important;
}

.bg-color5{
    background-color:  #ffb100 !important;    
}

.bg-color6{ 
    background-color:  #9A9A9A !important;    
}

.bg-color7{
    background-color:  #f380b3 !important;
}

.bg-color8{
    background-color:  #50e3c2 !important;    
}

.bg-color9{
    background-color:  #53858f !important;    
}

.div_izquierdo_permiso {
    border-top-left-radius: .3em;
    border-bottom-left-radius: .3em;
    color: #fff;
    height: 35px;
    padding-top: .5em;
    text-align: center;
}

.div_derecho_permiso {
    background-color: #546677;
    height: 35px;
    line-height: 35px;
    border-top-right-radius: .3em;
    border-bottom-right-radius: .3em;
}

.columna_padre {
    margin-bottom: 10px;
}

.row_child {
    margin-right: 5px;
}

.text-privilegio-principal {
    color: white;
    font-weight: bold;
}

.text-privilegio {
    color: #46586b;
    
}

.div_derecho_permiso_privilegios {
    height: 35px;
    line-height: 35px;
    border-right: solid 1px #8b95a5;
    border-bottom: solid 1px #8b95a5;
    border-top: solid 1px #8b95a5;
    border-top-right-radius: .3em;
    border-bottom-right-radius: .3em;
    text-align: center;
}
.list_group_privilegios{
	min-height: 50px !important;
	border-radius: .45rem !important;
	padding: 0 20px !important;
	height: 400px;
	overflow-y: scroll;
}
.list_group_privilegios .list-group-item {
    padding: .3rem 0em;
    border:0;
    display: block;
}
.content_check_priv {
    width: 100%;
}
.content_privilegios {
    border: 2px dashed #d0d0d0 !important;
    padding-top: 1em;
    border-radius: .45rem !important;
    /*font-family: 'Montserrat' !important;*/
    font-size: .9em;
}

.content_tecnicos {
    padding-top: 1em;
    border-radius: .45rem !important;
    /*font-family: 'Montserrat' !important;*/
    font-size: .9em;
}
.cursor-option {
    cursor: pointer;
}
.check-privilegio {
    color: rgb(0, 128, 0);
    display: inline-block;
    margin-top: .5em;
}
.cursorEfect {
    cursor: pointer;
}
.padding-select-all {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 15px;

}
.img-tecnico {
    height: 50%;
    width: 50%;
    margin-right: 10px;
    margin-top: 10%;
}
.div-tecnicos {
    height: 35px;
    line-height: 35px;
    background-color: #fff;
    text-align: center;
}
.border-0 {
    border: solid 1px #8b95a5!important;
    border-left: 8px solid #40ac40!important;
}
.padding-tecnico {
    padding-left: 0;
    padding-right: 0;
}
.border-tecnico {
    border-left: solid 1px #8b95a5;
    border-right: solid 1px #8b95a5;
    border-bottom: solid 1px #8b95a5;
    border-left: 8px solid #40ac40;
}
.crop-text-col {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content-confirmar-usuario {
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.header-confirmar-usuario {
    border-bottom: 1px solid #cccccc;
    background-color: #f7f7f7;
    text-align: center !important;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3em;
}
.body-confirmar-usuario {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 15px;
}
.radio-ciudad-natal {
    margin-top: .5em;
}
.row.padding_resumen_ciudades {
    border-bottom: 1px dashed #e5e5e5;
    padding-bottom: .5em;
}
.item_ciudad_resum {
    display: -webkit-box;
}
#v-pills-tab .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #773f85;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    cursor: default;
}
#v-pills-tab .nav-link:not(.active) {
    color: grey !important;
}
#pills-tab .nav-link.active, .nav-pills .show>.nav-link, #pills-tab-mod .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #773f85;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    cursor: default;
}
#pills-tab .nav-link:not(.active), #pills-tab-mod .nav-link:not(.active) {
    color: grey !important;
}
.text-info-regitro {
    color: #7c7c7d;
}
.titulo-opciones {
    color: rgb(70, 88, 107);
    font-weight: 450;
}
i.jstree-icon.jstree-themeicon {
    color: #1ca4fc;
}
.text-head-table-arbol {
    color: #784085;
}
.text-body-table-arbol {
    color: #7c7c7d;
    font-size: 12px;
}
.header-privilegios {
    margin-bottom: 1em;
}
.titulos-confirmacion {
    color: #784085;
}
.respuesta-confirmacion {
    color: #7c7c7d;
    font-size: 12px;
}
.encabezado-confirmacion {
    color: rgb(70, 88, 107);
    font-weight: 450;
}
.span-consulta {
    color: #7c7c7d;
    font-size: 16px;
}
.cursorEfect {
    color: #7c7c7d;
}
.span-seleccion-all {
    color: #7c7c7d;
}
#table-usuario-pi {
    border-collapse: collapse !important;
    width: 100%;
}
#table-usuario-pi{
    border-collapse: collapse!important;
 }

#table-usuario-pi tbody tr td {
    border-top: 0px solid #eceeef !important;
    font-size: .8em;
    font-family: 'Montserrat';
    /* padding: .9em; */
}
#table-usuario-pi tbody tr:nth-child(even) {
    background: #f9f7fe;
}
#table-usuario-pi_length { 
    display: none;
}

#table-usuario-pi>tbody>tr>td {
    white-space: nowrap;
    color: #39455b;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
}
table.dataTable thead th {
    position: relative;
    background-color: #b1b1b1;
    color: #fff;
}
#table-usuario-pi_wrapper>.row>#table-usuario-pi>thead>tr>th {
    position: relative;
    white-space: nowrap;
    background-color: #b1b1b1;
    color: #fff;
}
#table-usuario-pi {
    width: 100%!important;
}
div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}
#modalEdicionUsuario .modal-header{
    margin:0;
    box-shadow:none;
    border-top: 20px solid #39455b;
    border-bottom: 0px;
}

#modalEdicionUsuario .modal-header .close.close-modal{
    /* background: #3b4559; */
    padding:.1px .7em;
    border-radius:1em;
    margin:0;
}
#modalEdicionUsuario .modal-footer{
    border:none !important;
    padding-top:0;
}
#modalEdicionUsuario .modal-header  .modal-title{
    color:#39455b;
    font-size:1.2em;
    font-weight:bolder;
}
