#container_ticket_form, #container_ticket, #container_noticias_ticket {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    /* padding-top: 1em; */
    background: white;
    border-radius: .5em;
    margin-top: 1em;
    padding: 0;
}

/* TAB CONSULTAR TICKETS */
/* FILTROS CONSULTA TICKETS */

.label-filter {
    margin-bottom: 0;
}

.input-filtro-ticket {
    border: 1px solid #dbdbdb !important;
    font-weight: 400;
    /* border: 1px solid #dbdbdb; */
    font-size: 1em;
    color: #818181 !important;
    transition: all 0.5s ease;
    /* border-bottom: 1px solid white; */
    background: white !important;
    border-radius: 0.5em !important;
    /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important; */
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 7%), 0 1px 2px 0 rgb(0 0 0 / 5%) !important;
    border-bottom: 0 1px 3px 0 rgb(0 0 0 / 7%), 0 1px 2px 0 rgb(0 0 0 / 5%) !important;
}

.columna-filtro-ind::after {
    content: "";
    position: absolute;
    right: 3%;
    top: 65%;
    width: 0;
    height: 0;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.6em solid #939db2;
    clear: both;
    z-index: 2;
    font-size: 14px;
}

.form-content {
    font-size: 0.7em;
    font-weight: bold !important;
    margin-bottom: 1em;
    margin-top: 1em;
    font-family: "Montserrat";

}

.input-filtro-ticket::placeholder {
    font-weight: 400;
    font-size: 1em;
    color: #818181 !important;
}

.input-filtro-ticket:focus {
    -webkit-box-shadow: none;
}

.input-filtro-ticket:hover {
    cursor: pointer;
    border-bottom: 2px solid #a4b1ff !important;
}

.btnTicket:active, .btnTicket:focus .btnTicket:hover {
    background-color: white !important;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
    color: #7716fa;
}

.btnTicket:hover, .btnTicket:active, .btnTicket:focus {
    background-color: white;
    color: #7716fa !important;
}

.btnTicket {
    background-color: #ffffff;
    color: #7716fa;
    border: solid 1px #7716fa !important;
    padding: .4em 1.5em;
    border-radius: 5px;
    font-size: 0.7em;
    position: relative;
    display: block;
    border-radius: .5em !important;
    top: 45%;
}

/* TABLE TICKETS */
/* CSS TABLE */
#tecnicosCuentaTable tbody tr:nth-child(even),
#ingenierosTable tbody tr:nth-child(even) {
    background: #f5f5f5;
}

#tecnicosCuentaTable>tbody>tr>td,
#ingenierosTable>tbody>tr>td {
    white-space: nowrap;
    color: #39455b;
    font-family: 'Montserrat';
    font-size: .8em;
    border-top: 0px solid #eceeef !important;
    text-align: center;
}

#tecnicosCuentaTable thead th,
#ingenierosTable thead th {
    position: relative;
    background-color: #b1b1b1;
    color: #fff;
    font-size: 0.8em;
    white-space: nowrap;
    padding: 1em;
    text-align: center;
    border: none;
    font-weight: normal;
}

#tecnicosCuentaTable tbody tr td,
#ingenierosTable tbody tr td {
    padding: 1em;
    border: none;
}

#tableTicketSoporte tbody tr:nth-child(even) {
    background: #f5f5f5;
}

#tableTicketSoporte>tbody>tr>td {
    color: #39455b;
    font-family: 'Montserrat';
    font-size: .8em;
    border-top: 0px solid #eceeef !important;
    text-align: center;
    white-space: nowrap;
}

#tableTicketSoporte>tbody>tr>:nth-child(5), #tableTicketSoporte>tbody>tr>:nth-child(7),  #tableTicketSoporte>tbody>tr>:nth-child(8){
    max-width: 5px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}


#tableTicketSoporte thead th {
    position: relative;
    background-color: #b1b1b1;
    color: #fff;
    font-size: 0.8em;
    white-space: nowrap;
    padding: 1em;
    border: none;
    font-weight: normal;
}

#tableTicketSoporte tbody tr td {
    padding: 1em 0.7em;
    border: none;
}

.page-link {
    font-size: 0.7em !important;
    font-family: "Montserrat" !important;
}

.dataTables_info {
    font-size: 0.7em;
    font-family: "Montserrat" !important;
    text-align: left;
    padding-left: 0.5em;
}

.dataTables_paginate.paging_simple_numbers {
    float: right;
}

.dataTables_filter {
    font-size: 0.7em !important;
    font-family: 'Montserrat';
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 11.3em !important;
    height: 2.05em !important;
    margin-right: 1em !important;
}

/* CSS TABLE */

.table.dataTable {
    border-collapse: collapse !important;
}

.btnTables {
    background-color: #7716fa;
    color: #fff !important;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    font-size: 0.8em;
    text-align: center;
}

.btnTables:hover, .btnTables:active {
    background-color: #7716fa !important;

}

.btn-option {
    padding: 0.4em 1.1em !important;
    border-radius: 0.2rem !important;
    cursor: pointer;
}

/* TABLE TICKETS */
/* TAB CONSULTAR TICKETS */

/* FORM TICKETS */
.span-form-tickets {
    color: #9d9d9d;
    font-size: .9em;
    margin-bottom: 0;
}

/* FORM TICKETS */

#estatusDropdown .nav-link {
    padding: 0;
    color: #818181 !important;
}

#estatusDropdown .dropdown-item:active {
    color: #818181 !important;
}

#estatusDropdown .dropdown-toggle:after {
    float: right;
    border-top: 0.5em solid !important;
    border-right: 0.5em solid transparent !important;
    border-left: 0.5em solid transparent !important;
    margin-top: .5em !important;
}

#estatusDropdown .dropdown-menu {
    margin-top: 0.4em !important;
    margin-left: -0.7em !important;
    min-width: 12rem !important;
    font-size: 1em !important;
}

#estatusDropdown .dropdown-item {
    padding: 0.5rem 1rem !important;
}

.user-info-content {
    padding-left: 0;
    margin-top: 1.4em;
    padding-right: 0;
    font-size: 0.9em;
}

.user-info-content .info {
    font-weight: lighter;
    width: 100px !important;
    white-space: nowrap;
    display: inline-block !important;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.filter-content {
    /* margin: 0; */
    /* padding: 0; */
    /* height: 1.5em; */
}

.search-filtro {
    float: right;
    height: 2em;
    border-radius: 1em !important;
}

.icon-search {
    font-size: 0.7em !important;
    float: left;
    margin-top: -1.7em;
    float: right;
    margin-right: 0.5em;
}

#modalDetalle .title {
    font-weight: bolder;
    color: #000000;
}

.form-control-row {
    margin-bottom: .5em;
}

#modalDetalle .modal-body {
    font-size: 0.9em;
}

.content-checkbox .label-modal {
    font-weight: bolder;
}

.content-principal label,
.content-falla label,
.content-comentarios label {
    width: 30%;
    font-size: 1em;
    font-family: 'Montserrat';
    font-weight: bold;
}

.content-principal input,
.content-falla select,
.content-comentarios textarea {
    /* width: 60% !important; */
    font-size: .9em;
    font-family: 'Montserrat';
}

.content-checkbox .form-check-input {
    float: right;
}

#estatusDropdown .nav-link {
    padding: 0;
    color: #818181 !important;
}

#estatusDropdown .dropdown-item:active {
    color: #818181 !important;
}

#estatusDropdown .dropdown-toggle:after {
    float: right;
    border-top: 0.5em solid !important;
    border-right: 0.5em solid transparent !important;
    border-left: 0.5em solid transparent !important;
    margin-top: .5em !important;
}

#estatusDropdown .dropdown-menu {
    margin-top: 0.4em !important;
    margin-left: -0.7em !important;
    min-width: 12rem !important;
    font-size: 1em !important;
}

#estatusDropdown .dropdown-item {
    padding: 0.5rem 1rem !important;
}

.user-filter span {
    cursor: pointer;
    padding: 0.4em 1em;
    font-size: 0.9em;
}

.user-filter {
    border-radius: 25px;
    text-align: center;
    /* width: 20%; */
}

.user-filter .fa-filter {
    font-size: 0.9em;
    color: #ccc;
    padding: 0.3em;
}

.filter-tab {
    border: 1px solid #ccc;
    border-radius: 25px;
    /* box-shadow: 0 1px 3px 0 rgb(0 0 0 / 7%), 0 1px 2px 0 rgb(0 0 0 / 5%); */
}

#container_ticket_form .form-controlt {
    height: 2.5em !important;
}

.icon-back {
    font-size: 1.3em;
    padding-top: 0.5px;
    color: #7716fa;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.selected-filter {
    /* background: #ebebeb; */
    color: #7716fa;
    font-weight: bolder;
    border-radius: 25px;
    /* box-shadow: 1px 0px 0 0 rgb(0 0 0 / 3%), 1px 0 10px 0 rgb(0 0 0 / 12%); */
}

.search-filtro-tecnicos {
    float: right;
    height: 2.8em;
    border-radius: 2em !important;
}

.btnBusquedaTecnicos {
    background-color: #7716fa !important;
    color: #ffffff !important;
    border: solid 3px #7716fa !important;
    display: block;
    border-radius: 1em !important;
    float: left;
    position: absolute;
    margin-left: 33.2em;
    border-radius: 2em !important;
    margin-top: 0.1em;
}

.invalid-inputTicket {
    padding-right: calc(1.5em + 0.75rem);
    border-bottom: 2px solid #f55756;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

/* div#tableTicketSoporte_info {
   font-family: "Montserrat";
   font-size: 0.8em;
   color: #a5a5a5 !important;
} */

.cardTecnicosBusqueda {
    border-left: 4px solid #7716fa;
    cursor: pointer;
    box-shadow: 10px 10px 10px 1px rgb(0 0 0 / 5%) !important;
    margin-bottom: 1em;
    border-end-end-radius: 0.5rem;
    border-start-end-radius: 0.5rem;
}

.carbBodyTecnicosBusqueda {
    border-end-end-radius: 0.5rem;
    border-start-end-radius: 0.5rem;
    border: 1px solid #bdbdbd;
}

div.tecnico_seleccionado .icono_check_tecnico {
    display: inline !important;
}

img.responsive-img {
    max-width: 100%;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
    border-radius: 50%;
    height: 2.0em;
    width: 2.0em;
}

p.text-tecnico-nombre {
    font-size: .7em;
    font-weight: bold;
    margin-bottom: 0;
}

p.text-adds-teccnico {
    font-size: .7em;
    color: #3e3e3e;
    margin-bottom: 0;
}

.valign-wrapper {
    border-bottom: 1px solid #eee;
    padding: 0.3rem;
    cursor: pointer;
}

#tecnicosCuentaTable tr td {
    font-size: 0.7em !important;
    font-family: "Montserrat" !important;
    text-align: center;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
}

thead#thead_tecnicosCuenta tr th {
    font-size: 0.7em;
    padding: 1em 1em 1em;
    text-align: center;
    border-top: 1px white solid;
    border-bottom: 1px solid #ccc;
}

#thead_tecnicosCuenta .fa {
    font-size: 13px;
    color: gray;
}

thead#thead_tecnicosCuenta {
    font-weight: bold !important;
    border: 1px #ccc;
    font-family: "Montserrat" !important;
}

#tecnicosCuentaTable img {
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
}

.btn-asignarTecnico {
    font-size: .7em;
    padding: 0.6em 2em 0.6em 2em;
    border: 0.09rem solid #1266f1;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
}

.checkTecnico:checked:focus {
    background-color: #7716fa !important;
    border-color: #7716fa !important;
}

.checkTecnico:checked {
    background-color: #7716fa !important;
    border-color: #7716fa !important;
}

#ingenierosTable img {
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
}

#container_tabla_ingenieros .table thead {
    border-bottom: 1px solid #ccc;
}

#container_tabla_ingenieros .table tr td {
    font-size: 0.7em;
    font-family: "Montserrat" !important;
    text-align: center;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
}

#container_tabla_ingenieros .table td, #container_tabla_ingenieros .table th {
    border-top: 1px solid #fff;
    vertical-align: middle;
    white-space: nowrap;
}

.content-select-ticket-detalle {
    margin-bottom: 0.5em;
}

.titulo-acciones-dinamicas {
    width: 55% !important;
}

#filtros_config .label-filter {
    color: #9d9d9d;
    font-size: .9em;
    margin-bottom: 0;
}

#txtGeografiasConsulta .label-filter {
    color: #9d9d9d;
    font-size: .9em;
    margin-bottom: 0;
}

#filtros_config .label-filter i {
    font-size: .9em;
}

.row-datos-creacion .form-group {
    /* margin-bottom: 1.5em; */
}


#content-mapa-creacion-ticket {
    min-heigth: 65vh;
    height: 65vh;
}

#content-mapa-creacion-ticket {
    min-heigth: 70vh;
    margin-top: 2.2em;
    height: 10em;
    border-radius: .5em;
    border: 1px solid #bdbdbd;
    /* box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%); */
}


.container-fluid.vehiculo-content {
    padding: 0;
    display: flex;
}

span.text-tile-vehiculo {
    font-size: 0.7em;
    color: #000;
    text-transform: uppercase;
}

.text-external-link {
    font-size: 0.7em;
    color: #0c56d0 !important;
    font-weight: bold !important;
    text-decoration-line: underline;

}

.text-external-link:hover {
    color: #114291;
    text-decoration: solid;
    cursor: pointer;
    text-decoration-line: underline;
}



span.text-content-vehiculo {
    /* font-weight: bold; */
    font-size: 0.8em;
    color: #9d9ea2;
}

.container-text-content {
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-text-title-detalle {
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-text-content-detalle {
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-text-title-dictamen {
    width: 80% !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-text-content-dictamen {
    width: 20% !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-info-ot-text {
    margin-top: .8em;
}

.form-gruponoserie {
    padding-right: .3em;
}

.form-gruponoserienuevo {
    padding-left: .3em;
}

#cerrar-gestion-ticket {
    position: absolute;
    right: 0;
    margin-right: .5em;
    z-index: 1em;
    margin-top: .5em;
    z-index: 2;
}

.content-detalle-ticket {
    /* padding:0em 1.5em 1em 1.5em !important; */
    position: relative;
    padding: 0;
}

.title-bloque-detalle {
    margin-bottom: 0;
    font-size: 1em;
    font-weight: bold;
    color: #8032f9;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: .5em;
}

.content-falla.content-tipo-folio {
    margin-bottom: 1em;
}

.opciones-checkbox-dictamen {
    margin-bottom: .2em;
}


.btn-editar-cambios, #asignar-ticket-ingenierobtn {
    font-size: .7em;
    background: #0c56d0;
    color: white;
    font-weight: bold;
    box-shadow: none;
    padding: .6em 2em .6em 2em;
    border: .09rem solid #0c56d0;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
    margin-left: 1em;
    float: right;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-right: 0;
}

.btn-editar-cambios:disabled {
    padding: .7em 2em !important;
}

.send-comment:disabled {
    padding: 0 0.2em !important;
}

.cerrar-cancelar-btn {
    font-size: .7em;
    background: white;
    color: #0c56d0 !important;
    font-weight: bold;
    box-shadow: none;
    padding: .6em 2em .6em 2em;
    border: .09rem solid #0c56d0;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
    float: right;
    margin-top: 1em;
}

.limpiar-btn {
    font-size: .7em;
    font-weight: bold;
    box-shadow: none;
    padding: .6em 2em .6em 2em;
    float: right;
    margin-top: 1em;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
    border: .09rem solid #4f4f4f;
    color: #4f4f4f;
}

#tableTicketSoporte thead tr {
    text-align: center;
}

#ingenierosTable_wrapper .col-12, #ingenierosTable_wrapper .col-sm-12 {
    /* padding: 0 !important; */
    /* padding-left: .5em !important; */
}

#detalleTicketAccordion .accordion-button:after {
    content: "\f054" !important;
    font-size: 0.8em;
    margin-top: 0.2em;
}

#detalleTicketAccordion .accordion-button:not(.collapsed):after {
    transform: rotate(90deg);
}

#detalleTicketAccordion .accordion-button:focus {
    box-shadow: 0 0px 3px 0 rgb(0 0 0 / 5%);
}

#detalleTicketAccordion .accordion-item {
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 5%);
}

.accordion-button, .accordion-collapse {
    box-shadow: 0 0px 3px 0 rgb(0 0 0 / 5%);
}

#detalleTicketAccordion .imgFoto {
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
    cursor: pointer;
    border-radius: 35px;
}

#detalleTicketAccordion .accordion-item {
    margin: 1em;
}

#detalleTicketAccordion .accordion-button {
    color: #000000 !important;
}

#detalleTicketAccordion .accordion-button:hover, .accordion-button:not(:hover):focus {
    background-color: #fff !important;
}

#detalleTicketAccordion .accordion-body {
    padding: 0.5rem 1rem;
}

#opcion-creatickets .inputTicket {
    box-shadow: none !important;
    /* cursor: pointer; */
}

#opcion-creatickets select.inputTicket {
    cursor: pointer;
}

.inputTicket {
    border: 1px solid #dbdbdb !important;
    font-weight: 400;
    color: #818181 !important;
    transition: all 0.5s ease;
    padding: 0.4em 0.5em;
    background: white !important;
    border-radius: 0.5em !important;
    /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important; */
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 7%), 0 1px 2px 0 rgb(0 0 0 / 5%) !important;
    border-bottom: 0 1px 3px 0 rgb(0 0 0 / 7%), 0 1px 2px 0 rgb(0 0 0 / 5%) !important;
}

.inputTicket input {
    height: 2.2em;
}

.inputTicket-select::after {
    content: "";
    position: absolute;
    right: 5%;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid #939db2;
    clear: both;
    z-index: 2;
    font-size: 14px;
    margin-top: -1.2em;
}

.inputTicket-select {
    height: 2em;
}


.input-filtro-content {
    width: 170px;
    padding-right: 0;
}

.content-falla {
    padding: 0 0 0 2em;
}

i.icono-noseleccion {
    color: #ff9f3b;
    display: inline-block;
}

.text-accion-nopermiso {
    font-size: 12px;
    color: grey;
    padding: 1em;
    font-weight: bold;
    text-align: center;
}

.text-not-permiso {
    margin-left: 0.5em;
    font-size: 1.5em;
    font-weight: normal;
}

.text-accion-nopermiso .icon-not-permiso {
    color: #9586a9;
    font-size: 1.3em;
    padding: 0.5em;
    border-radius: 50%;
    /* background: #9586a9; */
    width: 2em;
    height: 2em;
    /* box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);**/
}

.icon-user-detalle {
    font-size: 0.6em;
    margin: 0 0.5em 0 1.5em;
    color: #000;
}


/*BOX COMMENTS*/
.icon-color-comments {
    color: #7f4c9d;
    display: inline;
    float: right;
    cursor: pointer;
    transition: all 0.5s ease;
    font-size: 1.8em;
    text-shadow: -4px 1px 10px rgb(14 51 33 / 28%);
}


.box-comments {
    z-index: 2;
    top: 0;
    max-width: 400px;
    left: 3em;
    box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
}

.container-comments {
    background-color: #cccccc1a;
    padding: 0.5em;
}

.box-content {
    overflow-y: scroll;
    overflow: auto;
    max-height: 26em;
}

.addtxt {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.6em;
    width: 350px;
}

.no-comments {
    padding: 1em;
    color: #ccc;
    text-align: center;
}

.form-control: focus {
    color: #000;
}

.second {
    width: 350px;
    background-color: white;
    border-radius: 4px;
    overflow-wrap: break-word !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    overflow: hidden;
    text-overflow: ellipsis;
}

.text1 {
    font-size: 0.8em;
    font-weight: 500;
    color: #000;
}

.text2 {
    font-size: 0.6em;
    color: #56575b;
}
.text-hora-comments{
    font-style:italic;
}

.send-comment {
    height: 2em;
    width: 2em;
    padding: 0 0.2em;
    border-radius: 50%;
    margin-left: 0.5em;
    font-size: 1em;
}

.box-comments-header {
    padding: 1em;
    color: #000;
border-bottom: 1px solid #e0e0e0;color: #686868;font-size: 1.1em;font-weight: bold;}

.no-ingeniero {
    font-size: 0.9em;
    padding: 1em;
    text-align: right;
}


.no-dictamen {
    font-size: 0.8em;
    padding: 2em;
}

.header-detalle {
    background-color: #fff !important;
    box-shadow: 0 0px 3px 0 rgb(0 0 0 / 5%);
}

.header-back-title {
    background-color: #fff !important;
    border-bottom: 0px solid rgba(255, 255, 255, 0.125);
}

.style_card_header_detallepro {
    background-color: #fff !important;
    box-shadow: 0 0px 3px 0 rgb(0 0 0 / 8%);
}

.style-head-card {
    background-color: #fff !important;
    box-shadow: 0 0px 3px 0 rgb(0 0 0 / 5%);

}

/*BOX COMMENTS*/

.estiloBlockIconoPermiso {
    opacity: 0.3 !important;
    cursor: no-drop !important;
}

#message-success-resumen {
    color: #006e2c;
    background-color: #ccf1db;
    border-color: #b3e9c9;
    padding: 0.5em 1.5em;
}

#tecnicosCuentaTable tbody tr td:nth-child(2), #tecnicosCuentaTable tbody tr td:nth-child(3) {
    color: #0f0f0f !important;
    font-weight: bold;
}

#opcion-creatickets div#message-error-resumen, #message-success-resumen {
    font-size: .8em;
    line-height: 1;
}

#opcion-creatickets .btn-editar-cambios, .limpiar-btn {
    margin-top: 0 !important;
}

.dropleft.show .dropup-comments{
    
border: 1px solid #e0e0e0 !important;}