#container_ticket, #container_ticket_form {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    /* padding-top: 1em; */
    background: white;
    border-radius: .5em;
    margin-top: 1em;
    padding: 0;
}
/* TAB CONSULTAR TICKETS */
/* FILTROS CONSULTA TICKETS */

.input-filtro-ticket {
    border: 1px solid #dbdbdb !important;
    font-weight: 400;
    font-size: 1em;
    color: #818181 !important;
    transition: all 0.5s ease;
    border-bottom: 1px solid white;
    background: white !important;
    border-radius: 0.5em !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
}

.form-content {
    font-size: 0.7em;
    font-weight: bold !important;
    margin-bottom: 1em;
    margin-top: 1em;
    font-family: "Montserrat";

}


.input-filtro-ticket::placeholder {
    font-weight: 400;
    font-size: 1em;
    color: #818181 !important;
}

.input-filtro-ticket:focus {
    -webkit-box-shadow: none;
}

.input-filtro-ticket:hover {
    cursor: pointer;
    border-bottom: 2px solid #a4b1ff !important;
}

.btnTicket:active, .btnTicket:focus .btnTicket:hover {
    background-color: white !important;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
    color: #7716fa;
}

.btnTicket {
    background-color: #ffffff !important;
    color: #7716fa !important;
    border: solid 1px #7716fa !important;
    padding: .5em 2.5em;
    border-radius: 5px;
    font-size: 0.9em;
    position: relative;
    display: block;
    border-radius: .5em !important;
    float: left;
    margin-top: 2.5em;
}


/* TABLE TICKETS */
#tableTicketSoporte tr td {
    font-size: 0.7em !important;
    font-family: "Montserrat" !important;
    text-align: center;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
}

thead#thead_ticketSoporte tr th {
    font-size: 0.7em;
    padding: 1em 1em 1em;
    text-align: center;
    border-top: 1px white solid;
    border-bottom: 1px solid #ccc;
}  
#thead_ticketSoporte .fa {
    font-size: 13px;
    color: gray;
}
thead#thead_ticketSoporte {
    font-weight: bold !important;
    border: 1px #ccc;
    font-family: "Montserrat" !important;
}

table.dataTable.no-footer {
    border-bottom: transparent !important;
    margin-top: 0 !important;
}

.table.dataTable {
    border-collapse: collapse !important;
}

table.display.table.table-hover.table-striped.dataTable {
    font-size: small;
}
/* PAGINATION */
.pagination {
    display: block !important;
}
  
.pagination .paginate_button a.page-link {
    color: #828080;
    font-family: "Montserrat";
    background-color: white !important;
    box-shadow: none !important;
}
  
.pagination .paginate_button.active {
    background-color: gray !important;
}
  
.pagination .previous a.page-link {
    color: white !important;
    font-size: 0;
}
  
.pagination .next a.page-link {
    color: white !important;
    font-size: 0;
}
  
.pagination .previous a:after {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f104";
    visibility: visible;
    color: #828080 !important;
    font-size: initial !important;
}
  
.pagination .next a:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f105";
    visibility: visible;
    color: #828080 !important;
    font-size: initial !important;
}
  
.dataTables_wrapper .dataTables_paginate .paginate_button a {
    padding: 1px 1px 1px 1px;
}
  
.pagination .paginate_button > .active {
    border: #000000 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: initial !important;
}
/* PAGINATION */
/* TABLE TICKETS */
/* TAB CONSULTAR TICKETS */

/* FORM TICKETS */
.span-form-tickets {
    color: #9d9d9d;
    font-size: .9em;
    margin-bottom: 0;
}
/* FORM TICKETS */



#estatusDropdown .nav-link {
    padding: 0;
    color: #818181 !important;
}

#estatusDropdown .dropdown-item:active {
    color: #818181 !important;
}

#estatusDropdown .dropdown-toggle:after {
    float: right;
    border-top: 0.5em solid !important;
    border-right: 0.5em solid transparent !important;
    border-left: 0.5em solid transparent !important;
    margin-top: .5em !important;
}

#estatusDropdown .dropdown-menu {
    margin-top: 0.4em !important;
    margin-left: -0.7em !important;
    min-width: 12rem !important;
    font-size: 1em !important;
}

#estatusDropdown .dropdown-item {
    padding: 0.5rem 1rem !important;
}

.user-info-content {
    padding-left: 0;
    margin-top: 1.9em;
    padding-right: 0;
    font-size: 0.9em;
}

.user-info-content .info {
    font-weight: lighter;
    width: 100px !important;
    white-space: nowrap;
    display: inline-block !important;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.filter-content {
    margin: 0;
    padding: 0;
    height: 1.5em;
}

.search-filtro {
    float: right;
    height: 2em;
    border-radius: 1em !important;
}

.icon-search {
    font-size: 0.7em !important;
    float: left;
    margin-top: -1.7em;
    float: right;
    margin-right: 0.5em;
}


#modalDetalle .title {
    font-weight: bolder;
    color: #000000;
}

.form-control-row {
    margin-bottom: .5em;
}

#modalDetalle .modal-body {
    font-size: 0.9em;
}

.content-checkbox .label-modal {
    font-weight: bolder;
}

.content-principal label,
.content-falla label,
.content-comentarios label {
    width: 30%;
}

.content-principal input,
.content-falla select,
.content-comentarios textarea {
    width: 60% !important;
}

.content-checkbox .form-check-input {
    float: right;
}

#estatusDropdown .nav-link {
    padding: 0;
    color: #818181 !important;
}

#estatusDropdown .dropdown-item:active {
    color: #818181 !important;
}

#estatusDropdown .dropdown-toggle:after {
    float: right;
    border-top: 0.5em solid !important;
    border-right: 0.5em solid transparent !important;
    border-left: 0.5em solid transparent !important;
    margin-top: .5em !important;
}

#estatusDropdown .dropdown-menu {
    margin-top: 0.4em !important;
    margin-left: -0.7em !important;
    min-width: 12rem !important;
    font-size: 1em !important;
}

#estatusDropdown .dropdown-item {
    padding: 0.5rem 1rem !important;
}

.user-filter span{
    cursor: pointer;
    padding: 0.4em;
    font-size: 0.9em;
}

.user-filter {
    border-radius: 25px;
    text-align: center;
}

.user-filter .fa-filter{
    font-size: 0.9em;
    color: #ccc;
    padding: 0.3em;
}

.filter-tab {
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 7%), 0 1px 2px 0 rgb(0 0 0 / 5%);
}

#container_ticket_form .form-control {
    height: 2.5em;
}

.icon-back {
    font-size: 1.3em;
    padding-top: 0.5px;
    color: #7716fa;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

#tableTicketSoporte i{
    color: #7716fa;
    font-size: 1.4em !important;
    cursor: pointer;
}

.selected-filter{
   background: #b0b0b0;
   color: white;
   font-weight: bolder;
   border-radius: 25px;
    box-shadow: 1px 0px 0 0 rgb(0 0 0 / 16%), 1px 0 10px 0 rgb(0 0 0 / 12%);
}