/* ULTIMAS ACCIONES */

#menu-acciones a>span {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s, opacity 0.7s linear;
}

#menu-acciones:hover a>span {
    visibility: visible;
    opacity: 1;
}

.right-menuAcciones {
    background-color: #b1b1b1 !important;
    padding: 0;
    z-index: 1001;
    position: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
    display: block;
    box-shadow: 0 4px 13px -3px rgb(0 0 0 / 10%);
    border-right: 1px solid #d2d2d2;
    right: 0;
    color: #fff;
    border-radius: .5rem 0 0 .5rem;
}

.left-menuAcciones {
    background-color: #b1b1b1 !important;
    padding: 0;
    z-index: 1001;
    position: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
    display: block;
    box-shadow: 0 4px 13px -3px rgb(0 0 0 / 10%);
    border-right: 1px solid #d2d2d2;
    color: #fff;
    border-radius: 0 0.5rem 0.5rem 0;
}

@media screen and (max-width: 1300px) {
    .small-menuAcciones {
        width: 3.8% !important;
        transition: width .5s;
    }

    .small-menuAcciones:hover {
        width: 16% !important;
    }
}

.small-menuAcciones {
    width: 3%;
    transition: width .5s;
}

.small-menuAcciones:hover {
    width: 10%;
}

.right-menuAcciones .small-menuAcciones:hover {
    overflow-y: auto;
    overflow-x: hidden;
}

.small-sf:hover {
    width: 22% !important;
}

.titulo-opcion-menu {
    height: 5em;
    line-height: 5em;
    font-size: 1em;
    padding-left: 0;
}

.opcion-menuAcciones {
    cursor: pointer;
    height: 2em;
    line-height: 2.5em;
    padding: 0.5em 0.5em 0.5em 0;
}

.small-menuAcciones .opcion-menuAcciones:hover .icon-menu-ultimAccion {
    color: #fff;
    font-weight: bold;
    padding: 0.5em 0.5em 0.5em 0;
}

.left-menuAcciones .opcion-menuAcciones:hover .icon-menu-ultimAccion {
    color: #fff;
    font-weight: bold;
    float: right;
    padding: 0.7em 0.7em 0 0;
}

.left-menuAcciones .opcion-menuAcciones .icon-menu-ultimAccion {
    float: right;
    padding: 0.7em 0.7em 0.7em 0;
}

.small-menuAcciones .opcion-menuAcciones:hover .titulo-menuAcciones {
    color: #fff;
    font-weight: bold;
}

.icon-menu-ultimAccion {
    padding: 0.5em 0.5em 0.5em 0;
}

.titulo-menuAcciones {
    font-weight: bold;
}

.nav-item a:hover {
    text-decoration: none !important;
}

.nav-item a {
    text-decoration: none !important;
}

.small-menuAcciones .opcion-menuAcciones {
    white-space: nowrap;
    width: 100%;
    text-align: center;
    transition: width 1s ease;
    color: #fff;
    padding: 0.5em 1em;
}

.small-menuAcciones:hover>.opcion-menuAcciones {
    width: 25%;
    padding: 0.5em 0.5em 0.5em 0;
}

.small-menuAcciones .parent-monitor-menu {
    white-space: nowrap;
    width: 100%;
    text-align: center;
    transition: width 1s ease;
    margin-top: 2em;
    margin-bottom: 2em;
}

.small-menuAcciones:hover>.parent-monitor-menu {
    width: 5%;
}

.small-menuAcciones .parent-monitor-menu {
    white-space: nowrap;
    width: 100%;
    text-align: center;
    padding-left: 1em;
    transition: width 1s ease;
    margin-top: 2em;
    margin-bottom: 2em;
}

.icon-menuAcciones-ultimAccion {
    color: #fff;
    border-radius: 5px;
}

.parent-monitor-menu .icon-menu-ultimAccion {
    color: #7700ff;
    font-size: 1.3em;
}

.parent-monitor-menu .titulo-menuAcciones {
    color: #fff;
    font-size: 1em;
    padding: 0.5em 0.5em 0.5em 0;
}

.titulo-menuAcciones:hover {
    color: #fff;
    padding: 0;
}

.contenedor-ultimasAcciones {
    right: 0;
    left: auto;
    background-color: #fff;
    z-index: 9999999;
    top: 0;
    width: 360px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    max-width: 1115px;
    border-radius: 0 0 0 0.5em;
    padding: 0px !important;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden !important;
    height: 100%;
}

.btn-closeAcciones {
    width: 0.2em !important;
    height: 0.2em !important;
    margin-top: 1em;
}

.btn-refreshAcciones {
    background: transparent;
    border: none;
    font-size: .7em;
    width: 0.2em !important;
    height: 0.2em !important;
    box-sizing: content-box;
    opacity: .5;
    padding-top: 1.2em;
}

/* CONTAINER ACCIONES */

.text-no-acciones {
    font-size: 12px;
    color: grey;
    padding: 1em;
    font-weight: bold;
    text-align: center;
    padding-top: 2em;
}

.text-no-acciones .icon-not-action {
    color: #9586a9;
    font-size: 1.3em;
    padding: 0.5em;
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

.text-not-action {
    margin-left: 0.5em;
    font-size: 1.5em;
    font-weight: normal;
}

#ultimasAccionesContent .action-timeline li {
    position: relative;
    padding: .7rem 0;
    list-style: none;
}

#ultimasAccionesContent .action-timeline {
    margin: 0.7rem 5%;
    padding-left: 40px !important;
}

.sidenav li.active {
    background-color: transparent;
}

#ultimasAccionesContent .action-timeline li.timeline-actions:before {
    position: absolute;
    z-index: 2;
    top: 22px;
    left: -37px;
    width: 13px;
    height: 13px;
    content: '';
    border: 3px solid #fff;
    border-radius: 50%;
    background: #3f51b5;
    box-shadow: 1px 2px 6px 0 rgb(25 42 70 / 30%)
}

.action-timeline li.timeline-actions.timeline-icon-success:before {
    background: #4caf50 !important;
}

.action-timeline li.timeline-actions.timeline-icon-error:before {
    background: #f44336 !important;
}

.action-timeline li.timeline-actions.timeline-icon-warning:before {
    background: #ff9800 !important;
}

#ultimasAccionesContent .action-timeline li .action-time {
    font-size: .75rem;
    line-height: 1.6;
}

#ultimasAccionesContent .action-timeline li .action-title {
    font-size: 15px;
    font-weight: 900;
    line-height: 1;
    margin: 0;
    color: #6b6f82;
}

#ultimasAccionesContent .action-timeline li .action-text {
    font-size: .75rem;
    line-height: 1.5;
    margin: 0;
    color: #9e9e9e;
    word-break: break-all;
    margin-top: 0.4em;
}

#ultimasAccionesContent .action-timeline li.timeline-actions.active:not(:last-child):after {
    position: absolute;
    z-index: 1;
    top: 22px;
    left: -31px;
    width: 1px;
    height: 100%;
    content: '';
    background: #e0e0e0
}

.styleAction {
    list-style-type: none;
}

#headerUltimasAcciones {
    position: fixed;
    background: #fff;
    z-index: 99999999;
    width: 360px;
}

#ultimasAccionesContent {
    padding-top: 3em;
}

.timeline_actions {
    margin-bottom: 1.5em;
}

/* CONTAINER ACCIONES */

/* ULTIMAS ACCIONES */