body {
    font-family: 'Montserrat';
     margin: 0;
      height: 100%;
}
.header-navbar-p{
   /* border-bottom: 1px solid #eaeaea; */
   background: #f1f2f2;
}



.ul-elementos-nav .nav-item{
    font-weight:bold;
    margin-right: 1.5em;
    /* color: red !important; */
}
 
 .ul-elementos-nav .nav-item:first-child{
   margin-left:2em;
}
.ul-elementos-nav .nav-item.active{
   border-bottom: .3em solid #7716FA;
}
.ul-elementos-nav .nav-item.active a{
    color: #7716FA !important;
}


.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom {
            box-shadow: 0 1px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    -webkit-box-shadow: 0 1px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.logout-text-nav {
    font-size: .9em;
    font-weight: bold;
    margin-right: 1em;
    color: #1266f1 !important;
}




.container-top-header{
    margin:0;
    padding-left:.2em !important;
    padding-rigth:.2em;
    padding-top: .1em;
    /* border-bottom: 1px solid #eaeaea; */
}
.content-header {
    display: inline-block;
    vertical-align: text-top;
    margin-left: 1em;
}
h5.header-nombre-usuario {
    font-size: .9em;
    font-weight:bold;
    margin-bottom:0;
}
h5.header-perfil-usuario {
    font-size: .8em;
    margin-bottom:0;
}

.content-header img {
    vertical-align: middle;
    vertical-align: initial;
    /* object-fit: cover; */
}

.navbar-menu-generic {
    padding: 0;
    box-sizing: none !important;
    box-shadow: none;
    background: white !important;
}
.container-fludi-navbar{
  padding-left:0
}


::-webkit-scrollbar {
  width: .6em;
  height:.7em;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}
 
::-webkit-scrollbar-thumb {
  background-color: #9ca4b3;
  outline: 1px solid #9ca4b3;
  
}

.navbar-light .navbar-nav .nav-link {
  color:#9d9ea2;
  padding-left: .3em !important;
}

#toast-container .toast:hover{
        -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
#toast-container .toast:hover{
        -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.icon-navbar-izquierda {
    display: inline-block;
    /* color: #7a7f87 !important; */
    color: #9d9ea2;
  }
  .a-navlink-navbar {
    display: inline-block;
  }
  
  .ul-elementos-nav .nav-item.active .icon-navbar-izquierda {
    color: #7716fa !important;
  }
  
  .dropdown-item {
    font-size: 0.9em !important;
    font-family: "Montserrat" !important;
    color: black !important;
    padding: .25rem 1.5rem !important;
  }
  
  .dropdown-item.active,
  .dropdown-item:active {
    color: #7716fa !important;
    background: #fff !important;
    font-weight: bold !important;
  }
  
  .dropdown-menu {
    font-size: 0.9em !important;
    padding: 0 0 !important;
    border: 0 !important;
  
  }


.container-title-header{
  margin-top:.5em;
}
.header-navbar-p{
   box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
   background:white;
}
h5.title-modulo {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 1.1em;
}
h1.h6.subtitle-modulo {
    /* font-weight: bold; */
    font-size: .9em;
    color: #767676;
}

.modal-dialog{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 45%) 0px 2px 10px;
}

.modal-footer{
  border:none !important;
}
.modal-footer .btn-cerrar-modal{
    font-size: .7em;
    background: white;
    color: #0c56d0;
    font-weight: bold;
    box-shadow: none;
    padding:.6em 2em .6em 2em;
    border: .09rem solid #0c56d0;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
    border-radius

}
.modal-footer .btn-aceptar-modal{
    font-size: .7em;
    background:  #0c56d0;
    color: white;
    font-weight: bold;
    box-shadow: none;
    padding:.6em 2em .6em 2em;
    border: .09rem solid #0c56d0;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
    margin-left:1em;
} 
.modal-header .modal-title{
  font-weight:bold;
}


.img-despacho-navbar{
    object-fit: cover;
    border-radius: 50%;
    width: 2.2em;
    height: 2.2em;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    cursor:pointer;
}
#modalFotoDespacho .modal-body {
    padding: 0px !important;
}
.text-despacho-modal{
  margin-bottom:0;
  display:inline;
  color: #989898;
  font-size: .8em;
  /* font-weight: bold; */
  font-family: 'Montserrat';
}

.text-despacho-modal-fotter{
   font-weight: bold;
}

.container-card-despacho{
  display: block;
  margin-top:.5em;
   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title-despacho-modal{
  padding-right:0;
  color: #303030;
  font-size: .9em;
}
.nombrecompletodespacho{
  font-size:1.2em;
  font-weight:bold;
  color:#3c3c3c;
}