:root {
  --estandar-color: #3942d7;
  --btn-color-guardar: #1266f1;
  --btn-color-buscar: #3942d7;
  --btn-color-cancelar: #3942d7;
  --btn-color-limpiar: #3942d7;
  --btn-color-siguiente: #1266f1;
  --btn-color-guardar-modal: #1266f1;
  --btn-color-cerrar-modal: #3942d7;
  --btn-color-siguiente-modal: #1266f1;
  --btn-color-editar-tabla: #3942d7;
  --btn-color-eliminar-tabla: #f55756;
  --btn-color-detalle-tabla: #3942d7;
  --btn-color-evidencia-tabla: #3942d7;
  --btn-color-agendar-tabla: #3942d7;
  --btn-color-cambiar-contrasena-tabla: #3942d7;
  --btn-color-liberar-pago-tabla: #3942d7;
  --btn-color-ubicacion-tabla: #3942d7;
  --btn-color-paginador-tabla: #1266f1;
  --link-ref-generic:#428bca;
}
/* #3942d7 */
/* #1266f1 */
/* #f55756 */

body {
  font-family: 'Montserrat';
  margin: 0;
  height: 100%;
}

body {
  color: grey;
}

.header-navbar-p {
  /* border-bottom: 1px solid #eaeaea; */
  background: #f1f2f2;
}



.ul-elementos-nav .nav-item {
  font-weight: bold;
  margin-right: 1em;
  /* color: red !important; */
}

.ul-elementos-nav .nav-item:first-child {
  margin-left: .5em;
}

.ul-elementos-nav .nav-item.active {
  /* border-left: .2em solid var(--estandar-color); */
  /* padding-left: 1em; */
  /* border-right: .2em solid var(--estandar-color); */
  /* font-size: 1.1em; */
}

.ul-elementos-nav .nav-item.active a {
  color: var(--estandar-color) !important;
  font-size: .9em;
  /* font-weight: bold; */
}


.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom {
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  -webkit-box-shadow: 0 1px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.logout-text-nav {
  font-size: .9em;
  font-weight: bold;
  margin-right: 1em;
  color: #1266f1 !important;
}




.container-top-header {
  margin: 0;
  padding-left: .2em !important;
  padding-top: .1em;
  /* border-bottom: 1px solid #eaeaea; */
}

.content-header {
  /* display: inline-block; */
  vertical-align: text-top;
  margin-left: 1em;
  position: relative;
}

.content-header-border::before {
  position: absolute;
  right: -.5em;
  top: 50%;
  background: #dee2e6;
  width: 1px;
  height: 30px;
  margin-top: -15px;
  content: '';
  /* display: inline-flex; */
}

.header-nombre-usuario {
  font-size: .7em;
  margin-bottom: 0;
  opacity: .8;
  font-weight: bold;
  color: #495057;
}

.nav-nombre-usuario-generic {
  width: 180px;
  white-space: nowrap;
  display: inline-block ;
  overflow: hidden;
  text-overflow: ellipsis;
}

h5.header-perfil-usuario {
  font-size: .7em;
  margin-bottom: 0;
  opacity: .7;
  /* color: black; */
}

.content-header img {
  vertical-align: middle;
  vertical-align: initial;
  /* object-fit: cover; */
}

.navbar-menu-generic {
  padding: 0;
  box-sizing: none !important;
  box-shadow: none;
  height: 3em;
  background: white !important;
  object-fit: cover;
}

.container-fludi-navbar {
  padding-left: 0
}


::-webkit-scrollbar {
  width: .6em;
  height: .7em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}

::-webkit-scrollbar-thumb {
  background-color: #9ca4b3;
  outline: 1px solid #9ca4b3;

}

.navbar-light .navbar-nav .nav-link {
  color: #9d9ea2;
  padding-left: .3em !important;
  font-size: .8em;
}

#toast-container .toast:hover {
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

#toast-container .toast:hover {
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.icon-navbar-izquierda {
  display: inline-block;
  /* color: #7a7f87 !important; */
  color: #9d9ea2;
  font-size: .8em;
}

.a-navlink-navbar {
  display: inline-block;
}

.ul-elementos-nav .nav-item.active .icon-navbar-izquierda {
  color: var(--estandar-color) !important;
}

.dropdown-item {
  font-size: 0.9em !important;
  font-family: "Montserrat" !important;
  color: black !important;
  padding: .25rem 1.5rem !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: var(--estandar-color) !important;
  background: #fff !important;
  font-weight: bold !important;
}

.dropdown-menu {
  font-size: 0.9em !important;
  padding: 0 0 !important;
  border: 0 !important;

}


.container-title-header {
  margin-top: .5em;
}

.header-navbar-p {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  background: white;
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
}

h5.title-modulo {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 1.1em;
}

h1.h6.subtitle-modulo {
  /* font-weight: bold; */
  font-size: .9em;
  color: #767676;
}

.modal-dialog {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 45%) 0px 2px 10px;
}

.modal-footer {
  border: none !important;
}

.modal-footer .btn-cerrar-modal {
  font-size: .7em;
  background: white;
  color: #0c56d0;
  font-weight: bold;
  box-shadow: none;
  padding: .6em 2em .6em 2em;
  border: .09rem solid #0c56d0;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
}

.modal-footer .btn-aceptar-modal {
  font-size: .7em;
  background: #0c56d0;
  color: white;
  font-weight: bold;
  box-shadow: none;
  padding: .6em 2em .6em 2em;
  border: .09rem solid #0c56d0;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
  margin-left: 1em;
}

.modal-header .modal-title {
  font-weight: bold;
}


.img-despacho-navbar {
  object-fit: cover;
  border-radius: 50%;
  width: 2.2em;
  height: 2.2em;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

#modalFotoDespacho .modal-body {
  padding: 0px !important;
}

.text-despacho-modal {
  margin-bottom: 0;
  display: inline;
  color: #989898;
  font-size: .8em;
  /* font-weight: bold; */
  font-family: 'Montserrat';
}

.text-despacho-modal-fotter {
  font-weight: bold;
}

.container-card-despacho {
  display: block;
  margin-top: .5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-despacho-modal {
  padding-right: 0;
  color: #303030;
  font-size: .9em;
}

.nombrecompletodespacho {
  font-size: 1.2em;
  font-weight: bold;
  color: #3c3c3c;
}


.div-contenedor-kmz-buttons {
  position: absolute;
  z-index: 9;
  text-align: center;
  border: none;
  box-shadow: 0 2px 2px 2px rgb(0 0 0 / 5%), 0 2px 2px 2px rgb(0 0 0 / 5%), 0 2px 2px 2px rgb(0 0 0 / 5%);
  background-color: white;
  margin: 1em;
  min-width: 250px;
  /* right: 0; */
  /* bottom: 0; */
}

.form-body-filter label {
  margin-left: 0em;
  color: dimgrey;
  font-weight: bolder;
}

.form-check-vistamapa {
  text-align: left;
}

.icono-ocultar-mostrar-map {
  position: absolute;
  right: 5%;
  cursor: pointer;
  color: #959595;
}

.title-tipoot-map-filtros {
  margin-left: 0em;
  color: #3c3c3c;
  font-weight: bolder;
  text-align: left;
}

#nav-bar-otros-options ul.dropdown-menu li.active a {
  border-right: .3em var(--estandar-color) solid;
  color: var(--estandar-color) !important;
  font-weight: bold;
}

#nav-bar-otros-options ul.dropdown-menu li.active a i {
  color: var(--estandar-color) !important;
  font-weight: bold;
}


#nav-bar-otros-options !>.active {
  background: #000 !important;
}


#nav-bar-otros-options ul li.active:parent {
  background: red !important;
}




.active-otros-navbar a.dropdown-toggle {
  color: var(--estandar-color) !important;
  font-size: .8em;
}

img.image-totalplayheader {
  /* height: 1.7em; */
  margin-left: 1em;
  margin-right:1em;
  height: inherit;
  width: -webkit-fill-available;
}

.content-image {
  height: 4em; 
  width: 9em;
}

.image-totalplayheader-vertical{
  height: auto;
  margin-left: 1em;
  margin-right:1em;
  width: 4em;
}

.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 1.3em;
  height: 1.3em;
  margin: 0 auto;
}

.icon-wrapper-alt-pais {
  margin: 0;
  height: 1.8em;
  width: 1.8em;
  text-align: center;
  overflow: visible;
  position: relative;
  background: #e8e8eb;
  margin: 0 auto;
}

.icon-wrapper-alt-user {
  width: 2.3em;
  height: 2.3em;
  cursor: pointer;
}

.icon-wrapper-alt-notifi {
  margin: 0;
  height: 1.6em;
  width: 1.6em;
  text-align: center;
  overflow: visible;
  position: relative;
  background: #e8e8eb;
  margin: 0 auto;
}

.icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn-primary.button-salir {
  padding-left: .5em;
  padding-right: .5em;
  box-shadow: none;
  font-size: .8em;
  font-weight: bold;
  background: white;
  color: var(--estandar-color);
  border: 1px solid #c3c3c3;
  transition: all .3s ease-in;

}

.btn-primary.button-salir:hover {
  background: #3942d7;
  color: white;
  border: 1px solid #3942d7;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);

}


.back-groud-notifi {
  background-color: #f6e6eb !important;
}

.icon-notificaciones-header-text {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  margin: 0 auto;
  color: #d92550;
  font-size: 1.1em;
}

.badge-dot.badge-dot-sm {
  width: 8px;
  height: 8px;
  border-width: 1px;
  top: 10px;
  right: 9px;
  border: 0;
  border-radius: 50% !important;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}



.icon-notificaciones-header-text-user {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  margin: 0 auto;
  color: #68c07d;
  font-size: 1.1em;
}

img.img-despacho-navbar.img-user-profile-navbar {
  width: 2.3em;
  height: 2.3em;
}

.message-password-warning {
  padding: 0 1.5em;
  font-size: 0.7em;
  color: orange;
}

#user-info-login .dropdown-menu-header {
  color: #fff;
  margin-top: -0.65rem;
  margin-bottom: 0.65rem;
  position: relative;
  z-index: 6;
  border-radius: 0.25rem;
  font-family: 'Montserrat';
  font-size: 0.8em;
}

#user-info-login .dropdown-menu-header .dropdown-menu-header-inner {
  padding: 1.5rem 0.5rem;
  position: relative;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background-color: #7f4c9d !important;
  animation: img-perfil-show 1s 1;
}

#user-info-login .dropdown-menu-header .widget-content-wrapper {
  display: flex;
}

#user-info-login .dropdown-menu-header .img-user-profile-navbar {
  width: 3.5em;
  height: 3.5em;
}

#user-info-login .dropdown-menu-right {
  width: 23em;
  margin-top: 1.5em;
  margin-right: -4.5em;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

#user-info-login .btn-primary.button-salir {
  padding: 0.25rem 1rem;
  font-size: .8em;
  font-weight: bold;
  background: #2955c8;
  color: #fff;
  transition: all .3s ease-in;
  text-transform: none;
  border: none;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  transition: all .3s ease-in;

}


#user-info-login .btn-primary.button-salir:hover {
  background: #2955c8;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);

}

#user-info-login .content-logout {
  text-align: center;
  padding: 0.5rem 1rem;
}

#user-info-login .dropdown-menu-opciones {
  margin-top: 1.5em;
}

#user-info-login .dropdown-menu-opciones .nav-item {
  color: #3f6ad8;
  text-decoration: none;
  background-color: transparent;
  font-size: 0.9em;
  font-weight: bold;
  cursor: pointer;
  padding: 0.2em 0.8em;
}

#user-info-login .dropdown-menu-info .vertical-timeline::before {
  content: '';
  position: absolute;
  height: 5%;
  width: 4px;
  background: #e9ecef;
  border-radius: 0.25rem;
}

#user-info-login .dropdown-menu-info .vertical-without-time::before {
  left: 11px;
}

#user-info-login .dropdown-menu-info .vertical-timeline-element {
  margin: 0 0 0.2rem;
  position: relative;
}

#user-info-login .dropdown-menu-info .vertical-timeline-element-icon::after {
  content: '';
  height: 8px;
  width: 8px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  border-radius: 20px;
  margin: -4px 0 0 -4px;
}

#user-info-login .dropdown-menu-info .vertical-timeline-element-icon {
  height: 14px;
  width: 14px;
  background: #e9ecef;
  position: absolute;
  left: 6px;
  top: 2px;
  display: block;
  border-radius: 20px;
}



#user-info-login .dropdown-menu-info .vertical-timeline-element-icon.bounce-in {
  visibility: visible;
  animation: cd-bounce-1 .8s;
}

#user-info-login .dropdown-menu-info .vertical-timeline-element-content {
  margin-left: 30px;
  font-size: 0.8em;
  color: #686868;
  font-weight: bold;
  width: 80%;
  white-space: nowrap;
  display: inline-block ;
  overflow: hidden;
  text-overflow: ellipsis;
}

#user-info-login .dropdown-menu-header-inner-img .img-user-profile-navbar {
  width: 28.8em;
  height: 20em;
  border-radius: 0;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  animation: img-perfil-show 1s 1;

  /* box-shadow: 0 5px 15px 0 rgb(0 0 0 / 5%); */
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
}

#user-info-login .dropdown-menu-header-inner-img .widget-content-left-text {
  position: absolute;
  background: rgb(129 122 122 / 50%);
  width: 100%;
  text-align: center;
  height: 5em;
  padding: 0 1em;
  margin-top: -5.5em;
  padding-top: 1em;
}

#user-info-login .widget-subheading,  {
  width: 90%;
  white-space: nowrap;
  display: inline-block ;
  overflow: hidden;
  text-overflow: ellipsis;
}

#user-info-login .widget-content-icon-size-out {
  float: right;
  cursor: pointer;
  font-size: 1.5em;
  margin-top: -0.5em;
}

#user-info-login .widget-content-icon-size-in {
  float: right;
  cursor: pointer;
  font-size: 1.5em;
  margin-top: -1em;
}

#user-info-login .dropdown-menu-header .icon-wrapper-alt-user-default {
  width: 2.5em;
  height: 2.3em;
  background: #e8e8ebcf;
  font-size: 1.5em;
}

#user-info-login .dropdown-toggle:after{
  display: none;
}
#user-info-login .btn-primary.button-salir:hover {
  background:white;
  color:#2955c8;
  border:1px solid #2955c8 !important:
}


.monster{
  position: relative;
  animation: 'none';
  visibility: hidden;
}

.input-cambio-estatus-usuario {
    border: 1px solid #dbdbdb !important;
    font-weight: 400;
    font-size: 1em;
    color: #818181 !important;
    transition: all 0.5s ease;
    border-bottom: 1px solid white;
    background: white !important;
    border-radius: 0.5em !important;
}

.input-cambio-estatus-usuario::placeholder {
    font-weight: 400;
    font-size: 1em;
    color: #818181 !important;
}

.input-cambio-estatus-usuario:focus {
    -webkit-box-shadow: none;
}

.input-cambio-estatus-usuario:hover {
    cursor: pointer;
    border-bottom: 2px solid #a4b1ff !important;
}

#opcCambioEstatus .dropdown-menu {
    margin-top: 0.4em !important;
    margin-left: -0.7em !important;
    min-width: 12rem !important;
    font-size: 1em !important;
}

#opcCambioEstatus .nav-link {
    padding: 0;
    color: #818181 !important;
}

#opcCambioEstatus .dropdown-item:active {
    color: #818181 !important;
}

.contenedor-lista-estados-usuarios{
	margin-top: 0.8em;
	
}

.contenedor-lista-estados-usuarios::after {
  content: "";
  position: absolute;
  right: 7%;
  top: 40%;
  width: 0;
  height: 0;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.6em solid #939db2;
  clear: both;
  /*z-index: 2;*/
}

@keyframes monster-play {
  0% { transform: rotate(0deg); right: 0px; visibility: visible;  opacity: 0;}
  25% { transform: rotate(20deg); right: 0px; visibility: visible; opacity: 1;}
  50% { transform: rotate(0deg); right: 700px;  visibility: visible; opacity: 1;}
  55% { transform: rotate(0deg); right: 700px;  visibility: visible; opacity: 1;}
  70% { transform: rotate(0deg); right: 700px;  visibility: visible; opacity: 1;}
  95% { transform: rotate(-360deg); right: 400px;  visibility: visible; opacity: 1;}
  95% { transform: rotate(-360deg); right: 100px;  visibility: visible; opacity: 1;}
  100% { transform: rotate(-360deg); right: 0px;  visibility: visible; opacity: 0;}
}

@keyframes monster-show {
  0% { transform: rotate(180deg); right: 500px; visibility: visible;  opacity: 0; top:-10px}
  25% { transform: rotate(160deg); right: 500px;  visibility: visible; opacity: 1;  top:-10px}
  70% { transform: rotate(250deg); right: 500px;   visibility: visible; opacity: 1;  top:-10px}
  100% { transform: rotate(180deg); right: 500px;  visibility: visible; top: 0;  top:-80px}
}

@keyframes monster-run {
  0% { transform: rotate(270deg); visibility: visible;  opacity: 0;  right: -40px;}
  35% {  transform: rotate(270deg);  visibility: visible; opacity: 1;   right:  -40px;}
  55% {  transform: rotate(0deg);   visibility: visible; opacity: 1;  right: 200px;}
  65% {  transform: rotate(0deg);    visibility: visible; opacity: 1;  right: 700px;}
  85% {  transform: rotate(0deg);    visibility: visible; opacity: 1;  right: 400px;}
  100% { transform: rotate(0deg);  visibility: visible; opacity: 0; right: 100px; }
}

@media screen and (max-width: 1366px) {
  @keyframes monster-play {
    0% { transform: rotate(0deg); right: 0px; visibility: visible;  opacity: 0;}
    25% { transform: rotate(20deg); right: 0px; visibility: visible; opacity: 1;}
    50% { transform: rotate(0deg); right: 200px;  visibility: visible; opacity: 1;}
    55% { transform: rotate(0deg); right: 200px;  visibility: visible; opacity: 1;}
    70% { transform: rotate(0deg); right: 200px;  visibility: visible; opacity: 1;}
    95% { transform: rotate(-360deg); right: 10px;  visibility: visible; opacity: 1;}
    100% { transform: rotate(-360deg); right: 0px;  visibility: visible; opacity: 0;}
  }

}

@media screen and (max-width: 1366px) {
  @keyframes monster-show {
    0% { transform: rotate(180deg); right: 100px; visibility: visible;  opacity: 0; top:-10px}
    25% { transform: rotate(160deg); right: 100px;  visibility: visible; opacity: 1;  top:-10px}
    70% { transform: rotate(250deg); right: 100px;   visibility: visible; opacity: 1;  top:-10px}
    100% { transform: rotate(180deg); right: 100px;  visibility: visible; top: 0;  top:-80px}
  }
}

@media screen and (max-width: 1366px) {
  @keyframes monster-run {
    0% { transform: rotate(270deg); visibility: visible;  opacity: 0;  right: -40px;}
    35% {  transform: rotate(270deg);  visibility: visible; opacity: 1;   right:  -40px;}
    55% {  transform: rotate(0deg);   visibility: visible; opacity: 1;  right: 100px;}
    65% {  transform: rotate(0deg);    visibility: visible; opacity: 1;  right: 200px;}
    85% {  transform: rotate(0deg);    visibility: visible; opacity: 1;  right: 200px;}
    100% { transform: rotate(0deg);  visibility: visible; opacity: 0; right: 200px; }
  }
}


@keyframes img-perfil-show {
  0% { opacity: 0;}
  100% { opacity: 1;}
}