.imagen-adjuntado-noticianot {
    height: 2.5em !important;
}
.file-adjuntado {
    padding: .5em 1em .5em .4em;
    width: 100%;
    display: flex;
}
.col-contenttitle-coment{
    margin-left:1em;
}

.row-adjunto-principal{
    padding-left: 4em;
}

.contenido-escribir-mensaje{
    /* display:inline-block; */
    /* background:#dddddd; */
    display: flex;
    padding: .5em;
    padding-bottom: 0;
}

.icono-adjuntar-archivo{
    background:white;
    /* border:none; */
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    /* line-height: 2em !important; */
    color: #adadad;
    /* line-height: 1.8em; */
    cursor: pointer;
    font-weight: bold;
    border-color: #d5d5d5;
    line-height: 1.5em !important;
    padding-bottom: 0.32em !important;
}
.btn-send-mensaje{
    text-align: center;
    color: #b1b1b1;
    margin-left: 1em;
    border-radius: 50%;
    background: #9fa6ad !important;
    border: none;
    color: white;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    border-radius: 50%;
    width: 2.2em;
}
.btn-send-mensaje i{    
    font-size:.8em;
}
.text-general-general::placeholder{
    font-size:.8em;
}
.text-general-general{
    border-right: none;
    height: 1.8em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    margin-left: 1em;
    border-color: #d5d5d5;
}

.text-subcomentario-ticket{
    border-right: none;
    height: 1.87em !important;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    margin-left: 1em;
    border-color: #d5d5d5;
}

.text-subcomentario-ticket::placeholder{
    font-size:.8em;
}

.img-adjunto-subcomentarios,
.imagen-adjuntado-comentarios{
    width: 2em;
    height: 2em;
}

.lbl-adjuntar-ticket{
    margin-bottom: 0px;
    height: 2em !important;
}

.status-adjunto{
    top: 3px !important;
    z-index: 1;
}

.col-input-adjunto{
    padding-left: 39px;
    width: 63%;
    text-align: right;
    font-size: 0.8em;
    color: #9244fb;
}

.icon-eliminar-adjunto{
    cursor: pointer;
}

.adjuntar-archivo-subcomentario{
    width: 90%;
    top: -35px;
    text-align: right;
    color: #9244fb;
    font-size: 0.8em;
}

.col-input-text-subcomentarios{
    width: 90% !important;
}

.spn-titulo-adjunto{
    padding-right: 1em;
    font-weight: 900;
}

.container-text-subcomentarios{
    width: 39em !important;
    height: 3.5em;
}

.input-group-subcomentarios > .form-control{
    min-height: 0 !important;
}

.icon-adjuntar-subcomentarios{
    background:white;
    /* border:none; */
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    /* line-height: 2em !important; */
    color: #adadad;
    /* line-height: 1.8em; */
    cursor: pointer;
    font-weight: bold;
    border-color: #d5d5d5;
    line-height: 1.5em !important;
    padding-bottom: 0em !important;
}

img#btnRefresNoticias {
    margin-top: 1em;
    height: 1.4em;
    margin-bottom: .4em;
    margin-left: 1em;
    position: absolute;
    right: 2em;
  }

  #cerrar-gestion-ticket{
    position:absolute;
    right: 0;
    margin-right: .5em;
    z-index: 1em;
    margin-top: .5em;
    z-index: 2;
    top: 0em;
 }

 .content-btn-cerrar{
     margin: 1em;
 }

 .container-noticias {
    /* margin-top: 1em; */
    /* margin: 0; */
    /* margin-top: 1em; */
    padding-bottom: 1em;
    padding-top: 1em;
    border-bottom: 1px solid #f1f1f1;
  }

  
.content-noticias-general{
    overflow-y: scroll;
    max-height: 34.5em;
}

.image-preview {
    display: inline-block;
    /* width: 2em; */
    display: flex;
}

.img-created-by-comme {
    width: 2.5em;
    max-height: 2.5em;
    display: inline-block;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  }
  .container-noticia-elemento {
    margin-right: 1em; 
  }

.text-mensaje-activado{
    color: #029302;
    font-weight: bold;
    font-size: .9em !important;
}

