body {
  font-family: "Montserrat";
}

.glyphicon-refresh-animate {
  -animation: spin 0.7s infinite linear;
  -webkit-animation: spin2 0.7s infinite linear;
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

.circulo {
  width: 55px;
  height: 55px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 1px solid;
  border-color: #8b95a5;
  border-radius: 50%;
  background: white;
}

.input-filtro-busqueda {
  border: none !important;
  font-weight: 400;
  font-size: 1em;
  color: #818181 !important;
  transition: all 0.5s ease;
  border-bottom: 1px solid white;
  background: white !important;
}

.input-filtro-busqueda::placeholder {
  font-weight: 400;
  font-size: 1em;
  color: #818181 !important;
}

.input-filtro-busqueda:focus {
  border-color: white !important;
  -webkit-box-shadow: none;
  box-shadow: none !important;
}

.input-filtro-busqueda:hover {
  background: #e4e6f2 !important;
  cursor: pointer;
  border-bottom: 2px solid #a4b1ff !important;
}

.btn-consultar-busqueda {
  background-color: #ffffff !important;
  color: #7716fa !important;
  border: solid 1px #7716fa !important;
  padding: 0.3em 2em !important;
  border-radius: 5px !important;
  font-size: 0.7em !important;
  height: 27px;
}

.column-text-busqueda {
  width: 175px;
  padding-right: 5px;
}

.colunm-btn-busqueda {
  padding-left: 0px !important;
}

.iconsf-container,
.textcontainer-header {
  display: table-cell;
}
.iconsf-container img {
  width: 35px;
  border-radius: 0.3em;
  margin-top: 0.5em;
  margin-right: 0.5em;
}

.img-oportunidad{
    background-color:#fcba5d;    
}

.img-cotsitio{
    background-color:#00a1e0;    
}

.imgcuenta{
    background-color:#818ee1;    
}

.imgcuentasfactura{
    background-color:#7dcf62;    
}

.img-cotizacion{
    background-color:#4fca77;    
}

.img-os{
    background-color:#cea067;    
}

.img-csp{
    background-color:#e78171;    
}

.img-oportunidad{
    background-color:#fcba5d;    
}

.img-tickets{
    background-color:#f2cf5d;    
}

.textcontainer-header{
    padding-top:0 !important; 
}

span.text-title-elementoh {
    display: block;
    font-size: 1em;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    font-family: 'Montserrat', sans-serif;
}

.text-title-elementohcantidad{
    font-size:.8em;
    line-height: normal;
    display: block;
    font-family: 'Montserrat', sans-serif;
}

.col-first-parent{
    padding-left:0;
    padding-right: 0;
    margin-top: 20px !important;
}

.element-busqueda-title.activetitleinfo {
  border-right:.2em solid #3a465c;
  background: #efefef;
}

.element-busqueda-title:hover {
  cursor:pointer;
}

.element-busqueda-title.activetitleinfo {
  border-right:.2em solid #3a465c;
  background: #efefef;
}

.element-busqueda-title{
  padding: .3em 0em;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
