#container_gestion_modulos,
#container_gestion_modulos_permisos {
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  	background: white;
  	border-radius: .5em;
  	margin-top: 1em;
  	padding: 1em 0;
  	font-family: "Montserrat" !important;
}

.title-vista-modulos,
.title-vista-permisos {
	font-size: 15px;
	font-family: 'Montserrat';
	color: var(--estandar-color);
}

#modulosTable tbody tr:nth-child(even) ,
#accionesTable tbody tr:nth-child(even) {
    background: #f5f5f5;
}

#modulosTable>tbody>tr>td ,
#accionesTable>tbody>tr>td {
    white-space: nowrap;
    color: #39455b;
    font-family: 'Montserrat';
    font-size: .8em;
    border-top: 0px solid #eceeef !important;
    text-align: center;
}

#modulosTable thead th ,
#accionesTable thead th {
    position: relative;
    background-color: #b1b1b1;
    color: #fff;
    font-size: 0.8em;
    white-space: nowrap;
    padding: 1em;
    border: none;
    font-weight: normal;
    text-align: center;
}

#modulosTable tbody tr td ,
#accionesTable tbody tr td {
    padding: 0.5em;
    border: none;
}

.page-link {
    font-size: 0.7em !important;
    font-family: "Montserrat" !important;
}

.dataTables_info {
    font-size: 0.7em;
    font-family: "Montserrat" !important;
    text-align: left;
    padding-left: 0.5em;
}

.dataTables_paginate.paging_simple_numbers {
    float: right;
}

.dataTables_filter {
    font-size: 0.7em !important;
    font-family: 'Montserrat';
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 11.3em;
    height: 2.05em;
    margin-right: 1em;
}

/* CSS TABLE */

.btn-nuevo {
    border-radius: 50%;
    padding: 0.6em 1em;
    background-color: var(--estandar-color);
    color: #fff;
    position: inherit;
}

.btn-nuevo:hover {
	padding: 0.7em 1.1em;
    color: #fff;
    outline: 0;
}

.btn-nuevo-permiso {
    border-radius: 50%;
    padding: 0.6em 1em;
    background-color: var(--estandar-color);
    color: #fff;
    position: inherit;
}

.btn-nuevo-permiso:hover {
	padding: 0.7em 1.1em;
    color: #fff;
	outline: 0;
}

.box-nuevo {
    text-align: right;
    padding-top: 1.5em;
}

.box-nuevo-permiso {
    text-align: right;
}

.label-input {
    margin-bottom: 0 !important;
    font-size: .7em;
}

.input-modulos {
    border: 1px solid #dbdbdb !important;
    font-weight: 400;
    color: #818181 !important;
    transition: all 0.5s ease;
    padding: 0.4em 0.5em;
    background: white;
    border-radius: 0.5em !important;
    /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important; */
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 7%), 0 1px 2px 0 rgb(0 0 0 / 5%) !important;
    border-bottom: 0 1px 3px 0 rgb(0 0 0 / 7%), 0 1px 2px 0 rgb(0 0 0 / 5%) !important;
}


.input-select::after {
    content: "";
    position: absolute;
    right: 6%;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid #939db2;
    clear: both;
    z-index: 2;
    font-size: 14px;
    margin-top: -1.2em;
}

.btnGuardar{
    background-color: var(--btn-color-liberar-pago-tabla) !important;
    color: #fff !important;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); */
    font-size: 0.7em;
    text-align: center;
}

.container-fluid.permiso-text {
    padding: 0;
    display: flex;
}

.container-text-title-detalle {
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-text-content-detalle {
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

span.text-content-permiso {
    font-size: 0.8em;
    color: #9d9ea2;
}

span.text-tile-permiso {
    font-size: 0.7em;
    color: #000;
    text-transform: uppercase;
}

.title-text{
    font-size: 1em;
    font-weight: bold;
}

.content-color{
    position: absolute;
}

.input-valid-error {
    border-bottom: 2px solid rgb(245, 87, 86) !important;
}

.acciones{
    padding: 0.3em 1em !important;
    border-radius: 0.2rem;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    font-size: 0.9em;
    
}

.btn-default{
    background-color: var(--btn-color-evidencia-tabla);
}

.btn-default:hover, .btn-default:active, .btn-default:focus{
    background-color: var(--btn-color-evidencia-tabla) !important;
}

.btn-delete{
    background-color: var(--btn-color-eliminar-tabla);
}

.btn-delete:hover, .btn-delete:active, .btn-delete:focus{
    background-color: var(--btn-color-eliminar-tabla) !important;
}

.btnEditarModulo,
.btnEditarModulo:hover {
	background-color: var(--btn-color-editar-tabla);
}

.btnEditarPermiso,
.btnEditarPermiso:hover {
	background-color: var(--btn-color-editar-tabla);
}

.btnDetalleModulo,
.btnDetalleModulo:hover {
	background-color: var(--btn-color-detalle-tabla);
}

.btnEliminarModulo,
.btnEliminarModulo:hover {
	background-color: var(--btn-color-eliminar-tabla);
}

.btnEliminarPermiso,
.btnEliminarPermiso:hover {
	background-color: var(--btn-color-eliminar-tabla);
}

.imagen-no-results {
    text-align: center!important;
    margin-top: 2em;
    margin-bottom: 2em;
}

#btn-consultar-modulos {
	background-color: #ffffff;
    color: var(--btn-color-buscar);
    border: solid 1px var(--btn-color-buscar) !important;
    padding: 0.5em 1.5em;
    border-radius: 5px;
    font-size: 0.6em;
    position: relative;
    display: block;
    border-radius: 0.5em !important;
    margin-top: 0.1em;
}

.txtNuevoModulo,
.txtNuevoPermiso {
	text-align: center;
	width: 100%;
	height: 23px;
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: .9em;
}

.txtEditModulo,
.txtEditPermiso {
	text-align: center;
	width: 100%;
	height: 23px;
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: .9em;
}

.btnAgregarNuevoModulo,
.btnAgregarNuevoPermiso {
    padding: 0.3em 1em !important;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 0.9em;
    background-color: transparent;
    color: green;
}

.btnCancelarNuevoModulo,
.btnCancelarNuevoPermiso {
    padding: 0.3em 1em !important;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 0.9em;
    background-color: transparent;
    color: var(--btn-color-eliminar-tabla);
}

.btnAgregarNuevoModulo:hover,
.btnAgregarNuevoPermiso:hover {
	background-color: transparent;
    color: green;
	font-size: 1.3em;
}

.btnCancelarNuevoModulo:hover,
.btnCancelarNuevoPermiso:hover {
	background-color: transparent;
    color: var(--btn-color-eliminar-tabla);
	font-size: 1.3em;
}

.btnAgregarNuevoModulo:active,
.btnCancelarNuevoModulo:active,
.btnCancelarNuevoPermiso:active,
.btnAgregarNuevoPermiso:active {
	background-color: transparent !important;
}

.btnsBloqueados {
	opacity: 0.3 !important;
    cursor: no-drop !important;
}

.inputsBloqueados {
    cursor: no-drop !important;
}

.rowsTablaModulosBloqueados {
	opacity: 0.3 !important;
}

.btnEditModulo{
    padding: 0.3em 1em !important;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 0.9em;
    background-color: transparent;
    color: green;
}

.btnEditPermiso{
    padding: 0.3em 1em !important;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 0.9em;
    background-color: transparent;
    color: green;
}

.btnCancelarEditModulo{
    padding: 0.3em 1em !important;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 0.9em;
    background-color: transparent;
    color: var(--btn-color-eliminar-tabla);
}

.btnCancelarEditModulo:hover {
	background-color: transparent;
    color: var(--btn-color-eliminar-tabla);
	font-size: 1.3em;
}

.btnCancelarEditPermiso{
    padding: 0.3em 1em !important;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 0.9em;
    background-color: transparent;
    color: var(--btn-color-eliminar-tabla);
}

.btnCancelarEditPermiso:hover {
	background-color: transparent;
    color: var(--btn-color-eliminar-tabla);
	font-size: 1.3em;
}

.btnEditModulo:hover{
	background-color: transparent;
    color: green;
	font-size: 1.3em;
}

.btnEditPermiso:hover{
	background-color: transparent;
    color: green;
	font-size: 1.3em;
}

.btnEditModulo:active,
.btnCancelarEditModulo:active,
.btnEditPermiso:active,
.btnCancelarEditPermiso:active {
	background-color: transparent !important;
}

#btnNuevoModulo .tooltipBtnNuevoModulo {
	visibility: hidden;
	width: 140px;
	height: 25px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 7px 0;
	position: absolute;
	z-index: 1;
	bottom: 70%;
	left: -12%;
	opacity: 0;
	transition: opacity 0.3s;
	font-family: 'Montserrat';
	font-size: .7em;
}

#btnNuevoModulo:hover .tooltipBtnNuevoModulo {
	visibility: visible;
  	opacity: 1;
}

#btnNuevoPermiso .tooltipBtnNuevoPermiso {
	visibility: hidden;
	width: 140px;
	height: 25px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 7px 0;
	position: absolute;
	z-index: 1;
	bottom: 4.5em;
	opacity: 0;
	transition: opacity 0.3s;
	font-family: 'Montserrat';
	font-size: .7em;
	left: -100%;
}

#btnNuevoPermiso:hover .tooltipBtnNuevoPermiso {
	visibility: visible;
  	opacity: 1;
}

#btnRegresarVistaModulos .tooltipBtnRegresarVistaModulos {
	visibility: hidden;
	width: 60px;
	height: 25px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 7px 0;
	position: absolute;
	z-index: 1;
	bottom: 4.5em;
	opacity: 0;
	transition: opacity 0.3s;
	font-family: 'Montserrat';
	font-size: .7em;
	left: -4%;
}

#btnRegresarVistaModulos:hover .tooltipBtnRegresarVistaModulos {
	visibility: visible;
  	opacity: 1;
}

.btnSalirSinLogin {
	padding-top: .4em;
	padding-bottom: .4em;
  	padding-left: .5em;
  	padding-right: .5em;
  	box-shadow: none;
  	font-size: .7em;
  	font-weight: bold;
  	background: white;
  	color: var(--estandar-color);
  	border: 1px solid #c3c3c3;
  	transition: all .3s ease-in;
}

.btnSalirSinLogin:hover {
	background: #3942d7;
  	color: white;
  	border: 1px solid #3942d7;
  	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.buscar-input-operario {
    height: 2em !important;
    min-height: 2em !important;
    padding: 0 !important;
    padding-left: 1em !important;
    border-radius: 1em !important;
    border: 1px solid #e2e2e2;
    background:#fcfcfc;
}

.buscar-input-operario::placeholder{
    color:#a4a4a4;
    font-size:1em;
}

.content-seach-table {
    height: 1em;
    display: inline-flex;
}

.content-seach-table span {
    height: 1.5em !important;
    min-height: 1.5em !important;
    position:absolute;
    right:0;
    top:30%;
    margin-right:.5em;
    color: #9F9E9E;
    font-size:.9em;
    background: transparent;
}

.content-seach-table-permisos {
	margin-top: 5px;
    height: 1em;
    display: inline-flex;
}

.content-seach-table-permisos span {
    height: 1.5em !important;
    min-height: 1.5em !important;
    position:absolute;
    right:0;
    top:30%;
    margin-right:.5em;
    color: #9F9E9E;
    font-size:.9em;
    background: transparent;
}

.box-buscador-tabla-modulos {
	text-align: right;
    padding-top: 1.7em;
    left: 4%;
}

.bordeRowProcesoEnEjecucion {
	border: 2px groove var(--estandar-color);
}

.encabezadosTablas {
	font-weight: bold !important;
}

/* tbody { */
/*     display: block; */
/*     height: 400px; */
/*     overflow: auto; */
/* } */
/* thead, tbody tr { */
/*     display: table; */
/*     width: 100%; */
/*     table-layout: fixed;even columns width , fix width of table too */
/* } */
/* thead { */
/*     width: calc( 100% - 1em )scrollbar is average 1em/16px width, remove it from thead width */
/* } */
/* table { */
/*     width: 400px; */
/* } */
