.divider-agendamiento {
    border-bottom: 0.2em solid #f0f0f0;
    width: 100%;
    margin: 0em 40% 0 0;
}

.container-fluid.agendamiento-content {
    padding: 0;
    display: flex;
}

.container-text-title-detalle {
    width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-text-title-detalle {
    margin-right: 2px;
    float: left;
}

.container-text-content-detalle {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

span.text-tile-agendamiento {
    font-weight: bold;
    font-size: 0.8em;
    color: #444444;
}

span.text-content-agendamiento {
    font-size: 0.8em;
    color: #303030;
}

.btn-detalle-csp {
    float: right;
    cursor: pointer;
    padding: 0.4em !important;
    margin-top: 0.2em;
}

.container-text-direccion {
    width: 70%;
}

.textarea-agendamiento {
    width: 100%;
    font-size: .8em;
}

.selected-contacto-agenda {
    position: absolute;
    right: 0;
    margin-right: 1em;
    color: #28a645;
    margin-top: .2em;
}

.not-selected-contacto {
    position: absolute;
    right: 0;
    margin-right: 1em;
    color: #fdc149;
    margin-top: .2em;
}

.selectContactoAgendamiento {
    font-size: .7em !important;
    line-height: 1.5;
}

.content-link-agrega-contacto {
    display: grid !important;
    text-align: right;
}

#myTab {
    margin-bottom: 1em;
}

#myTab .nav-link {
    padding-top: .4em;
    padding-bottom: .4em;
    border: solid 1px #ccc;
}

#myTab .nav-item:first-child .nav-link {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

#myTab .nav-item:last-child .nav-link {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.nav-tabs {
    border-bottom: 0 !important;
}

.spinner-border.spinner-cargando-info.ng-scope {
    width: 1.5em;
    height: 1.5em;
    color: #8e50fc;
}

#calendar_agendamiento .fc-license-message {
    display: none;
}

#calendar_agendamiento .eventDisponibilidad {
    box-shadow: 0 3px 15px 0 rgb(0 0 0 / 19%);
    -o-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .19);
    -ms-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .19);
    -moz-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .19);
    -webkit-box-shadow: 0 3px 15px 0 rgb(0 0 0 / 19%);
}

#calendar_agendamiento .eventDisponibilidad {
    /*  background-color: #1c74bfb3 !important;
     border-color: #1c74bfb3 !important; */
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    white-space: pre-wrap !important;
    /* box-shadow: 0px 0px 10px #808c8c; */
    border: none;
}

#calendar_agendamiento .fc-button {
    color: gray !important;
    background: white;
    border: 0px !important;
}

#calendar_agendamiento .fc-toolbar.fc-header-toolbar {
    margin-bottom: .5em;
}

/* NEW STYLE */


#calendar_agendamiento a,
a.disabled:hover,
a:disabled:hover {
    color: grey !important;
}

#calendar_agendamiento button {
    color: gray !important;
    background: white;
    border: 0px !important;
}

#calendar_agendamiento button.fc-prev-button.fc-button.fc-state-default.fc-corner-left,
#calendar_agendamiento button.fc-next-button.fc-button.fc-state-default.fc-corner-right {
    background: var(--estandar-color) !important;
    padding: 5px 12px;
    margin: 2px 1px 5px;
}

#calendar_agendamiento .fc-col-header {
    background: #f4f5fc !important;
    text-transform: capitalize !important;
    font-size: small;
}

#calendar_agendamiento .fc-content-skeleton td.fc-event-container {
    text-align: -webkit-center;
}

#calendar_agendamiento .fc-toolbar.fc-header-toolbar {
    margin-bottom: .5em;
}

#calendar_agendamiento td.fc-head-container.fc-widget-header {
    border: 0px;
}

#calendar_agendamiento .fc th {
    text-align: right;
    color: #999;
    font-size: 1.2em;
    font-weight: bold;
    border: 0px;
}

#calendar_agendamiento .fc td:first-child {
    border-left: 0;
}

#calendar_agendamiento .fc-license-message {
    display: none;
}

.color_titulos_resumen {
    color: #7a7a7a;
    font-weight: bold;
    font-size: .9em;
}

.icon-noencontrada-factibilidad,
.icon-error-factibilidad,
.icon-exito-factibilidad {
    margin-right: .5em;
}

.icon-noencontrada-factibilidad {
    color: #fdc149;
}

.icon-error-factibilidad {
    color: #ff5b5b;
    font-size: 1.1em;
}

.icon-exito-factibilidad {
    color: #51b37d;
    font-size: 1.1em;
}

.title-factbilidad-result {
    margin-left: 0em;
    color: #444444;
    font-weight: bolder;
    text-align: left;
}

.mensaje-result-factibilidad {
    color: black;
    font-size: .9em;
    display: block;
}

.card-header.card-header-factibilidad {
    text-align: left;
    /* margin-bottom: .5em; */
    border-bottom: none;
}

.card-body-factibilidad {
    margin-bottom: .5em;
    border-top: 1px solid rgba(0, 0, 0, .125);
}

#search-input-place {
    margin-top: .5em !important;
    height: 2em;
    background-color: #fff;
    font-size: 15px;
    border: 1px solid #dadada !important;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 80%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    border-radius: 8px !important;
    font-family: 'Montserrat', sans-serif;
}

#mapa-ubicacion {
    height: 550px;
    width: 100%;
    background-color: gray;
}

#info-factibilidad .fa-minus:before {
    content: "\f106" !important;
}

#info-factibilidad .fa-plus:before {
    content: "\f107" !important;
}

#info-factibilidad .icono-ocultar-mostrar-map {
    top: 0.8em;
}

#info-factibilidad .title-tipoot-map-filtros {
    font-weight: bolder;
}

.div-contenedor-info-factibilidad {
    position: absolute;
    z-index: 9;
    text-align: center;
    border: none;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%) !important;
    background-color: white;
    margin: 0.5em;
    margin-left: 2em;
    min-width: 250px;
    /* border-radius: 0; */
    border-radius: .25rem;
    /* padding-bottom: .5em; */
}

#info-factibilidad-actualiza {
    font-size: .8em;
    font-weight: 600;
    color: #797979;
}

#icon-factibilidad-actualiza.fa-info-circle {
    color: #f58212;
}

#info_orde_bsq_general .info_ot_detail {
    margin-bottom: .8em !important;
    font-family: 'Montserrat';
    font-size: 0.7em;
}

.info_ot_detail.title-contentedor-info {
    border: 1px #EBECEE solid;
    padding: 0 !important;
    border-left: none;
    border-right: none;
}

.ciudad-detalle-cuenta {
    font-family: 'Montserrat';
    font-size: 0.7em;
}

.title_span_detalle.title_info_ot {
    font-size: 1em;
}

.title_span_detalle.title_info_ot {
    font-size: 0.9em;
    font-weight: bold
}

.content-actualizar .boton-factibilidad {
    background: white;
    color: var(--estandar-color);
    border: 1px solid var(--estandar-color);
    border-radius: 5px;
    font-size: 0.7em;
    padding: 0.2em 1em;
    margin: 0;
    float: none;
}

.content-actualizar {
    text-align: center;
    padding: 0 1em 0.5em 1em;
}

.text-agrega-contacto {
    color: var(--link-ref-generic);
    font-size: .7em;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.btn-aceptar-agendamiento {
    font-size: .7em;
    background-color: var(--btn-color-guardar) !important;
    color: white;
    font-weight: bold;
    box-shadow: none;
    padding: .6em 2em .6em 2em;
    border: .09rem solid var(--btn-color-guardar) !important;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
    margin-left: 1em;
}

.btn-aceptar-agendamiento:hover {
    font-size: .7em;
    background: var(--btn-color-guardar) !important;
    color: white;
    font-weight: bold;
    box-shadow: none;
    padding: .6em 2em .6em 2em;
    border: .09rem solid var(--btn-color-guardar) !important;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
    margin-left: 1em;
}