body {
    font-family: 'Montserrat';
    margin: 0;
    height: 100%;
}

.input-form-login::placeholder {
  color:#939db9
}
.input-form-login{
  width:100%;
  padding:.3em;
  border: none;
  border-radius: 5px  !important;
  border: 2px solid #e7e7e7;
}


.mensaje-alert{
  padding:.2em 0 .2em 2em !important;
  font-size:.8em;
}


.img-logo {
    width: 61.9px;
    height: 36.7px;
    object-fit: contain;
    margin-top: 1.5em;
    margin-left: 1.5em;
}
.titulo-ingresa{
    width: 118px;
    height: 37px;
    
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #3b4559;
    margin-bottom: 0em;
}
.content-info-login, .content-restablecer-login {
    margin-top: 20%;
    background: white;
    padding: 1.5em;
    border-radius: .5em;
    width: 60%;
    margin-left: 20%;
}
.descripcion-titulo {
    
    width: 280px;
    height: 15px;
    
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.92;
    letter-spacing: normal;
    text-align: left;
    color: #939db2;
}
.usuario, .active_Cambio_contrasena  {
    width: 48px;
    height: 15px;
    
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.92;
    letter-spacing: normal;
    text-align: left;
    color: #939db2;
}
.input-ingresa-usuario, .input_restablecer_passw  {
    min-width: 100%;
    height: 24px;
    
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.21 !important;
    letter-spacing: normal;
    text-align: left;
    color: #939db2;
    border: none;
    margin-top: -1em;
    /* background: white; */
}
.div-input-usuario {
    border-bottom: 1px solid #939DB2 !important;
    /* max-width: 74% !important; */
}
.password {
  width: 72px;
  height: 15px;
  
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.92;
  letter-spacing: normal;
  text-align: left;
  color: #939db2;
}

.div-input-password {
    border-bottom: 1px solid #939DB2;
    /* max-width: 74%; */
    margin-top: -1em;
}
input#user_user:focus, input#user_pswd:focus {
  outline: none !important;
}
button#submit, #restabler_password_login {
    width: 100%;
    height: 47px;
    border-radius: 5px;
    background-color: #7716fa !important;
    margin-top: 3em;
    border: none;
    /* float: right; */
    font-weight: 600;
    margin-left: 0;
    margin-right: 0;
}
.div-btn-login {
    float: right;
}
.container-imagen-login {
   padding: 0px;
   margin: 0px;
   background: black;
   height: 100vh;
   text-align: center;
}
img.fondo-login {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.img-background-dramley{
	background: black;
	text-align: center;
	width: 100%;
	height: 100%;
	object-fit: contain;
	text-align: center;
}



.style-col-row {
    padding: 0px !important;
    margin: 0px !important;
    display: flex !important;
    height: 100% !important;
}
.logo-login {
    width: 128.1px;
    height: 75.8px;
    object-fit: contain;
    position: relative;
    position: absolute;
    bottom: 120px;
    right: 10px;
}
.texto_field_{
  position: relative;
  position: absolute;
  bottom: 48px;
  right: 5px;
  width: 386px;
  height: 37px;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.texto_powered{
    position: relative;
    position: absolute;
    bottom: 39px;
    right: 11px;
    width: 184px;
    height: 20px;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #ffffff;
}
.style_texto_tp{
  font-weight: 600;
}
.style-form-login{
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: grid;
    height: 100%;
}
.content_primer_fondo{
  background: url('../../img/login/fondoSinPermisos.png') repeat fixed;
  width: 100%;
  height: 457px;
  object-fit: contain;
}
img.logo-login_sin_permiso {
    width: 128.1px;
    height: 75.8px;
    object-fit: contain;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 1em;
}
.texto_field_sin_permiso {
    width: 368px;
    height: 37px;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.texto_powered_sin_permiso {
    width: 184px;
    height: 20px;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -1.5em;
}
.content_tercer_content {
    height: 441.9px;
    box-shadow: 0 0 10px 0 rgba(135, 142, 224, 0.6);
    background-color: #ffffff;
    z-index: 1000000000;
    margin-top: -16em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    border-radius: 10px;
}
.img-error {
    width: 58.8px;
    height: 58.8px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.texto_usuario_incorrecto {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 285px;
    height: 37px;    
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.5em;
    letter-spacing: normal;
    text-align: left;
    color: #7716fa;
}
.texto_credenciales {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: 15px;
    
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #939db2;
    margin-top: -3em;
}
.btn_regresar.btn.btn-primary{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 208px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #7716fa;
    background: white;
    color: #7716fa;
    margin-top: 2em;
    max-height: 2.2em;
}
.title_restablecer_password {
    
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #3b4559;
    margin-bottom: 0em;
}
.descripcion-titulo_restablecer {
    
    width: 280px;
    height: 15px;
    
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #939db2;
    margin-top: 6em !important;
}
.input_primer_password:focus, .input_restablecer_passw:focus {
    outline: none !important;
}
#new_password_login {
    min-width: 100%;
    height: 18px;
    
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.21;
    letter-spacing: normal;
    text-align: left;
    color: #939db2;
    border: none;
    padding: 0px;
}


button#ingresar-btn-login, #restabler_password_login {
    width: 100%;
    /* height: 47px; */
    border-radius: 5px;
    background-color: #006fd1 !important;
    margin-top: 2em;
    box-shadow: none;
    /* font-weight: 600; */
    text-transform: none;
}
.form-check-label {
    font-weight: bold;
    color: #282828;
    font-size: .9em;
}

img.login-top-form {
    width: 40%;
    margin-left: 30%;
    margin-bottom: 2em;
}


.form-check-input {
    border: .125rem solid #e7e7e7;
    border-radius:1em;
}

.divider-login {
    height: 1px;
    background: #e7e7e7;
    margin-top: .6em;
    margin-bottom: .6em;
}

.col-6.container-texto-login {
  background: rgb(0,99,255);
  background: linear-gradient(166deg, rgba(0,99,255,1) 0%, rgba(61,13,131,1) 99%, rgba(55,21,142,1) 100%);
}

.content-text-contraolvidada{
  text-align:center;
}

.label-olvidastecontra{
    color: #0081d9 !important;
    font-size: .9em;
    cursor: pointer;
}

.form-check-label.label-recordarme {
    line-height: initial;
    margin-left: .5em;
    color: #5a5a5a;
}

.content-recordarme{
  line-height: initial;
}