#containerGestionNoticias {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    padding-bottom: 1em;
    background: white;
    border-radius: .5em;
    padding-top: 1em;
    margin-top: 1em;
    height: 80vh;
}

.tituloModulo {
    color: rgb(70, 88, 107);
    font-weight: bold;
    padding: .5em;
    border-bottom: 1px solid #f3f3f3;
}

.contenedorTituloModulo{
	text-align: center;
}

/* -------------------------------------------- */

#arbolGeografia.jstree-checkbox-selection .jstree-wholerow-clicked {
  background: white;
}


#arbolGeografia .jstree-clicked {
	background: white;
  	color: #808080;
  	box-shadow: inset 0 0 1px #fff;
}

#arbolGeografia .jstree-search {
	font-style: italic !important;
    color: #8b0000 !important;
    font-weight: bold !important;
}

.iconoEliminarFoto{
	color: #f55756
}

.txtPieFoto{
	font-size: .8em !important;
	font-family: 'Montserrat' !important;
	color: #9d9d9d;
}

#imgFoto{
	width: 190px; 
	height: 190px;
	object-fit: cover;
}

#imgFoto{
	width: 190px; 
	height: 190px;
	object-fit: cover;
}

.etiquetasConsulta {
    color: #9d9d9d;
    font-family: 'Montserrat';
    font-size: .8em;
    margin-bottom:0;
}

.txtsConsulta {
    border: 1px solid #dbdbdb;
    font-family: 'Montserrat';
    font-size: 0.6em;
    color: #818181 !important;
    transition: all 0.5s ease;
    border-bottom: 1px solid white;
    background: white !important;
    border-radius: .5em !important;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.07),0 1px 2px 0 rgba(0,0,0,.05)!important;
}



.imagen-noticia-previsualizador{
    width: 200px;
    background-color: #818181;
    height: 200px;
    border-radius: 1em;
    position: relative;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    cursor: pointer;
}


/**
.capa-inabilitable {
    z-index: 23333;
    background: red;
    height: 300px;
    position: absolute;
    pointer-events: none;
    opacity: 0.4;
}**/


.titulo-principal{
  color: #ffffff !important;
  top: 0;
  font-size: .7em;
}

.titulo-secundario{
  color: #ffffff !important;
  top: 1.5em;
  font-size: .6em;
  font-family: 'Montserrat' !important;
}


.img-tecnico-app{
	width: 2.5em;
	height: 2.5em;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
	border-radius: 50%;
	margin-right:.5em;
}

.container-celular-visualizador{
	background: #f1f3f2;
	border-radius:1em;
	padding-top: .4em;
	padding-bottom: 1em;
	/* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%); */
}

.left-header-celular-hora {
    float:left;
    margin-left: 1em;
}
.derecha-iconos-celular {
    float: right;
    margin-right: 1em;
}
.container-tecnico {
    clear: both;
    margin-right:1em;
}

.header-icono-celular {
    color: black;
    font-size:.8em;
}
.text-hora-celular {
    /* font-weight: bold; */
    color: black;
    font-size: .8em;
}

.content-tecnico-imagen {
    display: inline-block;
    margin-left: 1em;
    vertical-align: text-top;
}
.content-tecnico-nombre-completo{
	display: inline-block;
	vertical-align: text-top;
}
.text-tecnico-apellido{
	margin-bottom:0;
	font-size:.8em;
	color: black;
}
.text-tecnico-nombre{
    margin-bottom:0;
    font-size: .9em;
    font-weight: bold;
    color: black;
}

.content-text-dia-actual {
    border-bottom: 1px solid #a1a1a1;
    width: fit-content;
    display: inline-block;
}

.container-dia-app{
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}
.icono-calendario-dia-actual {
    margin-left: 1em;
}
.icono-calendario-dia-actual {
    margin-left: 1em;
    font-size: .8em;
    margin-right: .5em;
}
.text-dia-actual{
	margin-right:1em;
	color: #565656;
	font-size: .9em;
	font-weight: bold;
}

.content-categoria-app {
    display: inline-block;
    background: white;
    padding: .3em .5em .5em .5em;
    border-radius: 1em;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    margin-right: .3em;
    margin-left: .3em;
}
.text-categoria{
	margin-bottom:0;
	font-size: .8em;
	font-weight:bold;
	color:#606060;
	text-align: center;
}
img.img-icon-categoria {
    /* width: 3em; */
    width: 2.5em;
    /* height: 3em; */
}

.container-categorias-app {
	margin: 0;
	padding-left: .5em;
	padding-right: .5em;
}

.content-img-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    width: 100%;
}
.boton-iniciar-ot:hover {
	background-color:#6b3efd;
    color:white;
    box-shadow:none;
}
.boton-iniciar-ot {
    background-color:#6b3efd;
    border-radius:2em;
    box-shadow:none;
    color:white;
    width:50%;
    /* cursor: none !important; */
    margin-left:25%;
}

.container-info-instalacion-app {
    background: #e4e6f3;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
    /* clear: both; */
}

.icono-resumen-trabajo{
	
}
.text-info-instalacion-app{
	font-size: .8em;
	color: #000000;
	margin-bottom: .5em;
}
.text-tipo-servicio{
	font-size: 1em;
	font-weight:bold;
	color:#6b3efd;
}
.content-icono-resumen-trabajo{
    display: inline-block;
    /* margin-left: 1em; */
    vertical-align: text-top;
}
.content-text-info-instalacion-app{
    display: inline-block;
    margin-left: 1em;
    vertical-align: text-top;
}

.content-icon-texto-info {
    display: flex;
}

.icono-resumen-trabajo {
    color: #6b3efd ;
}

.icon-tipotrabajo{
	color: #6b3efd !important;
}
.container-bars-title {
    clear: both;
    margin-bottom: .5em;
    margin-top: .5em;
}

.content-bar-icon{
    display: inline-block;
    margin-left: 1em;
    vertical-align: text-top;
}
 .content-title-app{
 	display: inline-block;
    margin-left: 1em;
    vertical-align: text-top;
 }

 .icono-bars-app-icono {
 	font-size: 1.3em;
 	color:#6b3efd;
 	font-weight:bolder !important;
 }

.container-noticias-visualizador {
    margin-left: 1em;
    margin-bottom: 1em;
}

div#container-noticias-pi {
    margin-top: 1em;
}

.content-titulo-principal {
    margin-left:1em;
    /* opacity: 0.7; */
    /* display: inherit; */
    background: rgb(129 122 122 / 50%);
    top: .5em;
    z-index: 2 !important;
    display: block;
    border-radius: 1em;
    padding: 0 .3em;
    position: absolute;
}

.content-titulo-secundario {
    margin-left:1em;
    /* opacity: 0.7; */
    z-index: 2 !important;
    display: block;
    position: absolute;
    top: 2em;
    background: rgb(129 122 122 / 50%);
    border-radius: 1em;
    padding: 0 .3em;
}

img.imagen-visor-creanotica {
    width: -webkit-fill-available;
    height: 200px;
    object-fit: cover;
    border-radius: 1em;
    /* cursor: pointer; */
}

#fecha-inicio-crearnoticia,#fecha-fin-crearnoticia{
	background:white;
	cursor:pointer;
}

.label-noticiar-creacion {
    margin-bottom: 0 !important;
    font-size: .8em;
    color: #767676;
    font-weight: bold;
}
.label-permanente{
	margin-bottom: 0 !important;
    font-size: .8em;
    color: #767676;
    font-weight: bold;
}

#jstre-content-geofrafia .jstree-search {
	font-style: italic !important;
    color: #8b0000 !important;
    font-weight: bold !important;
}

#jstre-content-geofrafia .jstree-anchor {
    font-family: 'Montserrat';
    font-size: .8em;
}

.jstree-proton .jstree-wholerow-clicked {
  background: white;
}
.jstree-proton .jstree-clicked {
  color: #808080;
}

.row-input-crea{
	margin-bottom:1em;
}

.icon-accion-imagen {
    display: initial;
}

.icon-accion-imagen {
    border: 1px solid white;
    width: 1.6em;
    padding: 0em 0em;
    border-radius: .2em;
    text-align: center;
    height: 1.5em;
    display: inline-block;
    margin-left: .5em;
    margin-right: .5em;
    margin-top: .3em;
    margin-bottom: .3em;
}

.icono-resumen-trabajo{
    color: black;
    margin-top: .4em;
    font-size: .8em;
}
.content-icons-image {
    text-align: center;
    text-align: center;
    position: absolute;
    bottom: .7em;
    width: 100%;
    background: rgb(40 40 40 / 50%);
    display: none;
}

.imagen-noticia-previsualizador:hover > .content-icons-image{
	display:block;
}

.text-title-app{
	margin-bottom:0;
	font-size:.9em;
	color:#6b3efd;
	font-weight:bold;
}


.icono-funcion-imagen {
    color: white;
    margin-top: .4em;
    font-size: .8em;
}

.container-descarga-archivo {
    display: flex;
    padding: .3em .4em;
}

.container-descarga-archivo:hover {
    display: flex;   
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    border-radius: .3em;
    cursor: pointer;
}

.icono-subida-archivo {
    font-size: 2em;
    color: #818181;
}
.content-icono-descarga {
    display: inline-block;
    vertical-align: text-top;
    margin-right: .5em;
}

.content-detalle-archivo {
    display: inline-block;
    vertical-align: text-top;
}

.title-nombrearchivo {
    margin-bottom: 0;
    font-size: .7em;
    font-weight: bold;
    color: #343434;
    line-height: normal;
}
.detail-archivo {
    margin-bottom: 0;
    font-size: .7em;
    font-weight: bold;
    color: #6b3efd;
    line-height: initial;
}

.content-delete-descargafile{
    position: absolute;
    right: 5%;
    top: .5em;
    width: 1.1em;
    height: 1.1em;
    text-align: center;
    background: #ffbaba;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}
.content-delete-descargafile i{
	color:#fd3e3e;
	font-size:.9em;
	line-height: 1.3em;
}

.active-descarga-archivo{
	border: 1px solid #9ce970;
	border-radius:.5em;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.icono-subida-archivo-success {
    font-size: 1.8em;
}

span.link-geografia {
    margin-bottom: 0 !important;
    font-size: .8em;
    color: #6b3efd;
    text-decoration: dashed;
    border-bottom: .2em solid #6b3efd;
    font-weight: bold;
    cursor: pointer;
}

.buscadorGenerico {
    height: 2em !important;
    min-height: 2em !important;
    padding: 0 !important;
    padding-left: 1em !important;
    border-radius: 1em !important;
    border: 1px solid #e2e2e2;
    background: #fcfcfc;
}
.iconoBusqueda {
    color: #888888;
    position: absolute;
    right: 0.8em;
    top: 0.4em;
    font-size: 0.8em;
    z-index: 3;
}

.content-seach-group {
    height: 1em;
    display: inline-flex;
    margin: 0em auto 1em;
}


.content-warning-geografia {
    right: 5%;
    top: .5em;
    width: 1.1em;
    height: 1.1em;
    text-align: center;
    background: #efd685;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    display: inline-block;
    cursor: pointer;
}
.icono-warning-geografia {
    color: #fd813e;
    font-size: .7em;
    line-height: 1.6em !important;
}

.content-success-geografia {
    right: 5%;
    top: .5em;
    width: 1em;
    height: 1em;
    text-align: center;
    background: #b2f585;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    display: inline-block;
    cursor: pointer;
}
.icono-success-geografia {
    color: #12a91b;
    font-size: .7em;
    line-height: 1.5em;
    line-height: 1.6em !important;
}


.content-success-generic {
    right: 5%;
    top: .5em;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    background: #b2f585;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    display: inline-block;
    /* cursor: pointer; */
}
.icono-success-generic {
    color: #12a91b;
    font-size: .8em;
    line-height: 1.5em;
    line-height: 1.6em !important;
}


.inactive-campo,.inactive-geografia-text,.inactive-geografia-icon,.inactive-descarga-archivo{
	background:none !important;
	opacity:0.7 !important;
	cursor:no-drop !important;
}
.inactive-descarga-archivo{
	box-shadow:none !important;
}



#container-noticias-pi {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    padding-top: 0 !important;
    background: white;
    border-radius: .5em;
    /* padding-top: 1em; */
    /* margin-top: 1em; */
    position: relative;
    padding: 0;
    min-height: 90vh;
    padding-top: 1em !important;
}
#myTab{
	margin-left: 1em;
}
#myTab .nav-item:first-child .nav-link {
   border-top-left-radius:1em;
   border-bottom-left-radius:1em;
}
#myTab .nav-item:last-child .nav-link {
   border-top-right-radius:1em;
   border-bottom-right-radius:1em;
}

#myTab .nav-link {
  padding-top: .4em;
  padding-bottom: .4em;
  border: solid 1px #ccc;
}

#myTab .nav-link.active {
  color: #7716fa !important;
  font-weight: bolder;
  background:#f9f9f9;
}
#crearnoticia{
	/* margin-top:1em; */
	margin: 1em;
}

.input-filtro-consultaOT:hover {
    background: #e4e6f2 !important;
    cursor: pointer;
    border-bottom: 2px solid #a4b1ff !important;
}
input#cluster {
    padding: 7px 7px 7px;
}

.input-filtro-noticias {
    border: 1px solid #dbdbdb !important;
    font-weight: 400;
    font-size: 1em;
    color: #818181 !important;
    transition: all 0.5s ease;
    border-bottom: 1px solid white;
    background: white !important;
    border-radius: 0.5em !important;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 7%), 0 1px 2px 0 rgb(0 0 0 / 5%) !important;
}
label.label-filter {
    margin-bottom: 0;
    font-size: 0.7em;
    font-weight: bold;
}

.columna-filtro-ind {
    padding-right: 0;
}

.column-style-consulta{
   padding-right: 0;
}
#btn_consultar_ordenes {
    background-color: #ffffff;
    color: #7716fa;
    border: solid 1px #7716fa !important;
    padding: 0.em 3em;
    border-radius: 5px;
    font-size: 0.8em;
    /* height: 2em; */
    margin-right: 1em;
    /* margin-top: 1.5em; */
    /* position: absolute; */
    /* right: 1em; */
    /* top: 0; */
}

.inactiveFechaConsulta{
	opacity:0.6;
	cursor:no-drop !important;
}

.inactiveFechaConsulta input,.inactiveFechaConsulta label{
    cursor: no-drop !important;
}

img.banner-file-noticias {
    width: 5em;
    height: 5em;
    object-fit: cover;
    min-width: 5em;
    min-height: 5em;
    max-height: 5em;
    max-width: 5em;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    cursor: pointer;
    border-radius: 1em;
}

#datatable-noticias td {
    font-size: 12px;
    padding: 8px 10px;
    text-align: center;
    font-size: .9em;
    color: #626262;
    border:none;
}

#datatable-noticias {
    border-collapse: collapse !important;
    width: 100% !important;
    /* border: 1px solid #eceeef; */
    /* table-layout: fixed; */
}
#busqueda_noticias .col-12   {
	padding:0;
}
#busqueda_noticias tbody tr.odd, #busqueda_noticias tbody tr.odd {
    background-color: #f1f1f1 !important;
}

#datatable-noticias thead th{
	border:none;
	border-bottom:2px solid #dbdbdb;
	font-weight: bold;
	text-align: center;
}

.consultaLinkExterno,.descarga-archivo{
    color: #0d6efd;
    text-decoration: underline;
    font-weight:bold;
    cursor: pointer;
}

.btn-editar-noticia {
    padding: .3em .4em;
    font-size: .8em;
}

.content-edicion-noticia{
	width: 80%;
	background: white;
	height: 100%;
	position: absolute;
	top: 0;
	border-right: 1px solid #e0e0e0;
	border-top-left-radius: .5em;
	border-bottom-left-radius: .5em;
	z-index: 3;
}

.content-filtros-consulta{
    position:absolute;
    display:flex;
    height:1.5em;
    right:1em;
    top:1em;
}

.content-edicionnoticia {
    padding: 1em;
}
.container-datos-crea-noticia{
	/* padding:1em; */
}