.jstree-anchor {
  font-family: 'Montserrat';
  font-size: .8em;
}

.contenedorContadoresEstadosVehiculos {
  text-align: center !important;
}

.contenedorContadoresEstadosVehiculos:hover {
  cursor: pointer !important;
  color: var(--estandar-color) !important;
}

.etiquetaContadoresEstadosVehiculos {
  margin-bottom: 0em;
  height: 50px;
  font-family: 'Montserrat' !important;
  font-size: .8em !important;
}

.etiquetaContadoresEstadosVehiculos:hover {
  cursor: pointer !important;
}

.contadoresEstadosVehiculos {
  margin-bottom: 0em;
  margin-top: 5px;
  font-family: 'Montserrat' !important;
  font-size: 1.5em !important;
}

#tabContadoresVehiculos .nav-link.active {
  color: var(--estandar-color) !important;
  font-weight: bolder;
  border: solid 0px #fff;
}

#tabContadoresVehiculos {
  font-size: 0.8em;
}

#tabContadoresVehiculos .nav-link:hover {
  background-color: #ffffff !important;
  border-color: transparent !important;
  cursor: pointer !important;
  font-weight: bold;
}


/* ------------------------------------------------------------------------------- */

.jstree-proton .jstree-wholerow-clicked {
  background: white;
}

.jstree-proton .jstree-clicked {
  color: white;
}

.jstree-checkbox-selection .jstree-clicked {
  color: #808080;
}

.jstree-proton .jstree-search {
  font-style: italic;
  color: #8b0000;
  font-weight: bold;
}

.jstree-proton {
  color: #808080;
}

.jstree-proton .jstree-clicked {
  border-radius: 0;
}

#container_vehiculos {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  /* padding-top: 1em; */
  background: white;
  border-radius: .5em;
  margin-top: 1em;
  padding: 1em 0;
  font-family: "Montserrat" !important;
}


.title {
  color: #834594;
  font-weight: bold;
  margin-left: 27px;
  font-size: 14px;
}

.segment {
  margin-top: 20px;
}

.tab-content hr {
  color: #e0dcdc;
}

#geografia-seleccionada-consulta.custom-select {
  font-size: 10px !important;
}


#btnBuscar {
  /* float: none; */
  /* margin-bottom: 0 !important; */
  /* margin-top: 1.8em; */
  color: var(--btn-color-buscar) !important;
  border: solid 1px var(--btn-color-buscar);
  position: absolute;
  bottom: 0;
  left: 1em;
}

.btnTotal:active, .btnTotal:focus .btnTotal:hover {
  background-color: white !important;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
  color: var(--estandar-color);
}

.btnTotal {
  background-color: #ffffff !important;
  color: var(--btn-color-buscar) !important;
  border: solid 1px var(--btn-color-buscar) !important;
  padding: 0.4em 1.5em;
  border-radius: 5px;
  font-size: 0.7em;
  position: relative;
  display: block;
  border-radius: .5em !important;
  float: right;
}

.btnTotal:hover {
  background-color: white !important;
}

.label-vehiculo {
  color: gray;
  margin-bottom: 0 !important;
  font-size: 0.9em !important;
}

.check-vehiculo .form-check {
  margin-left: 30px;
}

.form-check-input:checked,
.form-check-input:checked:focus,
.form-check-input[type="radio"]:checked:after {
  border-color: var(--estandar-color);
  background-color: var(--estandar-color);
}

/* CSS NAV */
#v-pills-tab .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #773f85;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  cursor: default;
}

.input-filtro {
  border: none !important;
  font-weight: 400;
  font-size: 1em;
  color: #818181 !important;
  transition: all 0.5s ease;
  border-bottom: 1px solid white;
  background: white !important;
  margin-top: 20px;
  border-bottom: 2px solid #a4b1ff !important;
}

.input-filtro::placeholder {
  font-weight: 400;
  font-size: 1em;
  color: #818181 !important;
}

.input-filtro:focus {
  -webkit-box-shadow: none;
  box-shadow: none !important;
}

.element-menu-filter:hover>.dropdown-menu {
  display: block;
}

.element-menu-filter:hover>.dropdown-menu {
  top: 0;
  left: 100%;
}

#todo_filtro,
#ninguno_filtro {
  width: 45%;
  background: #1266f1;
  color: white;
}

label.form-check-inputfiltro {
  display: flex;
}

.element-menu-filter {
  position: relative;
}

.dropdown-item.item-text-filtro.ng-binding {
  display: contents;
  /* margin-left: 1em; */
}

.form-check-input {
  margin-right: 0.5em;
}

.dropdown-item {
  padding: 0.25rem 1.5rem !important;
}

.btn-sm {
  padding: 0.7em 0.7em;
  /* border-radius: 50% !important; */
  font-size: 0.64rem;
  border: 0px !important;
}

a.btn-floating.btn-sm.btn-primary.waves-effect.waves-light {
  /* background-color: #33b5e5!important; */
  color: #fff !important;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

span.btn-floating.btn-sm.btn-default.waves-effect.waves-light {
  background-color: #4284cc !important;
  color: #fff !important;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  font-size: 0.9em;
}



.icons-filter {
  font-size: 15px;
  cursor: pointer !important;
  margin-top: 20px;
  font-weight: bold;
}

/* CSS TABLE */

#vehiculoTable tbody tr:nth-child(even),
#vehiculoActivaTable tbody tr:nth-child(even) {
  background: #f5f5f5;
}

#vehiculoTable>tbody>tr>td,
#vehiculoActivaTable>tbody>tr>td {
  white-space: nowrap;
  color: #39455b;
  font-family: 'Montserrat';
  font-size: .8em;
  border-top: 0px solid #eceeef !important;
  text-align: center;
}

#vehiculoTable thead th,
#vehiculoActivaTable thead th {
  position: relative;
  background-color: #b1b1b1;
  color: #fff;
  font-size: 0.8em;
  white-space: nowrap;
  padding: 1em;
  border: none;
  font-weight: normal;
  text-align: center;
}

#vehiculoTable tbody tr td,
#vehiculoActivaTable tbody tr td {
  padding: 0.5em;
  border: none;
}

.page-link {
  font-size: 0.7em !important;
  font-family: "Montserrat" !important;
}

.dataTables_info {
  font-size: 0.7em;
  font-family: "Montserrat" !important;
  text-align: left;
  padding-left: 0.5em;
}

.dataTables_paginate.paging_simple_numbers {
  float: right;
}

.dataTables_filter {
  font-size: 0.7em !important;
  font-family: 'Montserrat';
}

div.dataTables_wrapper div.dataTables_filter input {
  width: 11.3em;
  height: 2.05em;
  margin-right: 1em;
}

/* CSS TABLE */


#msjInterno {
  display: block;
  color: #61cae6;
  font-style: oblique;
  font-weight: bold;
  font-size: 0.9em;
}

.custom-file-label::after {
  font-family: FontAwesome;
  content: "\f093" !important;
  color: #61cae6;
  font-size: 14px;
}

.modal-title {
  color: grey;
}

.resumeTable {
  width: 100%;
  font-size: 17px;
  margin: 1em 0;
}

.tableTextTitle {
  text-align: left;
  color: #784085;
  font-size: 12px;
  width: 165px;
  display: inline-block;
  vertical-align: baseline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableText {
  text-align: left;
  color: #7c7c7d;
  font-size: 12px;
  width: 165px;
  vertical-align: baseline;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


#options.dropdown-menu {
  min-width: 1em !important;
}

li {
  list-style-type: none;
}

#myTabVehiculo {
  padding: 0em 1em 1em 1em;
}

#myTabVehiculo .nav-item:first-child .nav-link {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

#myTabVehiculo .nav-link.active {
  color: var(--estandar-color)!important;
  font-weight: bolder;
  background: #f9f9f9;
}

#myTabVehiculo .nav-link {
  padding-top: .4em;
  padding-bottom: .4em;
  border: solid 1px #ccc;
}

#myTabVehiculo .nav-item:last-child .nav-link {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

#myTabVehiculo .nav-tabs {
  border-bottom: 0px solid !important;
}


#tabContadoresVehiculos .nav-tabs .nav-link {
  padding: 0 !important;
}

#pills-tab-vehiculo li a.active {
  background-color: var(--tab-secundario-color);
  box-shadow: none;
  /* color: #888888; */
  font-weight: bolder;
  /* border-left: .3em solid #7a1cfa; */
}

#pills-tab-vehiculo li a {
  padding: .8em 2em;
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: .5em;
}

.box-row {
  /* margin-top: .5em; */
  border-top: 1px solid #d7d7d7;
  padding-top: .7em;
}

.input-valid-error {
  box-shadow: 0 1px 1px 0 red;
}

.file-delete {
  margin-top: 20px;
  margin-left: 55px;
  display: inline-flex;
}

.file-delete i {
  color: red;
  cursor: pointer;
  margin: 0.3em;
}

.fs-title {
  font-size: 13px;
  color: #959595;
  font-weight: bold;
}

.search-form {
  padding-right: 0;
  margin-bottom: 0 !important;
}

.imgResumen {
  width: 140px;
  height: 75px;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
  cursor: pointer;
}

tfoot {
  display: none;
}

.iconoBusqueda {
  color: #888888;
  position: absolute;
  right: 0.8em;
  top: 0.4em;
  font-size: 0.8em;
  z-index: 3;
}

.content-seach-group {
  height: 1em;
  display: inline-flex;
  margin: 0em auto 1em;
}

.buscadorGenerico {
  height: 2em !important;
  min-height: 2em !important;
  padding: 0 !important;
  padding-left: 1em !important;
  border-radius: 1em !important;
  border: 1px solid #e2e2e2;
  background: #fcfcfc;
}

.buscadorGenerico::placeholder {
  color: #a4a4a4;
  font-size: 1em;
}

.custom-file-label {
  width: 200px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.85em !important;
}

.text-img {
  width: 120px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em !important;
}

.custom-select {
  text-transform: uppercase;
}


.text-accion-nopermiso {
  font-size: 12px;
  color: grey;
  padding: 1em;
  font-weight: bold;
  text-align: center;
}

.text-accion-nopermiso .icon-not-permiso {
    color: #9586a9;
    font-size: 1.3em;
    padding: 0.5em;
    border-radius: 50%;
    /* background: #9586a9; */
    width: 2em;
    height: 2em;
    /* box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);**/
}

.text-not-permiso{
	margin-left: 0.5em;
	font-size: 1.5em;
	font-weight: normal;
}

.icon-table {
  background: var(--estandar-color);
  font-size: 0.9em !important;
  cursor: pointer;
  color: white;
  padding: 5px;
  border-radius: 0.2rem;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.search-filtro {
  align-items: stretch;
  background: white !important;
  padding: 0 0 0 1em !important;
  background: #fcfcfc !important;
  border-radius: 1em !important;

}

.icon-search {
  font-size: 0.8em !important;
  float: left;
  margin-top: -1.7em;
  float: right;
  margin-right: 0.9em;
  color: #888888 !important;
}


.columna-filtro-ind-rep::after {
  content: "";
  position: absolute;
  right: 3%;
  top: 66%;
  width: 0;
  height: 0;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.6em solid #939db2;
  clear: both;
  z-index: 2;
  font-size: 14px;
}

.input-filtro {
  border: 1px solid #dbdbdb !important;
  font-weight: 400;
  font-size: 1em;
  color: #818181 !important;
  transition: all 0.5s ease;
  border-bottom: 1px solid white;
  background: white !important;
  border-radius: 0.5em !important;
  margin-top: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .07), 0 1px 2px 0 rgba(0, 0, 0, .05) !important;
  /* position: absolute; */
  border-bottom: 2px solid rgb(217, 217, 217) !important;
}

.input-filtro::placeholder {
  font-weight: 400;
  font-size: 1em;
}

.input-filtro:focus {
  -webkit-box-shadow: none;
}

.input-filtro:hover {
  cursor: pointer;
  border-bottom: 2px solid #a4b1ff !important;
  background: white;
}

.formulario-vehiculo .form-control.form-control-sm, .formulario-vehiculo .form-control.custom-select {
  font-size: 0.7 !important;
  height: 2.5em !important;
}


.btnModificarUsuario {
  background-color: var(--btn-color-editar-tabla) !important;
  color: #fff !important;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); */
  font-size: 0.7em;
  text-align: center;
}

.btnEliminarUsuario {
  background-color: var(--btn-color-eliminar-tabla) !important;
  color: #fff !important;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); */
  font-size: 0.7em;
  text-align: center;
}

.btnActivaUsuario {
  background-color: #5cbc5c !important;
  color: #fff !important;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); */
  font-size: 0.7em;
  text-align: center;
}

.btn-option {
  padding: 4px 0px !important;
  border-radius: 0.2rem !important;
  cursor: pointer;
}

.span-consulta {
  color: #9d9d9d;
  font-size: .9em;
  margin: 0;
}

i.icono-noseleccion {
  color: #ff9f3b;
  display: inline-block;
}

.btnGuardarVehiculo {
	background-color: var(--btn-color-guardar) !important;
}

#vehiculoTable_paginate .page-item.active .page-link {
    background-color: var(--btn-color-paginador-tabla) !important;
}

.modal-footer .btn-cerrar-modal {
	color: var(--btn-color-cerrar-modal) !important;
    border: 0.09rem solid var(--btn-color-cerrar-modal) !important;
}