/* .datepicker table tr td, .datepicker table tr th{
    font-size: 0.8em;
} */

.container-filtros-inspectorCobertura {
    border: none !important;
    z-index: 2;
    position: relative;
    padding-top: 3pt !important;
    padding-bottom: 3pt !important;
    max-width: 1140px;
}

.column-style-inspectorcobertura {
    padding-right: 0px !important;
}

.columna-filtro-ind::after {
    content: "";
    position: absolute;
    right: 6%;
    top: 67%;
    width: 0;
    height: 0;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.6em solid #939db2;
    clear: both;
    z-index: 2;
    font-size: 14px;
}

label.label-filter {
    margin-bottom: 0;
    font-size: .7em;
    font-weight: bold;
}

.input-filtro-inspectorCobertura {
    border: 1px solid #dbdbdb !important;
    font-weight: 400;
    font-size: 1em;
    color: #818181 !important;
    transition: all 0.5s ease;
    border-bottom: 1px solid white;
    background: white !important;
    border-radius: .5em !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .07), 0 1px 2px 0 rgba(0, 0, 0, .05) !important;
    padding-right: 1.5em;
}

.input-filtro-inspectorCobertura::placeholder {
    font-weight: 400;
    font-size: 1em;
    color: #818181 !important;
}

.input-filtro-inspectorCobertura:focus {
    -webkit-box-shadow: none;
}

.input-filtro-inspectorCobertura:hover {
    background: #e4e6f2 !important;
    cursor: pointer;
    border-bottom: 2px solid #a4b1ff !important;
}

i.icono-noseleccion {
    color: #ff9f3b;
    display: inline-block;
}

#btn_consultar_cobertura {
    background-color: #ffffff;
    color: var(--estandar-color);
    border: solid 1px var(--estandar-color) !important;
    padding: 0.4em 1.5em;
    border-radius: 5px;
    font-size: 0.7em;
    margin-top: 25px;
}

.btn-sm {
    padding: 0.7em 0.7em;
    /* border-radius: 50% !important; */
    font-size: 0.64rem;
    border: 0px !important;
}


.element-menu-filter {
    position: relative;
}

.element-menu-filter:hover .dropdown-menu {
    display: block;
}

.element-menu-filter:hover .dropdown-menu {
    top: 0;
    left: 100%;
}

#todo_filtro,
#ninguno_filtro {
    width: 45%;
    background: #1266f1;
    color: white;
    margin-top: 0.5em;
    padding: 0;
}

/* 
#todo_filtro,
#ninguno_filtro {
    width: 45%;
    background: #1266f1;
    color: white;
} */

label.form-check-inputfiltro {
    display: flex;
}

.element-menu-filter {
    position: relative;
}

.dropdown-item.item-text-filtro.ng-binding {
    display: contents;
    /* margin-left: 1em; */
}

.dropdown-item {
    padding: 0.25rem 1.5rem !important;
}

.dropdown-item.item-text-filtro.ng-binding {
    display: contents;

}

.form-check-input {
    margin-right: 0.5em;
}

.contenedor-inspectorCobertura {
    margin-top: 20px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    border-radius: .5em;
    padding: 0px !important;
}

#mapaInspectorCobertura {
    height: 450px;
    width: 100%;
    background-color: gray;
}

#tableCobertura tbody tr:nth-child(even) {
    background: #f5f5f5;
}

#tableCobertura>tbody>tr>td {
    /* white-space: nowrap; */
    color: #39455b;
    font-family: 'Montserrat';
    font-size: .7em;
    border-top: 0px solid #eceeef !important;
}

#tableCobertura thead th {
    position: relative;
    background-color: #b1b1b1;
    color: #fff;
    font-size: 0.7em;
    white-space: nowrap;
    padding: 1em;
    border: none;
    font-weight: normal;
}

#tableCobertura tbody tr td {
    padding: 1em;
    border: none;
}

.page-link {
    font-size: 0.7em !important;
    font-family: "Montserrat" !important;
}

.dataTables_info {
    font-size: 0.7em;
    font-family: "Montserrat" !important;
    text-align: left;
    padding-left: 0.5em;
    white-space: normal !important;
}

.dataTables_paginate.paging_simple_numbers {
    float: right;
}

.dataTables_filter {
    font-size: 0.7em !important;
    font-family: 'Montserrat';
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 11.3em !important;
    height: 2.05em !important;
    margin-right: 1em !important;
}

.table.dataTable {
    border-collapse: collapse !important;
}

.btnTables {
    background-color: var(--estandar-color);
    color: #fff !important;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    font-size: 0.8em;
    text-align: center;
}

.btn-option {
    padding: 0.4em 1em !important;
    border-radius: 0.2rem !important;
    cursor: pointer;
}

tfoot {
    display: none;
}

.card-bottom {
    bottom: 0;
    position: absolute;
    width: 100%;
    font-size: 1rem !important;
}

.card-footer.btn-ligar {
    background: var(--btn-color-guardar) !important;
    color: white;
    cursor: pointer;
    border-color: var(--btn-color-guardar) !important;
    text-align: center;
    padding: 0.6em 1.5em;
    border-radius: 0.2rem;
}

.card-footer.btn-ligar:hover {
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
}

.select_cluster {
    cursor: pointer;
}

#content {
    font-size: 1em;
}

.firstHeading {
    font-size: 1.3em !important;
    font-weight: lighter !important;
    padding: 3px 50px 0px 5px;
    margin-bottom: 0;
}

.titleHeading {
    color: #a4b1ff !important;
}

.titleBody {
    color: #014c8c;
}

.agregarBtn {
    background-color: #ffffff;
    color: var(--estandar-color) !important;
    border: solid 1px var(--estandar-color) !important;
    margin: 10px 0;
    width: 250px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.agregarBtn:hover,
.agregarBtn:active {
    background-color: white !important;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%)
}


.map-card .map-container {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    height: 0;
}

map-card .map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.map-card .card-body.closed {
    height: 2rem;
    margin-top: -1rem;
    width: 30%;
}


.map-card .card-body {
    position: absolute;
    width: 20%;
    height: 80%;
    top: 10%;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: all 1s;
    border-radius: 0 !important;
    display: inline-grid;
    background-color: white;
    padding: 0.8em;
    box-shadow: 0 2px 2px 2px rgb(0 0 0 / 5%), 0 2px 2px 2px rgb(0 0 0 / 5%), 0 2px 2px 2px rgb(0 0 0 / 5%);
    padding-top: 0.1em;
    margin-left: 79%;
}

.map-card .card-body-consulta{
    position: absolute;
    width: 25%;
    height: 89%;
    top: 10%;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: all 1s;
    border-radius: 0;
    display: inline-grid;
    background-color: white;
    padding: 0;
    box-shadow: 0 2px 2px 2px rgb(0 0 0 / 5%), 0 2px 2px 2px rgb(0 0 0 / 5%), 0 2px 2px 2px rgb(0 0 0 / 5%);
    padding-top: 0.1em;
    margin-left: 1%;
}

.map-card .pill-counter{
    position: absolute;
    width: 18%;
    height: 6%;
    top: 1%;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: all 1s;
    font-size: 0.7em;
    border-radius: 3em;
    display: inline-grid;
    background-color: white;
    padding: 0;
    box-shadow: 0 2px 2px 2px rgb(0 0 0 / 5%), 0 2px 2px 2px rgb(0 0 0 / 5%), 0 2px 2px 2px rgb(0 0 0 / 5%);
    padding-top: 0.1em;
    margin-left: 45%;
}

.card-title {
    font-size: 1em;
}

.card-header {
    text-align: center;
    padding: 0.4rem;
    border: none;
}

.card-incidencia {
    color: #039be5;
    font-size: .6em !important;
    box-shadow: none;
}

.card-incidencia .text-format{
    width: 20em;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title_span {
    font-size: .9em;
    color: #3a3434;
}

/*
.card-incidencia:hover {
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
}
*/
.card-selected {
    overflow-y: auto;
    height: 315px;
}

.download-file {
    margin-top: 25px;
}

/* .gm-style-iw.gm-style-iw-c {
    padding-right: 12px !important;
    padding-bottom: 12px !important;
}

.gm-style-iw-d {
    overflow: hidden !important;
} */

#search {
    border-radius: 20px;
    width: 150px;
    height: 2em !important;
    min-height: 2em !important;
    padding: 0 !important;
    padding-left: 1em !important;
}

#search::placeholder {
    font-weight: 400;
    font-size: 1em;
    color: #818181 !important;
}

#buscar-falla {
    position: absolute;
    font-size: 12px;
    color: #a9a9a9;
    margin-left: 9.5em;
    top: 1.5em;
}

.jstree-proton .jstree-anchor {
    font-family: 'Montserrat';
    font-size: 0.8em;
}

.text-accion-nopermiso {
    font-size: 12px;
    color: grey;
    padding: 1em;
    font-weight: bold;
    text-align: center;
}

.text-accion-nopermiso .icon-not-permiso {
    color: #9586a9;
    font-size: 1.3em;
    padding: 0.5em;
    border-radius: 50%;
    /* background: #9586a9; */
    width: 2em;
    height: 2em;
    /* box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);**/
}

.text-not-permiso {
    margin-left: 0.5em;
    font-size: 1.5em;
    font-weight: normal;
}

.content-incidencia {
    height: 409px;
    overflow-x: hidden;
    overflow-y: auto;
    direction: rtl;
}

.content-incidencia::-webkit-scrollbar, .card-selected::-webkit-scrollbar {
    width: 0.1em;
}

.incidencia-card {
    padding: 0.5em 0.5em 0 0.5em;
    direction: ltr;
}

.incidencia-card .text-title {
    font-size: 0.6em;
    margin: 0;
    color: #000;
}

.incidencia-card .incidencia-options span {
    color: #000;
    padding: 0.5em;
    border-radius: 25px;
    background: #fff;
    font-size: 0.8em;
    cursor: pointer;

}

.incidencia-card .incidencia-options {
    text-align: end;
    padding: 0;
}


.rb-container {
    display: block;
    font-size: 0.6em;
    position: relative;
}

.rb-container .item-title{
    width: 25em;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rb-container ul.rb {
    margin: 0.5em 0;
    padding: 0;
    display: inline-block;
}

.rb-container ul.rb li {
    list-style: none;
    margin: auto;
    margin-left: 1.7em;
    min-height: 30px;
    border-left: 1px dashed #696565;
    padding: 0 0 0 10px;
    position: relative;
}

.rb-container ul.rb li:last-child {
    border-left: 0;
}

.rb-container ul.rb li::before {
    position: absolute;
    left: -5px;
    top: 2px;
    content: " ";
    border-radius: 500%;
    background: #696565;
    height: 10px;
    width: 10px;
    transition: all 500ms ease-in-out;
}

.rb-container ul.rb li:hover::before {
    border-color: #fff;
    transition: all 1000ms ease-in-out;
}

.item-title span {
    color: #000;
    margin-top: -0.8em;
}

.content-text {
    padding: 0 0 0 auto;
    width: 63%;
    white-space: nowrap;
    display: inline-block !important;
    overflow: hidden;
    text-overflow: ellipsis !important;
    margin-top: -0.4em;
}

.imgFoto {
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
    cursor: pointer;
    border-radius: 35px
}


.search-incidencia input {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: none;
    transition:all 0.3s ease-in-out;
}

.search-incidencia input:active, .search-incidencia input:focus {
   box-shadow: none;
   border: none;
   border-bottom: 1px solid #ccc;
   transition:all 0.3s ease-in-out;
   
}

.search-incidencia input {
    margin-left: 2.8em;
    width: 86%;
    background: #f5f5f5;
    margin-top: 0.2em;
}

.search-incidencia i{
    position: absolute;
    padding: 0.5em;
    opacity: 0.5;
}

.timeline {
    position: relative;
    padding-left: 2rem;
    margin: 0 0 0 10px;
    color: #000;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: #51b37d;
}

.timeline .timeline-container {
    position: relative;
    margin-bottom: 1rem;
}

.timeline .timeline-container .timeline-icon {
    position: absolute;
    left: -47px;
    top: 4px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 1rem;
    border: 1px solid #51b37d;
    background: #fff;
}

.timeline .timeline-container .timeline-icon i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #51b37d;
}

.timeline .timeline-container .timeline-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.timeline .timeline-body .timeline-title .badge {
    background-color: #039be5;
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 0.5em;
    font-weight: bold;
}

.timeline .timeline-body .timeline-subtitle {
    font-weight: 300;
    font-style: italic;
    opacity: .4;
    margin-top: 16px;
    font-size: 11px;
}

.icon-content {
    position: absolute;
    width: 24px;
    height: 24px;
    cursor: pointer;
    right: 0;
    border-radius: 50%;
    text-align: center;
    font-size: 0.7rem;
    border: 1px solid var(--btn-color-eliminar-tabla);
    background: #fff;
}

.icon-content i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--btn-color-eliminar-tabla);
}

.icon-content-count{
    position: absolute;
    width: 24px;
    height: 24px;
    cursor: pointer;
    left: 0;
    margin: 0.1em 0.3em;
    border-radius: 50%;
    text-align: center;
    font-size: 0.7rem;
    background: #000;
}

.icon-content-count i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.asigna-cluster-link span {
    font-size: 0.7em;
    color: #0c56d0 !important;
    font-weight: bold !important;
    cursor: pointer;
}
.asigna-cluster-link {
    text-align: center;
    padding: 0.3em;
}

.message-nodata {
    text-align: center;
    padding: 5em;
    font-size: 0.8em;
    color: #ccc;
}

.content-seach-group{
    height: 1em;
    display: inline-flex;
    margin: 0em auto 1em;
}

.buscadorGenerico {
    height: 2em !important;
    min-height: 2em !important;
    padding: 0 !important;
    padding-left: 1em !important;
    border-radius: 1em !important;
    border: 1px solid #e2e2e2;
    background: #fcfcfc;
}

.iconoBusqueda {
    color: #888888;
    position: absolute;
    right: 0.8em;
    top: 0.4em;
    font-size: 0.8em;
}
