.historico-alertas-div .card-body .container-deschistorico {
    line-height: 1.3;
}

.custom-slider-main {
    margin: 0 auto;
    display: flex;
}

.rowTabs {
    margin: 0 !important;
    padding-left: 0.1em !important;
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: hidden !important;
}

.tabHeader {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: hidden;
    padding-bottom: 1px;
}

@media screen and (max-width: 1300px) {

    h5.title-modulo {
        font-weight: bold;
        margin-bottom: 0;
        font-size: 1em !important;
    }

    h1.h6.subtitle-modulo {
        font-size: .85em !important;
        color: #767676;
    }

    /* FILTROS */

    .input-filtro-consultaOT {
        border: 1px solid #dbdbdb !important;
        font-weight: 400;
        font-size: 1em;
        color: #818181 !important;
        transition: all 0.5s ease;
        border-bottom: 1px solid white;
        background: white !important;
        border-radius: 0.5em !important;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
        padding-right: 2em !important;
    }

    label.label-filter {
        margin-bottom: 0;
        font-size: 0.6em;
        font-weight: bold;
    }

    input#idot {
        font-family: "Montserrat";
        font-size: .65em;
    }

    input#idos {
        font-family: "Montserrat";
        font-size: .65em;
    }

    input#cuenta {
        font-family: "Montserrat";
        font-size: .65em;
    }

    #filtro-estatus-substatus,
    #filtro-intervencion,
    #filtro_fecha_inicio_consultaOt,
    #filtro_fecha_fin_consultaOt {
        font-size: .65em;
    }

    input#cluster {
        padding: 7px 7px 7px;
        font-size: .65em;
    }

    #btn_consultar_ordenes {
        background-color: #ffffff;
        color: var(--btn-color-buscar) !important;
        border: solid 1px var(--btn-color-buscar) !important;
        padding: 0.4em 1.5em;
        border-radius: 5px;
        font-size: 0.6em;
        margin-top: 26px;
    }

    .modal-footer .btn-cerrar-modal {
        font-size: .6em;
        background: white;
        color: #0c56d0;
        font-weight: bold;
        box-shadow: none;
        padding: 0.6em 2em 0.6em 2em;
        border: 0.09rem solid #0c56d0;
        box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
    }

    #jstree-proton-3 .jstree-anchor {
        font-family: 'Montserrat';
        font-size: .7em;
    }

    .iconoBusqueda {
        color: #888888;
        position: absolute;
        right: 0.8em;
        top: 0.5em;
        font-size: 0.75em !important;
    }

    /* FILTROS */

    /* TABLE */

    #table-materiales-ot_paginate,
    #table_pagos_ot_paginate,
    #otTable_paginate,
    #table_dispositovos_ot_paginate {
        font-size: .9em;
    }

    #otTable thead th,
    #table_pagos_ot thead th,
    #table-materiales-ot thead th,
    #table_dispositovos_ot thead th,
    #table-recoleccion-temp thead th {
        position: relative;
        background-color: #b1b1b1;
        color: #fff;
        font-size: 0.7em;
        white-space: nowrap;
        padding: 1em;
        border: none;
        font-weight: normal;
    }

    #otTable>tbody>tr>td {
        font-size: .65em !important;
        color: #39455b;
        font-family: 'Montserrat' !important;
        border-top: 0px solid #eceeef !important;
    }

    #table-materiales-ot>tbody>tr>td,
    #table_pagos_ot>tbody>tr>td,
    #table_dispositovos_ot>tbody>tr>td,
    #table-recoleccion-temp>tbody>tr>td {
        white-space: nowrap;
        color: #39455b;
        font-family: 'Montserrat' !important;
        font-size: .65em;
        border-top: 0px solid #eceeef !important;
    }

    span.btn-floating.btn-evidencia.btn-sm.btn-secondary.waves-effect.waves-light {
        background-color: var(--btn-color-evidencia-tabla) !important;
        color: #fff !important;
        -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
        font-size: 0.7em;
        text-align: center;
    }

    span.btn-floating.btn-sm.btn-secondary.waves-effect.waves-light.acciones {
        background-color: var(--btn-color-detalle-tabla) !important;
        color: #fff !important;
        -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
        font-size: 0.7em;
        text-align: center;
    }

    .dataTables_info {
        font-size: 0.65em;
        font-family: "Montserrat" !important;
        text-align: left;
        padding-left: 0.5em;
    }

    /* TABLE */

    /* MODAL DETALLE OT */

    span.text-tile-vehiculo {
        font-weight: bold;
        font-size: 0.7em;
        color: #444444;
    }

    span.text-content-vehiculo {
        font-size: 0.7em;
        color: #303030;
    }

    #v-tabs-tab-detalle-ot .nav-link {
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        font-size: .65em !important;
    }

    .modal-title-consulta-ot {
        font-size: 1em;
    }

    /* TIMELINE */
    .timeline-day-detalleOT {
        font-size: .8em !important;
        color: grey;
    }

    .circle-statushistorico-histo {
        font-size: 0.7em;
        line-height: 2em !important;
        text-align: center;
        color: #fff;
        background-color: #999;
        width: 2em;
        height: 2em;
        vertical-align: middle;
        border-radius: 50%;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    }

    .titlehistorico {
        font-weight: bold;
        font-size: 0.65em;
        color: #818181;
    }

    span.content-titlehistorico.ng-binding {
        font-size: 0.65em;
        font-weight: bold;
        color: #303030;
    }

    .footer-card-historico-alerta {
        position: absolute;
        right: 0.5em;
        bottom: 1.8em;
        font-size: 0.7em;
        font-weight: bold;
    }

    .circle-statushistorico {
        font-size: 0.6em;
        line-height: 2em !important;
        text-align: center;
        color: #fff;
        background-color: #999;
        width: 2em;
        height: 2em;
        vertical-align: middle;
        border-radius: 50%;
    }

    /* TIMELINE */

    /* CHAT */
    .img-comentarios-chat {
        box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
        border-radius: 50%;
        width: 2em !important;
        height: 2em !important;
        vertical-align: middle;
        text-align: center;
        line-height: 2em !important;
        color: white;
        font-size: .9em;
    }

    .text-fecha-comentario {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 0.6em;
    }

    .chat-area .chats .chat .chat-body .chat-text {
        max-width: 360px;
        padding: 0.5rem 1rem;
        font-size: .8em;
    }

    .input-mensaje-chat {
        margin-right: 1.5rem !important;
        padding: 0 1.5rem !important;
        color: #9e9e9e;
        border-bottom: 0;
        border-radius: 5px;
        border: none;
        background-color: #eceff1;
        height: 2.5em !important;
        margin-left: 52% !important;
        font-size: .7em !important;
    }

    .btn-enviar-comentario-ot {
    	background-color: var(--btn-color-guardar-modal) !important;
        height: 2.3em;
        font-size: .7em !important;
        color: #ffffff !important;
        padding-top: 0.5em !important;
    }

    /* CHAT */

    /* DISPOSITIVOS */
    #table_dispositovos_ot_nivel2 tr td {
        font-size: 0.6em;
        font-family: "Montserrat" !important;
        text-align: center;
        border: 1px #ccc;
        background-color: #ffffff !important;
    }

    /* DISPOSITIVOS */

    /* MATERIALES */
    img.img-tecnico-materiales {
        border-radius: 50%;
        -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
        max-height: 10em;
        height: 10em;
        width: 10em;
        min-width: 10em;
        object-fit: cover;
    }

    /* MATERIALES */

    /* RECOLECCION */
    img.img-recoleccion {
        border-radius: 50%;
        -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
        max-height: 10em;
        height: 10em;
        width: 10em;
        min-width: 10em;
        object-fit: cover;
    }

    /* RECOLECCION */

    /* DETALLE SOPORTE */
    #myTab .nav-link {
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        border: solid 1px #ccc;
        font-size: .6em;
    }

    .estatus-container-pagos, .estatus-container-pagos-pendiente{
        font-size: 0.8em;
    }

    .estatus-container-pagos i {
        font-size: 0.8em;
        border: 1.5px solid #51b37d;
        width: 2em;
        height: 2em;
    }
    .estatus-container-pagos-pendiente i{
        font-size: 0.8em;
        border: 1.5px solid #fdc149;
        width: 2em;
        height: 2em;
    }

    .imagenes-evidencia-content{
        padding: 0;
        overflow: auto;
        max-height: 100vh;
    }

    .tipo_evidencia{
        font-size: 0.6em !important;
    }
    .contenedor_img_evidencia {
        width: 160px;
        height: 110px;
    }
    .text_img_evidencia{
        font-size: 0.6em;
    }
    /* DETALLE SOPORTE */
    /* MODAL DETALLE OT */

}

.textoTituloCardsConsulta {
    margin-bottom: 0;
    font-weight: bold;
}
.text-descarga-consulta {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #858585;
    font-size: .7em;
}
.content-descarga-archivo {
    position: absolute;
    bottom: .2em;
    width: auto;
    max-width: 60%;
    border-radius: 1em;
    border: 1px solid #dadada;
    display: flex;
    transition: all .3s ease-in;
    cursor: pointer;
    line-height: 1em;
}
.iconoDescargaArchivo {
    color: #9f9f9f;
    font-size: .7em;
    margin-right: .5em;
}

.textoTituloCardsConsulta {
    margin-bottom: 0;
    font-weight: bold;
}

.text-descarga-consulta {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #858585;
    font-size: .7em;
}