#jstree-proton-3 .jstree-anchor {
  font-family: 'Montserrat';
  font-size: .8em;
}

#jstree-proton-3 .jstree-search {
  font-style: italic !important;
  color: #8b0000 !important;
  font-weight: bold !important;
}

#jstree-proton-3 .jstree-wholerow-clicked {
  background: white;
}

#jstree-proton-3 .jstree-clicked {
  background: white;
  color: #808080;
  box-shadow: inset 0 0 1px #fff;
}

#text_header_ordenes {
  font-family: "Montserrat" !important;
  text-align: center;
  /* font-family: 'Montserrat'; */
}

#todo_filtro,
#ninguno_filtro {
  width: 45%;
  background: #1266f1;
  color: white;
  margin-top: 0.5em;
  padding: 0;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #fff;
  opacity: 1;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8) !important;
}

body.modal-open.mfp-zoom-out-cur {
  z-index: 22222222222223333333333333333 !important;
}

.mfp-title {
  text-align: center !important;
}

.modal-dialog.cascading-modal .modal-body,
.modal-dialog.cascading-modal .modal-footer {
  border-top: 1px solid #dddddd;
  margin: 0 !important;
  padding: 0.3em 0.5em;
}

.mfp-wrap {
  z-index: 1222222222222222222222222222 !important;
}

body.ver_scroll.pg-loaded.modal-open {
  overflow: hidden;
}

i.fa.fa-calendar.prefix {
  font-size: 1.2em;
  color: #858d91;
  display: none !important;
}

span#basic-addon1 {
  padding: 0;
  background-color: #fff;
  border: 0px;
}

#categorias_div .content_category .badge {
  position: absolute !important;
  z-index: 1;
  background: #4285f4 !important;
  margin-left: -1em !important;
  font-size: 10px;
  top: -5px;
}

#categorias_div {
  padding: 0;
}

.content_category {
  max-width: 16em;
  /*display: inline;*/
}

.category_full {
  margin: 0;
  max-width: 16em !important;
  margin-left: 4.5em !important;
}

.tipo_evidencia {
  padding: 0.5em 0 0 0;
  text-align: center;
  font-size: 0.7em;
  cursor: pointer;
  margin-bottom: 0.8em;
  margin-top: 0.8em;
  background-color: #fff;
  font-weight: bolder;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  border-left: 2px solid #4991e1;
}

.total-imagen-evidencia {
  width: 22px;
  padding: 0.2em;
  margin-top: -0.25em;
  margin-right: -1.5em;
  font-size: 0.9em;
  height: 22px;
  border-radius: 25px;
  color: #fff;
  background-color: #4991e1;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  float: right;
  border: 2px solid #fff
}

.label-tipo {
  width: 200px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tipo-evidencia-selected,
.tipo_evidencia:hover {
  background-color: #e4e6f2;
}

.imagen_content_evidencia {
  display: inline-grid;
  max-width: 15em !important;
  margin-left: 2em;
}

.idoti {
  border-right: 1px solid #ccc;
  padding-right: 1em;
  margin-right: 1em;
}

.modal-banner-evidencia {
  padding: auto 1em;
  border: 1px solid #ccc;
}

/* .text-center { */
/* color: #834694; */
/* font-family: 'Montserrat' !important; */
/* } */
.text_img_evidencia {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 0.8em;
  width: 100% !important;
  height: 50px;
  overflow-wrap: anywhere;
}

.middle_img_evidencia {
  transition: 0.5s ease;
  opacity: 3;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  /* height: auto; */
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
}

div#contenido_imagenes {
  overflow-y: scroll;
  /* color:  black; */
}

tfoot {
  background-color: #ebecefa1;
  color: black;
}

.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover {
  background: #78a7f7;
  color: white;
}

img.img_evidencia {
  width: 100%;
  -webkit-transform: rotate(15deg) scale(1.4);
  transform: rotate(15deg) scale(1.4);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.contenedor_img_evidencia {
  position: relative;
  overflow: hidden;
  margin-bottom: 1em;
  width: 180px;
  height: 130px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

}

/* div#imagenOT { */
/* overflow: hidden; */
/* } */

.modal-dialog.cascading-modal .modal-header {
  margin: 0 !important;
}

.content_category.col-2 {
  padding-bottom: 1em !important;
  padding-left: 2em !important;
}

.modal-dialog.modal-lg.modal-img {
  max-width: 80% !important;
}

.btn-sm {
  padding: 0.7em 0.7em;
  /* border-radius: 50% !important; */
  font-size: 0.64rem;
  border: 0px !important;
}

a.btn-floating.btn-sm.btn-primary.waves-effect.waves-light {
  /* background-color: #33b5e5!important; */
  color: #fff !important;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

span.btn-floating.btn-sm.btn-default.waves-effect.waves-light {
  background-color: #4284cc !important;
  color: #fff !important;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  font-size: 0.9em;
}

span.btn-floating.btn-sm.btn-secondary.waves-effect.waves-light.acciones {
  background-color: var(--btn-color-detalle-tabla) !important;
  color: #fff !important;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  font-size: 0.8em;
  text-align: center;
}

span.btn-floating.btn-evidencia.btn-sm.btn-secondary.waves-effect.waves-light {
  background-color: var(--btn-color-evidencia-tabla) !important;
  color: #fff !important;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  font-size: 0.8em;
  text-align: center;
}

i.fa.fa-pause-circle.pend {
  color: #ffbf00 !important;
}

i.fa.fa-arrow-circle-right.asig {
  color: #7fd223 !important;
}

i.fa.fa-hand-paper-o.deten {
  color: #ff8000 !important;
  /* background: red; */
}

i.fa.fa-check-circle.term {
  color: #63a6e0 !important;
}

i.fa.fa-times-circle.cancel {
  color: red !important;
}

.modal-open .modal.hist {
  overflow-y: hidden !important;
}

.modal-body.materiales {
  height: 15em;
  overflow: auto;
  font-family: "Montserrat";
  /*font-size: .em;*/
}

.modal-open .modal.img {
  overflow-x: hidden;
  /* overflow-y: hidden !important; */
}

@media (min-width: 992px) .modal .modal-full-height.img {
  height: 90% !important;
}

body.pg-loaded.modal-open {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.modal-dialog.modal-full-height.img.modal-notify {
  max-height: 36em;
  /* overflow: auto; */
}

thead#thead_consultaOT {
  font-weight: bold;
  border: 1px #ccc;
  font-family: "Montserrat" !important;
}

thead#thead_materiales {
  background-color: #d2d2d2;
  font-family: "Montserrat";
  /* font-size: 1em; */
}

#contenido_fallas_tabs .nav-tabs .nav-item .nav-link.active {
  color: black;
}

/* #contenido_fallas_tabs .nav-tabs .nav-item .nav-link { */
/* color: #b5b3b3 !important; */
/* } */
.itemGeneral.active {
  background-color: #44c0e4;
  border-color: #44c0e4;
  font-weight: bold;
}

.itemGeneral {
  cursor: pointer;
}

div.comentario_web {
  background-color: #f7f7f9;
  border-radius: 30px;
  border-top-left-radius: 0;
  color: #969696;
  padding: 13px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.col-1.icono_chat {
  margin: 0.6em;
}

div.comentario_movil {
  background-color: #f7f7f9;
  border-radius: 30px;
  border-top-right-radius: 0;
  color: #969696;
  padding: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.modal-dialog.modal-lg.modal-acciones {
  max-width: 81em;
}

#content-ot .info_ot_detail {
  padding: 5px;
  font-size: 0.8em;
}

.itemGeneral.active {
  background-color: #834694;
  border-color: #834694;
  font-weight: bold;
}

.itemGeneral.active::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #1266f1;
}

.row_content_info.row {
  padding: 0.1em;
}

.nav-tabs .nav-item .nav-link {
  color: #a2a2a2 !important;
}

.row.list_cambio_equipo {
  padding: 0px 0px 7px;
}

div#content_cambio_equipo {
  font-family: "Montserrat";
  font-size: 0.9em;
}

b.title_span.title_info_cambio_Equipo {
  color: #7b7b7b !important;
  font-weight: 900 !important;
  font-size: 1em;
  /* font-family: 'Montserrat'; */
}

/* .nav-tabs .nav-item .nav-link.active {
  background: #63a6e0;
  color: white !important;
} */
b.title_span_cambio_equipo {
  color: #7b7b7b !important;
  font-weight: 700 !important;
}

h4.text-center {
  font-family: "Montserrat" !important;
}

#content_cambio_equipo .container {
  font-family: "Montserrat" !important;
  font-size: 0.9em;
}

/* b.autor_comentario {
  color: #616161 !important;
} */
#content-soluciones div#content_tabs {
  font-size: 0.8em;
}

/* #content-comentarios .container {
  font-size: 0.9em;
} */
#contenido_fallas_tabs ul#headers_tab {
  font-size: 0.9em;
}

.info_reubicacion_detail {
  padding: 5px;
}

.col-reubicacion {
  padding: 0px;
}

.info_reubicacion_detail {
  font-family: "Montserrat";
  font-size: 0.9em;
}

#content_cambio_plan .container .container {
  font-family: "Montserrat";
  font-size: 0.9em;
}

#content_cambio_plan b.title_span.title_info_ot {
  font-weight: 600 !important;
}

.md-form .prefix~input,
.md-form .prefix~textarea {
  width: 100% !important;
  margin-left: 0rem;
  margin-right: 2em;
}

input#fecha_fin {
  /*  border-top: 3px solid #e84b8e !important; */
  font-family: "Montserrat" !important;
  /*  font-size: 0.7em;
  padding-left: 1em !important; */
}

input#fecha_inicio {
  /*  border-top: 3px solid #51c3f7 !important; */
  font-family: "Montserrat" !important;
  /*  font-size: 0.7em !important;
  padding-left: 1em !important; */
}

input#intervencion_filtro {
  /* border-top: 3px solid #e1e04a !important; */
  font-family: "Montserrat";
  cursor: pointer;
}

input#idot {
  /* border-top: 3px solid #e8498e !important; */
  font-family: "Montserrat";
}

input#idos {
  /* border-top: 3px solid #50c3f7 !important; */
  font-family: "Montserrat";
}

input#cuenta {
  /* border-top: 3px solid #784085 !important; */
  font-family: "Montserrat";
}

a#dropdownint {
  background: transparent !important;
  color: #2b2b2b !important;
  -webkit-box-shadow: none;
  border: 1px solid #cab7b7;
  font-size: 0.7em;
  /*  border-top: 3px solid #e84a8e !important; */
  padding: 7px 0px 24px;
  font-weight: unset;
}

ul.dropdown-menu {
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  -webkit-box-shadow: 0 1px 5px 0 rgb(0 0 0 / 16%);
  /* z-index: 200 !important; */
}

.element-menu-filter:hover>.dropdown-menu {
  top: 0;
  left: 100%;
}

.form-check-input {
  margin-right: 0.5em;
}

.dropdown-item.item-text-filtro {
  display: contents;
}

label.form-check-inputfiltro {
  display: flex;
}

.form-check-input {
  margin: 0;
  display: inline-block;
  margin-right: 0.5em;
}

.element-menu-filter {
  position: relative;
  cursor: pointer !important;
}

.element-menu-filter:hover>.dropdown-menu {
  display: block;
}

.element-menu-filter:hover>.dropdown-menu {
  top: 0;
  left: 100%;
}

label.dropdown-item.form-check-inputfiltro {
  margin-bottom: 0;
  cursor: pointer !important;
}


input#cluster {
  /* border-top: 3px solid #e1e04a !important; */
  padding: 7px 7px 7px;
}

div#colores_estados {
  font-family: "Montserrat";
  font-size: 0.9em;
  text-align: end;
}


.md-form #fechaFin label.active {
  display: block !important;
  padding-left: 0 !important;
  margin-left: 1rem;
}

.md-form #fechaInicio label.active {
  display: block !important;
  padding-left: 0 !important;
  margin-left: 1rem;
}

div.borderFilter {
  margin-left: 0em;
}

/* CSS TABLE */
#otTable tbody tr:nth-child(even),
#table-materiales-ot tbody tr:nth-child(even),
#table_pagos_ot tbody tr:nth-child(even),
#table_dispositovos_ot tbody tr:nth-child(even),
#table-recoleccion-temp tbody tr:nth-child(even) {
  background: #f5f5f5;
}

#table-materiales-ot>tbody>tr>td,
#table_dispositovos_ot>tbody>tr>td,
#table_pagos_ot>tbody>tr>td,
#table-recoleccion-temp>tbody>tr>td {
  white-space: nowrap;
  color: #39455b;
  font-family: 'Montserrat' !important;
  font-size: .8em;
  border-top: 0px solid #eceeef !important;

}

#otTable>tbody>tr>td {
  font-size: .75em !important;
  color: #39455b;
  font-family: 'Montserrat' !important;
  font-size: .8em;
  border-top: 0px solid #eceeef !important;
}

#otTable thead th,
#table-materiales-ot thead th,

#table_dispositovos_ot thead th,
#table-recoleccion-temp thead th {
  position: relative;
  background-color: #b1b1b1;
  color: #fff;
  font-size: 0.8em;
  white-space: nowrap;
  padding: 1em;
  border: none;
  font-weight: normal;
}

#otTable tbody tr td,
#table-materiales-ot tbody tr td,
#table_dispositovos_ot tbody tr td,
#table-recoleccion-temp tbody tr td {
  padding: 1em;
  border: none;
}

#table_pagos_ot tbody tr td {
  padding: 0.7em;
  border: none;
  text-align: center;
}

#table_pagos_ot thead th {
  position: relative;
  background-color: #b1b1b1;
  color: #fff;
  font-size: 0.8em;
  white-space: nowrap;
  padding: 0.7em;
  border: none;
  font-weight: normal;
}


.page-link {
  font-size: 0.7em !important;
  font-family: "Montserrat" !important;
}

.dataTables_info {
  font-size: 0.7em;
  font-family: "Montserrat" !important;
  text-align: left;
  padding-left: 0.5em;
}

.dataTables_paginate.paging_simple_numbers {
  float: right;
}

.dataTables_filter {
  font-size: 0.7em !important;
  font-family: 'Montserrat' !important;
}

div.dataTables_wrapper div.dataTables_filter input {
  width: 11.3em;
  height: 2.05em;
}


/* CSS TABLE */

.icono-pago-liberado {
  text-align: center;
  color: #51b37d;
  font-size: 1.5em;
}

.icono-pago-pendiente {
  text-align: center;
  color: #fdc149;
  font-size: .79em;
  border: .25em solid #fdc149;
  width: 1.9em;
  height: 1.9em;
  border-radius: 50%;
  line-height: 1.5em !important;
}

.estatus-container-pagos, .estatus-container-pagos-pendiente {
  position: absolute;
  margin-left: -0.9em;
}

.estatus-container-pagos-pendiente i {
  font-size: 10px;
  width: 2.1em;
  border: 2px solid #fdc149;
  border-radius: 50%;
  height: 2.1em;
  line-height: 1.8em;
  text-align: center;
  color: #fdc149;
}

.estatus-container-pagos i {
  font-size: 10px;
  width: 2.1em;
  border: 2px solid #51b37d;
  border-radius: 50%;
  height: 2.1em;
  line-height: 1.8em;
  text-align: center;
  color: #51b37d;
}

.sin-pagos-pendientes {
  color: #51b37d;
  font-size: 0.9em;
}

.con-pagos-pendientes {
  color: #fdc149;
  font-size: 0.9em;
}

div.style_modal_header {
  /*  background: #834594; */
  color: #000000 !important;
  /* border-bottom: none; */
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); */
  font-family: "Montserrat" !important;
  padding: 0.9rem !important;
}

div.modal-footer {
  border-top: 1px solid #dddddd;
  margin: 0 !important;
  padding: 0.3em 0.5em;
}

hr {
  border-top: 1px solid #ece4e4 !important;
}

tbody#contentmateriales tr td {
  font-size: 0.9em !important;
}

thead#thead_materiales tr th {
  font-size: 0.9em;
  background-color: #e4e6f2;
  color: grey;
  font-family: "Montserrat" !important;
  font-weight: bold;
}

.tooltip-btn {
  position: relative;
  font-size: 12px;
  text-align: center;
}

/* Tooltip text */
.tooltip-btn .tooltiptext-btn {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 1em;
}

/* Tooltip arrow */
.tooltip-btn .tooltiptext-btn::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-btn:hover .tooltiptext-btn {
  visibility: visible;
  opacity: 1;
}

.intervencion_badge .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  opacity: 0;
  transition: opacity 0.3s;
}

div#content_corte_individual_info {
  margin-top: 1em;
}

div.contenedor_nav_corte_individual {
  font-family: "Montserrat" !important;
  font-size: 0.8em;
}

h3#texto_header_corte_individual {
  color: #948d8d;
  font-family: "Montserrat" !important;
  font-size: 1.5em;
  margin-top: 1em;
}

.contenedor_nav_corte_individual .nav-tabs .nav-item .nav-link.active {
  background: #834694;
  color: white !important;
}

.contenedor_nav_corte_individual #content_potencia_cort_ind .nav-tabs .nav-item .nav-link.active {
  background: #aaa5ac;
  color: white !important;
}

#content_potencia_cort_ind .content_potencia {
  margin-top: 1em;
}

.info_ot_detail {
  padding: 10px 1px 1px;
}

/*style Tap info red*/
#content_informacion_red .content_info_red h5 {
  font-size: 1.5em;
}

#content_informacion_red .container h6 {
  font-size: 1.2em;
}

#content_informacion_red .content_info_red.content_style_info_red {
  font-size: 0.66em;
}

.content_info_red.content_style_info_red.telefonia {
  font-size: 0.79em !important;
}

tbody#tbodyInfoRedEquipo tr td {
  font-size: 1.1em !important;
}

tbody#tbodyInfoDispositivod tr td {
  font-size: 1.1em !important;
}

tbody#tbodyInfoIP tr td {
  font-size: 1.1em !important;
}

#content_informacion_red span.content_text,
#content_informacion_red span.content_info_ot {
  color: #7b7777;
}

/*style Tap info red*/
#content_actividad .info_ot_detail {
  font-size: 0.8em;
}

.box {
  font-size: 1.25rem;
  background-color: #f5f5f5;
  position: relative;
  padding: 100px 120px;
  width: 600px;
  height: 300px;
}

.form_drag_drop_inspector {
  outline: 3px dashed #c1bebe;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out,
    background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  margin: 0 auto;
}

.box__input {
  text-align: center !important;
}

.box__file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.text_select {
  color: #773f85;
  cursor: pointer;
}

.box__uploading {
  display: none;
}

div#conten_table {
  max-height: 21em;
  overflow: auto;
}

.thead_table_archivos_inspector tr th {
  font-weight: 500;
}

.style_icono_ajaxDownloadFile {
  cursor: pointer;
}

.thead_consulta_recolecciones tr th {
  background: #b0b0b0;
  font-size: 0.7em !important;
  font-family: "Montserrat" !important;
  font-weight: 700;
}

#tbody_consulta_recolecciones tr td {
  font-size: 0.7em !important;
  font-family: "Montserrat" !important;
}

#mapatrayectoria {
  width: 100%;
  height: 410px;
}

div#table_info_trayectoria_filter,
div#table_info_trayectoria_length {
  display: none;
}

div#table_info_trayectoria_info {
  font-size: 0.8em;
}

div#table_info_trayectoria_paginate ul {
  font-size: 0.8em !important;
  padding-top: 2.4em;
}

#table_info_trayectoria tbody tr td {
  font-size: 0.7em;
  padding: 0.8em 0.8em 0.8em;
}

#thead_table_info_trayectoria tr th {
  border-bottom: 0px;
  padding: 0.8em;
}

#table_info_trayectoria.dataTable {
  border-collapse: collapse !important;
}

#thead_table_info_trayectoria {
  background: #dcdcdc;
}

div#table_tiempo_transito_info {
  font-size: 0.8em;
}

div#table_tiempo_transito_paginate ul {
  font-size: 0.8em !important;
  padding-top: 2.4em;
}

#table_tiempo_transito tbody tr td {
  font-size: 0.7em;
  padding: 0.8em 0.8em 0.8em;
}

#thead_table_tiempo_transito tr th {
  border-bottom: 0px;
  padding: 0.8em;
}

#table_tiempo_transito.dataTable {
  border-collapse: collapse !important;
}

#thead_table_tiempo_transito {
  background: #dcdcdc;
}

#table_tiempo_transito_wrapper,
#table_info_trayectoria_wrapper {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.btn-informacion {
  padding: 0.6em 0.9em !important;
  font-size: 0.5em !important;
  border: 0px !important;
  background: #b1b1b1 !important;
}

#modalinfoSoporte .nav-item .nav-link.link-actions-pi {
  color: #a7a7a7 !important;
  font-weight: bold;
}

#modalinfoSoporte .nav-item .nav-link.link-actions-pi.active {
  color: #383838 !important;
  font-weight: bold;
}

#modalinfoSoporte .nav-item .nav-link.link-actions-pi.active {
  color: #808080 !important;
  font-weight: bold;
  border-top: 3px solid #9a9a9a;
  background-color: #fff;
}

.title-trayectoria {
  color: #696969;
  font-weight: bold;
  font-family: "Montserrat";
  font-size: 1em;
}

#filtros_config {
  margin-bottom: 1em;
}

.contenedor-consultaOT {
  margin-top: 1em;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  border-radius: 0.5em;
  padding: 1em 0;

}

.label-filtro-consultaOT {
  font-size: 0.8em;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  font-weight: bold;
}

.input-filtro-consultaOT {
  border: 1px solid #dbdbdb !important;
  font-weight: 400;
  font-size: 1em;
  color: #818181 !important;
  transition: all 0.5s ease;
  border-bottom: 1px solid white;
  background: white !important;
  border-radius: 0.5em !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
  padding-right: 1.5em !important;
}

.input-filtro-consultaOT::placeholder {
  font-weight: 400;
  font-size: 1em;
  color: #818181 !important;
}

.input-filtro-consultaOT:focus {
  -webkit-box-shadow: none;
}

.input-filtro-consultaOT:hover {
  background: #e4e6f2 !important;
  cursor: pointer;
  border-bottom: 2px solid #a4b1ff !important;
}


#todo_filtro,
#ninguno_filtro {
  width: 45%;
  background: #1266f1;
  color: white;
}

label.form-check-inputfiltro {
  display: flex;
}

.element-menu-filter {
  position: relative;
}



.form-check-input {
  margin-right: 0.5em;
}



.column-style-consulta {
  width: 125px !important;
  padding-right: 0px !important;
}

.btn-option {
  padding: 0.4em 1em !important;
  border-radius: 0.2rem !important;
  cursor: pointer;
}

.btn-blue-grey {
  background-color: #78909c !important;
  color: #fff !important;
}

.btn-outline-blue-grey {
  border: 2px solid #78909c !important;
  background-color: transparent !important;
  color: #78909c !important;
}

.columna-filtro-ind::after {
  content: "";
  position: absolute;
  right: 6%;
  top: 67%;
  width: 0;
  height: 0;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.6em solid #939db2;
  clear: both;
  z-index: 2;
  font-size: 14px;
}

#btn_consultar_ordenes {
  background-color: #ffffff;
  color: var(--btn-color-buscar) !important;
  border: solid 1px var(--btn-color-buscar) !important;
  padding: .4em 1.5em;
  border-radius: 5px;
  font-size: 0.7em;
  margin-top: 26px;
}

#descargaImg {
  background-color: #ffffff;
  color: var(--estandar-color);
  border: solid 1px var(--estandar-color) !important;
  padding: 0.7em 2em;
  border-radius: 5px;
  font-size: 0.7em;
}

.container-filtros-consultaot {
  border: none !important;
  z-index: 2;
  position: relative;
  padding-top: 3pt !important;
  padding-bottom: 3pt !important;
}

.div-btn-busqueda {
  padding: 0% !important;
  text-align: right !important;
}

#v-tabs-tab-detalle-ot .nav-link {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

#v-tabs-tab-detalle-ot .nav-link.active {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: #2196f3;
  /* box-shadow: 0 0 8px 0 #2196f3; */
  border-bottom: 0;
  color: white !important;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  z-index: 1;
}

#modal-detalle-ot .modal-body {
  padding-left: 0;
}

.container-fluid.ot-content {
  padding: 0;
  display: flex;
  /* border-bottom: 1px solid #e1e1e1; */
}

span.text-tile-ot {
  font-weight: bold;
  font-size: 0.8em;
  color: #303030;
}

span.text-content-ot {
  /* font-weight: bold; */
  font-size: 0.8em;
  color: #303030;
}

.container-text-title {
  width: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-text-content {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-text-title-detalle {
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-text-content-detalle {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.iconoDescargaArchivo {
    color: #9f9f9f;
    font-size: .7em;
    margin-right: .5em;
}

/* HISTORICO MODAL */
.card-historico.card.text-center {
  overflow: hidden;
  margin: 0.5rem 0 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  box-shadow: none;
  /* box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%); */
}

.card-historico.card.text-center:hover {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%) !important;
}

.circle-statushistorico {
  font-size: 0.7em;
  line-height: 2em !important;
  text-align: center;
  color: #fff;
  background-color: #999;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  border-radius: 50%;
  /* box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%); */
}

.footer-card-historico {
  font-size: 0.8em;
  margin-bottom: 0;
}

.circle-statushistorico {
  position: absolute;
  right: 0;
  margin-right: 1em;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}

.card-historico .card-footer {
  padding: 0.2em;
}

.card-historico .card-body {
  text-align: left;
  padding: 0.5em 0.5em;
}

.titlehistorico {
  font-weight: bold;
  font-size: 0.8em;
  color: #818181;
}

span.content-titlehistorico.ng-binding {
  font-size: 0.8em;
  font-weight: bold;
  color: #303030;
}

.card-historico .card-header {
  color: black;
  font-weight: bold;
}

.pendiente-historico {
  background-color: #ffd453 !important;
}

.asignacion-historico {
  background-color: #7ad119 !important;
}

.detencion-historico {
  background-color: #ff9e3c !important;
}

.terminar-historico {
  background-color: #63a6e0 !important;
}

.cancelado-historico {
  background-color: #ff4b4b !important;
}

/* HISTORICO MODAL */

/* MODAL CHAT */
.container-mensajes-parent .chat-content-area .chat-area {
  position: relative;
  overflow: hidden;
  padding: 1rem;
}

.container-mensajes-parent .chats {
  padding: 0;
}

.chat-area .chats .chat.chat-right .chat-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.chat-area .chats .chat .chat-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.chat-area .chats .chat.chat-right .chat-body .chat-text {
  flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
}

.chat-area .chats .chat .chat-body .chat-text {
  margin: 0 1rem 1rem;
  box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 14%);
  border-radius: 5px;
  max-width: 350px;
  overflow-wrap: break-word !important;
  display: inline-block !important;
  overflow: hidden;
  text-overflow: ellipsis !important;
  padding: 0.5rem 1rem;
}

.chat-area .chats .chat.chat-right .chat-body .chat-text {
  color: #fff;
  background-color: #2196f3;
}

.chat-area .chats .chat .chat-body .chat-text {
  color: #757575;
  background-color: #fff;
}

.chat-area .chats .chat .chat-body .chat-text:first-child:before {
  box-sizing: border-box;
  width: 0;
  height: 0;
  margin-top: 10px;
  content: "";
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 12px 18px;
  -ms-transform-origin: 12px 18px;
  transform-origin: 12px 18px;
  border: 7px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  box-shadow: -2px 3px 4px -3px rgb(0 0 0 / 40%);
}

.chat-area .chats .chat.chat-right .chat-body .chat-text:first-child:before {
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 3px -5px;
  -ms-transform-origin: 3px -5px;
  transform-origin: 3px -5px;
  border-top-color: #2196f3 !important;
  border-right-color: #2196f3 !important;
  border-bottom-color: transparent;
  border-left-color: transparent;
  box-shadow: 2px -2px 4px -3px rgb(0 0 0 / 40%);
}

.chat-area .chats .chat.chat-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.chat-area .chats .chat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem 1rem;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.img-comentarios-chat {
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%),
    0 2px 4px -1px rgb(0 0 0 / 30%);
  border-radius: 50%;
  width: 2.5em !important;
  height: 2.5em !important;
  vertical-align: middle;
  text-align: center;
  line-height: 2.5em !important;
  color: white;
}

.img-comentarios-chat.android-mensaje {
  background-color: #7ad119 !important;
}

.img-comentarios-chat.web-mensaje {
  background-color: #63a6e0 !important;
}

.chat-fotter {
  display: flex;
}

.input-mensaje-chat {
  margin-right: 1.5rem !important;
  padding: 0 1.5rem !important;
  color: #9e9e9e !important;
  border-bottom: 0 !important;
  border-radius: 5px !important;
  border: none !important;
  background-color: #eceff1 !important;
  height: 3.3em !important;
  margin-left: 52% !important;
}

.input-mensaje-chat::placeholder {
  font-size: 1.1em !important;
}

/* MODAL CHAT */

#thead_consultaOT .fa {
  font-size: 13px;
  color: gray;
}

.table.dataTable {
  border-collapse: collapse !important;
}

.container.container-accion {
  width: 60%;
}

.text-fecha-comentario {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 0.7em;
}

.container-fluid.vehiculo-content {
  padding: 0;
  display: flex;
  /* border-bottom:1px solid #e1e1e1 */
}

span.text-tile-vehiculo {
  font-weight: bold;
  font-size: 0.8em;
  color: #444444;
}

span.text-content-vehiculo {
  font-size: 0.8em;
  color: #303030;
}

.col-chat-fotter {
  width: 70%;
}

.input-comentario-ot {
  width: 120% !important;
}

.btn-enviar-comentario-ot {
  background-color: var(--btn-color-guardar-modal) !important;
  height: 41px;
}

label.label-filter {
  margin-bottom: 0;
  font-size: 0.7em;
  font-weight: bold;
}

i.icono-noseleccion {
  color: #ff9f3b;
  display: inline-block;
}

.content-historico-ot {
  height: 25em;
}

.line-time-new:before {
  content: "";
  width: 4px;
  height: 100%;
  background-color: #78a7f7;
  position: absolute;
  top: 0;
  left: 2.5em;
}

.footer-card-historico-alerta {
  position: absolute;
  right: 0.5em;
  bottom: 1.8em;
  font-size: 0.8em;
  font-weight: bold;
  /* margin-bottom: 0; */
  /* color: red; */
}

.circle-statushistorico-histo {
  font-size: 0.8em;
  line-height: 2em !important;
  text-align: center;
  color: #fff;
  background-color: #999;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}

.warning-nodata {
  color: orange;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  border-radius: 25px;
  font-size: 20px !important;
}

.iconoBusqueda {
  color: #888888;
  position: absolute;
  right: 0.8em;
  top: 0.4em;
  font-size: 0.8em;
}

.content-seach-group {
  height: 1em;
  display: inline-flex;
  margin: 0em auto 1em;
}

.buscadorGenerico {
  height: 2em !important;
  min-height: 2em !important;
  padding: 0 !important;
  padding-left: 1em !important;
  border-radius: 1em !important;
  border: 1px solid #e2e2e2;
  background: #fcfcfc;
}

.container-treegeofria {
  min-height: 9em;
  max-height: 15em;
}

.col-conteiner-arbol {
  padding: 4px;
  height: 350px;
  overflow-x: auto;
  overflow-y: auto;
  text-align: justify;
}

/* #myTab {
  margin-bottom: 1em;
} */

#myTab .nav-item:first-child .nav-link {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

#myTab .nav-link.active {
  color: var(--estandar-color) !important;
  font-weight: bolder;
  background: #f9f9f9;
}

#myTab .nav-link {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  border: solid 1px #ccc;
}

#myTab .nav-item:last-child .nav-link {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

#myTab .nav-link {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  border: solid 1px #ccc;
}

#headerT {
  display: none;
}

b.title_span_1 {
  font-weight: bold !important;
  font-size: 0.8em !important;
  color: #303030 !important;
}

.content_text {
  font-size: 0.8em !important;
}

.colInformacionTabla {
  padding-left: 0px !important;
}

/* CAROUSEL DETALLE */
.carousel-control-prev-icon:after {
  content: "" !important;
}

.carousel-control-next-icon:after {
  content: "" !important;
}

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: block;
}

.carousel-item-next,
.carousel-item-prev {
  position: absolute;
  top: 0;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {

  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.active.carousel-item-right,
.carousel-item-next {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {

  .active.carousel-item-right,
  .carousel-item-next {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.active.carousel-item-left,
.carousel-item-prev {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {

  .active.carousel-item-left,
  .carousel-item-prev {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 0px;
  list-style: none;
}

.carousel .carousel-indicators li {
  width: 0.625rem;
  height: 0.625rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-indicators li {
  position: relative;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators li::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators li::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators .active {
  background-color: #fff;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

/* CAROUSEL DETALLE */


.icono-dispositivo-consulta-ot {
  color: #aeaeae;
  font-size: 1.5em;
}

.icon-color-table-dispositivo-ot {
  color: #b1b1b1 !important;
}

.container-tabla-dispositivo-consulta-ot {
  margin-top: 20px;
  /*  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%); */
  max-width: 1115px;
  border-radius: 0.5em;
  padding: 0px !important;
}

.option-mas-dispositivo {
  cursor: pointer;
}

#thead_dispositivo_consulta_ot_nivel2 tr th {
  font-size: 0.7em;
  text-align: center;
  border: 1px #ccc;
  background-color: #ffffff !important;
  color: #39455b;
  font-weight: bold;
}

#table_dispositovos_ot_nivel2 tr td {
  font-size: 0.7em;
  font-family: "Montserrat" !important;
  text-align: center;
  border: 1px #ccc;
  background-color: #ffffff !important;
}

.nodata-message {
  text-align: center;
  height: 100px !important;
}

.imagen-carousel-evidencia {
  width: 100%;
  height: 50em;
  max-height: 15em;
  object-fit: cover;
  cursor: pointer;
}

img.img-sap-recoleccion {
  height: 10em;
}

img.img-recoleccion {
  /* cursor: pointer; */
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  max-height: 12em;
  height: 12em;
  width: 12em;
  min-width: 12em;
  object-fit: cover;
}

/* #table-recoleccion-temp thead th {
  position: relative;
  background-color: #b1b1b1;
  color: #fff;
  border: none;
} */

#tabs-recoleccion-sap {
  margin-bottom: 1em;
  margin-top: 1em;
}

.table-recoleccion th {
  border-bottom: none !important;
  background: #f4f4f4;
  font-weight: bold;
  text-align: center;
  color: #585858;
}

img.img-tecnico-materiales {
  /* cursor: pointer; */
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  max-height: 12em;
  height: 12em;
  width: 12em;
  min-width: 12em;
  object-fit: cover;
}

.divider-materiales-centroalmacen {
  border-bottom: 0.2em solid #f0f0f0;
  width: 100%;
  margin: 0em 40% 0 0;
}


.container-title-detail span {
  font-size: .9em;
  color: black;
}

#table-materiales-ot_wrapper {
  margin-top: 1em;
  border-top: 1px solid #e1e1e1;
  padding-top: .55em;
}

/* TABLE RECOLECCION */

#table-recoleccion-temp_wrapper {
  margin-top: 1em;
  border-top: 1px solid #e1e1e1;
  padding-top: .55em;
}

#table-recoleccion-temp thead th {
  background-color: #b1b1b1;
  color: #fff;
  border: none;
}

#table-recoleccion-temp tbody tr td {
  border: none;
}

#table-recoleccion-temp>tbody>tr>td {
  white-space: nowrap;
  color: #39455b;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: .8em;
}

.content-success-generic {
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  background: #b2f585;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  display: inline-block;
}

.icono-success-generic {
  color: #12a91b;
  font-size: .8em;
}

/* TABLE RECOLECCION */

#jstree-proton-3 .fa-instagram {
  display: none !important;
}

.jstree-node[aria-disabled="true"]:hover {
  cursor: no-drop !important;
  background-color: red !important;
}

.text-accion-nopermiso {
  font-size: 12px;
  color: grey;
  padding: 1em;
  font-weight: bold;
  text-align: center;
}

.text-accion-nopermiso .icon-not-permiso {
  color: #9586a9;
  font-size: 1.3em;
  padding: 0.5em;
  border-radius: 50%;
  /* background: #9586a9; */
  width: 2em;
  height: 2em;
  /* box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);**/
}

.text-not-permiso {
  margin-left: 0.5em;
  font-size: 1.5em;
  font-weight: normal;
}

#table-materiales-ot_paginate .page-item.active .page-link,
#otTable_paginate .page-item.active .page-link,
#table_dispositovos_ot_paginate .page-item.active .page-link {
  background-color: var(--btn-color-paginador-tabla) !important;
}

.modal-footer .btn-cerrar-modal {
  color: var(--btn-color-cerrar-modal) !important;
  border: 0.09rem solid var(--btn-color-cerrar-modal) !important;
}

.categorias-evidencia-content {
  max-width: 18em !important;
  padding: 0;
  overflow: auto;
  max-height: 350px;
  direction: rtl;
}

.imagenes-evidencia-content {
  padding: 0;
  overflow: auto;
  max-height: 70vh;
}