#text_header_ordenes {
  font-family: "Montserrat" !important;
  text-align: center;
  /* font-family: 'Montserrat'; */
}

#todo_filtro,
#ninguno_filtro {
  width: 45%;
  background: #1266f1;
  color: white;
  margin-top: 0.5em;
  padding: 0;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #fff;
  opacity: 1;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8) !important;
}

body.modal-open.mfp-zoom-out-cur {
  z-index: 22222222222223333333333333333 !important;
}
.mfp-title {
  text-align: center !important;
}
.modal-dialog.cascading-modal .modal-body,
.modal-dialog.cascading-modal .modal-footer {
  border-top: 1px solid #dddddd;
  margin: 0 !important;
  padding: 0.3em 0.5em;
}
.mfp-wrap {
  z-index: 1222222222222222222222222222 !important;
}

body.ver_scroll.pg-loaded.modal-open {
  overflow: hidden;
}
i.fa.fa-calendar.prefix {
  font-size: 1.2em;
  color: #858d91;
  display: none !important;
}
div.dataTables_wrapper div.dataTables_info {
  color: #403d3d !important;
  /* font-family: 'Montserrat'; */
}

div#otTable_filter {
  display: none;
}
span#basic-addon1 {
  padding: 0;
  background-color: #fff;
  border: 0px;
}
.btn_categoria_img {
  width: 120% !important;
  height: 100% !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  font-size: 0.55em !important;
}
#categorias_div .content_category .badge {
  position: absolute !important;
  z-index: 1;
  background: #4285f4 !important;
  margin-left: -1em !important;
  font-size: 10px;
  top: -5px;
}
.content_category {
  display: inline;
}
/* .text-center { */
/* color: #834694; */
/* font-family: 'Montserrat' !important; */
/* } */
.text_img_evidencia {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 0.8em;
  width: 100% !important;
  height: 50px;
}
.middle_img_evidencia {
  transition: 0.5s ease;
  opacity: 3;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  /* height: auto; */
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
}
div#contenido_imagenes {
  overflow-y: scroll;
  /* color:  black; */
}
tfoot {
  background-color: #ebecefa1;
  color: black;
}
.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover {
  background: #78a7f7;
  color: white;
}
img.img_evidencia {
  width: 100%;
  -webkit-transform: rotate(15deg) scale(1.4);
  transform: rotate(15deg) scale(1.4);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.contenedor_img_evidencia {
  position: relative;
  overflow: hidden;
  margin-bottom: 1em;
}
/* div#imagenOT { */
/* overflow: hidden; */
/* } */
table.display.table.table-hover.table-striped.dataTable {
  font-size: small;
}
.modal-dialog.cascading-modal .modal-header {
  margin: 0 !important;
}
.content_category.col-2 {
  padding-bottom: 1em !important;
  padding-left: 2em !important;
}
.modal-dialog.modal-lg.modal-img {
  max-width: 80% !important;
}

.btn-sm {
  padding: 0.7em 0.7em;
  /* border-radius: 50% !important; */
  font-size: 0.64rem;
  border: 0px !important;
}
a.btn-floating.btn-sm.btn-primary.waves-effect.waves-light {
  /* background-color: #33b5e5!important; */
  color: #fff !important;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

span.btn-floating.btn-sm.btn-default.waves-effect.waves-light {
  background-color: #4284cc !important;
  color: #fff !important;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  font-size: 0.9em;
}

span.btn-floating.btn-sm.btn-secondary.waves-effect.waves-light.acciones {
  background-color: #58b3bf !important;
  color: #fff !important;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  font-size: 0.9em;
}

i.fa.fa-pause-circle.pend {
  color: #ffbf00 !important;
}

i.fa.fa-arrow-circle-right.asig {
  color: #7fd223 !important;
}
i.fa.fa-hand-paper-o.deten {
  color: #ff8000 !important;
  /* background: red; */
}
i.fa.fa-check-circle.term {
  color: #63a6e0 !important;
}
i.fa.fa-times-circle.cancel {
  color: red !important;
}
.modal-open .modal.hist {
  overflow-y: hidden !important;
}
.modal-body.materiales {
  height: 15em;
  overflow: auto;
  font-family: "Montserrat";
  /*font-size: .em;*/
}
.modal-open .modal.img {
  overflow-x: hidden;
  /* overflow-y: hidden !important; */
}
@media (min-width: 992px) .modal .modal-full-height.img {
  height: 90% !important;
}
body.pg-loaded.modal-open {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
.modal-dialog.modal-full-height.img.modal-notify {
  max-height: 36em;
  /* overflow: auto; */
}
thead#thead_consultaOT {
  font-weight: bold;
  border: 1px #ccc;
  font-family: "Montserrat" !important;
}
thead#thead_materiales {
  background-color: #d2d2d2;
  font-family: "Montserrat";
  /* font-size: 1em; */
}
#contenido_fallas_tabs .nav-tabs .nav-item .nav-link.active {
  color: black;
}
/* #contenido_fallas_tabs .nav-tabs .nav-item .nav-link { */
/* color: #b5b3b3 !important; */
/* } */
.itemGeneral.active {
  background-color: #44c0e4;
  border-color: #44c0e4;
  font-weight: bold;
}
.itemGeneral {
  cursor: pointer;
}
div.comentario_web {
  background-color: #f7f7f9;
  border-radius: 30px;
  border-top-left-radius: 0;
  color: #969696;
  padding: 13px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.col-1.icono_chat {
  margin: 0.6em;
}
div.comentario_movil {
  background-color: #f7f7f9;
  border-radius: 30px;
  border-top-right-radius: 0;
  color: #969696;
  padding: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.modal-dialog.modal-lg.modal-acciones {
  max-width: 81em;
}
#content-ot .info_ot_detail {
  padding: 5px;
  font-size: 0.8em;
}
.itemGeneral.active {
  background-color: #834694;
  border-color: #834694;
  font-weight: bold;
}
.itemGeneral.active::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #1266f1;
}
.row_content_info.row {
  padding: 0.1em;
}
.nav-tabs .nav-item .nav-link {
  color: #a2a2a2 !important;
}
.row.list_cambio_equipo {
  padding: 0px 0px 7px;
}
div#content_cambio_equipo {
  font-family: "Montserrat";
  font-size: 0.9em;
}
b.title_span.title_info_cambio_Equipo {
  color: #7b7b7b !important;
  font-weight: 900 !important;
  font-size: 1em;
  /* font-family: 'Montserrat'; */
}
/* .nav-tabs .nav-item .nav-link.active {
  background: #63a6e0;
  color: white !important;
} */
b.title_span_cambio_equipo {
  color: #7b7b7b !important;
  font-weight: 700 !important;
}
h4.text-center {
  font-family: "Montserrat" !important;
}
#content_cambio_equipo .container {
  font-family: "Montserrat" !important;
  font-size: 0.9em;
}

/* b.autor_comentario {
  color: #616161 !important;
} */
#content-soluciones div#content_tabs {
  font-size: 0.8em;
}
/* #content-comentarios .container {
  font-size: 0.9em;
} */
#contenido_fallas_tabs ul#headers_tab {
  font-size: 0.9em;
}
.info_reubicacion_detail {
  padding: 5px;
}
.col-reubicacion {
  padding: 0px;
}
.info_reubicacion_detail {
  font-family: "Montserrat";
  font-size: 0.9em;
}
#content_cambio_plan .container .container {
  font-family: "Montserrat";
  font-size: 0.9em;
}
#content_cambio_plan b.title_span.title_info_ot {
  font-weight: 600 !important;
}
.md-form .prefix ~ input,
.md-form .prefix ~ textarea {
  width: 100% !important;
  margin-left: 0rem;
  margin-right: 2em;
}
input#fecha_fin {
  /*  border-top: 3px solid #e84b8e !important; */
  font-family: "Montserrat" !important;
  /*  font-size: 0.7em;
  padding-left: 1em !important; */
}
input#fecha_inicio {
  /*  border-top: 3px solid #51c3f7 !important; */
  font-family: "Montserrat" !important;
  /*  font-size: 0.7em !important;
  padding-left: 1em !important; */
}
input#intervencion_filtro {
  /* border-top: 3px solid #e1e04a !important; */
  font-family: "Montserrat";
  cursor: pointer;
}
input#idot {
  /* border-top: 3px solid #e8498e !important; */
  font-family: "Montserrat";
}
input#idos {
  /* border-top: 3px solid #50c3f7 !important; */
  font-family: "Montserrat";
}
input#cuenta {
  /* border-top: 3px solid #784085 !important; */
  font-family: "Montserrat";
}
a#dropdownint {
  background: transparent !important;
  color: #2b2b2b !important;
  -webkit-box-shadow: none;
  border: 1px solid #cab7b7;
  font-size: 0.7em;
  /*  border-top: 3px solid #e84a8e !important; */
  padding: 7px 0px 24px;
  font-weight: unset;
}
.filtro_dropdown .dropdown-submenu {
  position: relative;
  padding: 18px 18px 8px;
  margin: 0px;
}
input#cluster {
  /* border-top: 3px solid #e1e04a !important; */
  padding: 7px 7px 7px;
}

span.btn-floating.btn-evidencia.btn-sm.btn-secondary.waves-effect.waves-light {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  font-size: 0.9em;
}
div.dataTables_scrollBody > table#table-consulta-ot {
  font-size: 0.8em;
}
div#colores_estados {
  font-family: "Montserrat";
  font-size: 0.9em;
  text-align: end;
}
div#otTable_info {
  font-family: "Montserrat";
  font-size: 0.8em;
  color: #a5a5a5 !important;
}
.md-form #fechaFin label.active {
  display: block !important;
  padding-left: 0 !important;
  margin-left: 1rem;
}
.md-form #fechaInicio label.active {
  display: block !important;
  padding-left: 0 !important;
  margin-left: 1rem;
}
div.borderFilter {
  margin-left: 0em;
}
thead#thead_consultaOT tr th {
  font-size: 0.7em;
  padding: 1em 1em 1em;
  text-align: center;
}
#otTable tr td {
  font-size: 0.7em;
  font-family: "Montserrat" !important;
  text-align: center;
}
div.dataTables_wrapper div.dataTables_length label {
  font-weight: inherit !important;
  color: #828080 !important;
}
.dataTables_length .form-control.form-control-sm {
  color: #9a9999 !important;
  border-bottom: 2px solid #e4e2e2 !important;
  font-family: "Montserrat" !important;
}
#otTable_length select.form-control.form-control-sm {
  border: none;
}

.pagination {
  display: block !important;
}

.pagination .paginate_button a.page-link {
  color: #828080;
  font-family: "Montserrat";
  background-color: white !important;
  box-shadow: none !important;
}

.pagination .paginate_button.active {
  background-color: gray !important;
}

.pagination .previous a.page-link {
  color: white !important;
  font-size: 0;
}

.pagination .next a.page-link {
  color: white !important;
  font-size: 0;
}

.pagination .previous a:after {
  font-family: FontAwesome;
  display: inline-block;
  content: "\f104";
  visibility: visible;
  color: #828080 !important;
  font-size: initial !important;
}

.pagination .next a:before {
  font-family: FontAwesome;
  display: inline-block;
  content: "\f105";
  visibility: visible;
  color: #828080 !important;
  font-size: initial !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button a {
  padding: 1px 1px 1px 1px;
}

.pagination .paginate_button > .active {
  border: #000000 !important;
}

div.style_modal_header {
  /*  background: #834594; */
  color: #000000 !important;
  /* border-bottom: none; */
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); */
  font-family: "Montserrat" !important;
  padding: 0.9rem !important;
}
div.modal-footer {
  border-top: 1px solid #dddddd;
  margin: 0 !important;
  padding: 0.3em 0.5em;
}
hr {
  border-top: 1px solid #ece4e4 !important;
}
tbody#contentmateriales tr td {
  font-size: 0.9em !important;
}
thead#thead_materiales tr th {
  font-size: 0.9em;
  background-color: #e4e6f2;
  color: grey;
  font-family: "Montserrat" !important;
  font-weight: bold;
}

.tooltip-btn {
  position: relative;
  display: inline-block;
  font-size: 12px;
}

/* Tooltip text */
.tooltip-btn .tooltiptext-btn {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 1em;
}

/* Tooltip arrow */
.tooltip-btn .tooltiptext-btn::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-btn:hover .tooltiptext-btn {
  visibility: visible;
  opacity: 1;
}

.intervencion_badge .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  opacity: 0;
  transition: opacity 0.3s;
}
div#content_corte_individual_info {
  margin-top: 1em;
}
div.contenedor_nav_corte_individual {
  font-family: "Montserrat" !important;
  font-size: 0.8em;
}
h3#texto_header_corte_individual {
  color: #948d8d;
  font-family: "Montserrat" !important;
  font-size: 1.5em;
  margin-top: 1em;
}
.contenedor_nav_corte_individual .nav-tabs .nav-item .nav-link.active {
  background: #834694;
  color: white !important;
}
.contenedor_nav_corte_individual
  #content_potencia_cort_ind
  .nav-tabs
  .nav-item
  .nav-link.active {
  background: #aaa5ac;
  color: white !important;
}
#content_potencia_cort_ind .content_potencia {
  margin-top: 1em;
}
.info_ot_detail {
  padding: 10px 1px 1px;
}
/*style Tap info red*/
#content_informacion_red .content_info_red h5 {
  font-size: 1.5em;
}
#content_informacion_red .container h6 {
  font-size: 1.2em;
}

div#tableInfoRedEquipo_filter,
div#tableInfoDispositivos_filter,
#tableInfoDispositivos_wrapper .dataTables_filter,
div#tableInfoIP_filter,
#tableInfoIP_wrapper .dataTables_filter,
div#tableInfoIP_filter,
#tableInfoRedEquipo_wrapper .dataTables_filter {
  display: none !important;
}
#content_informacion_red .pagination {
  display: flex;
  justify-content: center;
}
div#tableInfoRedEquipo_paginate,
div#tableInfoDispositivos_paginate,
div#tableInfoIP_paginate {
  display: none;
}
#content_informacion_red .content_info_red.content_style_info_red {
  font-size: 0.66em;
}
.content_info_red.content_style_info_red.telefonia {
  font-size: 0.79em !important;
}
tbody#tbodyInfoRedEquipo tr td {
  font-size: 1.1em !important;
}
tbody#tbodyInfoDispositivod tr td {
  font-size: 1.1em !important;
}
tbody#tbodyInfoIP tr td {
  font-size: 1.1em !important;
}
#content_informacion_red span.content_text,
#content_informacion_red span.content_info_ot {
  color: #7b7777;
}
/*style Tap info red*/
#content_actividad .info_ot_detail {
  font-size: 0.8em;
}

.box {
  font-size: 1.25rem;
  background-color: #f5f5f5;
  position: relative;
  padding: 100px 120px;
  width: 600px;
  height: 300px;
}
.form_drag_drop_inspector {
  outline: 3px dashed #c1bebe;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out,
    background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  margin: 0 auto;
}
.box__input {
  text-align: center !important;
}
.box__file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.text_select {
  color: #773f85;
  cursor: pointer;
}
.box__uploading {
  display: none;
}
div#conten_table {
  max-height: 21em;
  overflow: auto;
}
.thead_table_archivos_inspector tr th {
  font-weight: 500;
}

.style_icono_ajaxDownloadFile {
  cursor: pointer;
}
.thead_consulta_recolecciones tr th {
  background: #b0b0b0;
  font-size: 0.7em !important;
  font-family: "Montserrat" !important;
  font-weight: 700;
}
#tbody_consulta_recolecciones tr td {
  font-size: 0.7em !important;
  font-family: "Montserrat" !important;
}
#mapatrayectoria {
  width: 100%;
  height: 410px;
}
div#table_info_trayectoria_filter,
div#table_info_trayectoria_length {
  display: none;
}
div#table_info_trayectoria_info {
  font-size: 0.8em;
}
div#table_info_trayectoria_paginate ul {
  font-size: 0.8em !important;
  padding-top: 2.4em;
}
#table_info_trayectoria tbody tr td {
  font-size: 0.7em;
  padding: 0.8em 0.8em 0.8em;
}
#thead_table_info_trayectoria tr th {
  border-bottom: 0px;
  padding: 0.8em;
}
#table_info_trayectoria.dataTable {
  border-collapse: collapse !important;
}
#thead_table_info_trayectoria {
  background: #dcdcdc;
}

div#table_tiempo_transito_info {
  font-size: 0.8em;
}
div#table_tiempo_transito_paginate ul {
  font-size: 0.8em !important;
  padding-top: 2.4em;
}
#table_tiempo_transito tbody tr td {
  font-size: 0.7em;
  padding: 0.8em 0.8em 0.8em;
}
#thead_table_tiempo_transito tr th {
  border-bottom: 0px;
  padding: 0.8em;
}
#table_tiempo_transito.dataTable {
  border-collapse: collapse !important;
}
#thead_table_tiempo_transito {
  background: #dcdcdc;
}

#table_tiempo_transito_wrapper,
#table_info_trayectoria_wrapper {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.btn-informacion {
  padding: 0.6em 0.9em !important;
  font-size: 0.5em !important;
  border: 0px !important;
  background: #b1b1b1 !important;
}
#modalinfoSoporte .nav-item .nav-link.link-actions-pi {
  color: #a7a7a7 !important;
  font-weight: bold;
}

#modalinfoSoporte .nav-item .nav-link.link-actions-pi.active {
  color: #383838 !important;
  font-weight: bold;
}

#modalinfoSoporte .nav-item .nav-link.link-actions-pi.active {
  color: #808080 !important;
  font-weight: bold;
  border-top: 3px solid #9a9a9a;
  background-color: #fff;
}
.title-trayectoria {
  color: #696969;
  font-weight: bold;
  font-family: "Montserrat";
  font-size: 1em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: initial !important;
}

.contenedor-consultaOT {
  margin-top: 20px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  max-width: 1115px;
  border-radius: .5em;
  padding: 0px !important;
}

.label-filtro-consultaOT {
  font-size: 0.8em;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  font-weight: bold;
}

.input-filtro-consultaOT {
  border: 1px solid #dbdbdb !important;;
  font-weight: 400;
  font-size: 1em;
  color: #818181 !important;
  transition: all 0.5s ease;
  border-bottom: 1px solid white;
  background: white !important;
  border-radius: .5em !important;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.07),0 1px 2px 0 rgba(0,0,0,.05)!important;
}

.input-filtro-consultaOT::placeholder {
  font-weight: 400;
  font-size: 1em;
  color: #818181 !important;
}

.input-filtro-consultaOT:focus {
  -webkit-box-shadow: none;
}

.input-filtro-consultaOT:hover {
  background: #e4e6f2 !important;
  cursor: pointer;
  border-bottom: 2px solid #a4b1ff !important;
}

.element-menu-filter:hover .dropdown-menu {
  display: block;
}
.element-menu-filter:hover .dropdown-menu {
  top: 0;
  left: 100%;
}

#todo_filtro,
#ninguno_filtro {
  width: 45%;
  background: #1266f1;
  color: white;
}

label.form-check-inputfiltro {
  display: flex;
}

.element-menu-filter {
  position: relative;
}

.dropdown-item.item-text-filtro.ng-binding {
  display: contents;
  /* margin-left: 1em; */
}

.form-check-input {
  margin-right: 0.5em;
}

.dropdown-item {
  padding: 0.25rem 1.5rem !important;
}

.column-style-consulta {
  width: 136px !important;
  padding-right: 0px !important;
}

.btn-option {
  padding: 4px !important;
  border-radius: 0.2rem !important;
  cursor: pointer;
}

.btn-blue-grey {
  background-color: #78909c !important;
  color: #fff !important;
}

.btn-outline-blue-grey {
  border: 2px solid #78909c !important;
  background-color: transparent !important;
  color: #78909c !important;
}

.columna-filtro-ind::after {
  content: "";
  position: absolute;
  right: 6%;
  top: 67%;
  width: 0;
  height: 0;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.6em solid #939db2;
  clear: both;
  z-index: 2;
  font-size: 14px;
}

#btn_consultar_ordenes {
  background-color: #ffffff;
  color: #7716fa;
  border: solid 1px #7716fa !important;
  padding: 0.5em 2em;
  border-radius: 5px;
  font-size: 0.7em;
  margin-top: 22px;
}

table.dataTable.no-footer {
  border-bottom: transparent !important;
  margin-top: 0 !important;
}

.container-filtros-consultaot {
  border: none !important;
  z-index: 2;
  position: relative;
  padding-top: 3pt !important;
  padding-bottom: 3pt !important;
  max-width: 1140px;
}

.div-btn-busqueda {
  padding: 0% !important;
  text-align: right !important;
}

#v-tabs-tab-detalle-ot .nav-link {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
#v-tabs-tab-detalle-ot .nav-link.active {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: #2196f3;
  /* box-shadow: 0 0 8px 0 #2196f3; */
  border-bottom: 0;
  color: white !important;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  z-index: 1;
}

#modal-detalle-ot .modal-body {
  padding-left: 0;
}

.container-fluid.ot-content {
  padding: 0;
  display: flex;
  /* border-bottom: 1px solid #e1e1e1; */
}
span.text-tile-ot {
  font-weight: bold;
  font-size: 0.8em;
  color: #303030;
}
span.text-content-ot {
  /* font-weight: bold; */
  font-size: 0.8em;
  color: #303030;
}
.container-text-title {
  width: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-text-content {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-text-title-detalle {
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-text-content-detalle {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* HISTORICO MODAL */
.card-historico.card.text-center {
  overflow: hidden;
  margin: 0.5rem 0 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  box-shadow: none;
  /* box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%); */
}
.card-historico.card.text-center:hover {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%) !important;
}
.circle-statushistorico {
  font-size: 0.7em;
  line-height: 2em !important;
  text-align: center;
  color: #fff;
  background-color: #999;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  border-radius: 50%;
  /* box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%); */
}

.footer-card-historico {
  font-size: 0.8em;
  margin-bottom: 0;
}

.circle-statushistorico {
  position: absolute;
  right: 0;
  margin-right: 1em;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}

.card-historico .card-footer {
  padding: 0.2em;
}

.card-historico .card-body {
  text-align: left;
  padding: 0.5em 0.5em;
}
.titlehistorico {
  font-weight: bold;
  font-size: 0.8em;
  color: #818181;
}
span.content-titlehistorico.ng-binding {
  font-size: 0.8em;
  font-weight: bold;
  color: #303030;
}
.card-historico .card-header {
  color: black;
  font-weight: bold;
}

.pendiente-historico {
  background-color: #ffd453 !important;
}

.asignacion-historico {
  background-color: #7ad119 !important;
}
.detencion-historico {
  background-color: #ff9e3c !important;
}
.terminar-historico {
  background-color: #63a6e0 !important;
}
.cancelado-historico {
  background-color: #ff4b4b !important;
}

/* HISTORICO MODAL */

/* MODAL CHAT */
.container-mensajes-parent .chat-content-area .chat-area {
  position: relative;
  overflow: hidden;
  padding: 1rem;
}
.container-mensajes-parent .chats {
  padding: 0;
}

.chat-area .chats .chat.chat-right .chat-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.chat-area .chats .chat .chat-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.chat-area .chats .chat.chat-right .chat-body .chat-text {
  flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
}

.chat-area .chats .chat .chat-body .chat-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1rem 1rem;
}

.chat-area .chats .chat.chat-right .chat-body .chat-text p {
  color: #fff;
  background-color: #2196f3;
}

.chat-area .chats .chat .chat-body .chat-text p {
  max-width: 400px;
  padding: 0.5rem 1rem;
  color: #757575;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 14%);
}
.chat-area .chats .chat .chat-body .chat-text:first-child:before {
  box-sizing: border-box;
  width: 0;
  height: 0;
  margin-top: 10px;
  content: "";
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 12px 18px;
  -ms-transform-origin: 12px 18px;
  transform-origin: 12px 18px;
  border: 7px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  box-shadow: -2px 3px 4px -3px rgb(0 0 0 / 40%);
}
.chat-area .chats .chat.chat-right .chat-body .chat-text:first-child:before {
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 3px -5px;
  -ms-transform-origin: 3px -5px;
  transform-origin: 3px -5px;
  border-top-color: #2196f3 !important;
  border-right-color: #2196f3 !important;
  border-bottom-color: transparent;
  border-left-color: transparent;
  box-shadow: 2px -2px 4px -3px rgb(0 0 0 / 40%);
}

.chat-area .chats .chat.chat-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.chat-area .chats .chat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem 1rem;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.img-comentarios-chat {
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%),
    0 2px 4px -1px rgb(0 0 0 / 30%);
  border-radius: 50%;
  width: 2.5em !important;
  height: 2.5em !important;
  vertical-align: middle;
  text-align: center;
  line-height: 2.5em !important;
  color: white;
}
.img-comentarios-chat.android-mensaje {
  background-color: #7ad119 !important;
}
.img-comentarios-chat.web-mensaje {
  background-color: #63a6e0 !important;
}
.chat-fotter {
  display: flex;
}
.input-mensaje-chat {
  margin-right: 1.5rem !important;
  padding: 0 1.5rem !important;
  color: #9e9e9e !important;
  border-bottom: 0 !important;
  border-radius: 5px !important;
  border: none !important;
  background-color: #eceff1 !important;
  height: 3.3em !important;
  margin-left: 52% !important;
}
.input-mensaje-chat::placeholder {
  font-size: 1.1em !important;
}
/* MODAL CHAT */

#thead_consultaOT .fa {
  font-size: 13px;
  color: gray;
}

.table.dataTable {
  border-collapse: collapse !important;
}

.container.container-accion {
  width: 60%;
}

.text-fecha-comentario {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 0.7em;
}

.container-fluid.vehiculo-content {
  padding: 0;
  display: flex;
  /* border-bottom:1px solid #e1e1e1 */
}

span.text-tile-vehiculo {
  font-weight: bold;
  font-size: 0.8em;
  color: #303030;
}

span.text-content-vehiculo {
  font-size: 0.8em;
  color: #303030;
}

.col-chat-fotter {
  width: 70%;
}

.input-comentario-ot {
  width: 120% !important;
}

.btn-enviar-comentario-ot {
  height: 41px;
}


label.label-filter {
  margin-bottom: 0;
  font-size: .7em;
  font-weight: bold;
}
i.icono-noseleccion {
  color: #ff9f3b;
  display: inline-block;
}

.content-historico-ot{
  height: 25em;
}

.line-time-new:before {
  content: "";
  width: 4px;
  height: 100%;
  background-color: #78A7F7;
  position: absolute;
  top: 0;
  left: 2.5em;
}

.footer-card-historico-alerta{
  position:absolute;
  right:.5em;
  bottom: 1.8em;
  font-size:.8em;
  font-weight:bold;
  /* margin-bottom: 0; */
  /* color: red; */
}

.circle-statushistorico-histo {
  font-size: 0.8em;
  line-height: 2em !important;
  text-align: center;
  color: #fff;
  background-color: #999;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}
