.contenedor-oportunidad {
    margin-top: 1em;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
        0 1px 5px 0 rgb(0 0 0 / 20%);
    border-radius: 0.5em;
    padding: 1em 0;
}

.container-filtros-oportunidad {
    border: none !important;
    z-index: 2;
    position: relative;
    padding-top: 3pt !important;
    padding-bottom: 3pt !important;
}
#filtros_config {
    margin-bottom: 1em;
}
.column-style-consulta {
    width: 125px !important;
    padding-right: 0px !important;
}
label.label-filter {
    margin-bottom: 0;
    font-size: 0.7em;
    font-weight: bold;
}
.input-filtro-oportunidad {
    border: 1px solid #dbdbdb !important;
    font-weight: 400;
    font-size: 1em;
    color: #818181 !important;
    transition: all 0.5s ease;
    border-bottom: 1px solid white;
    background: white !important;
    border-radius: 0.5em !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
    padding-right: 1.5em !important;
}
  
.input-filtro-oportunidad::placeholder {
    font-weight: 400;
    font-size: 1em;
    color: #818181 !important;
}
  
.input-filtro-oportunidad:focus {
    -webkit-box-shadow: none;
}
  
.input-filtro-oportunidad:hover {
    background: #e4e6f2 !important;
    cursor: pointer;
    border-bottom: 2px solid #a4b1ff !important;
}
.columna-filtro-ind::after {
    content: "";
    position: absolute;
    right: 6%;
    top: 67%;
    width: 0;
    height: 0;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.6em solid #939db2;
    clear: both;
    z-index: 2;
    font-size: 14px;
}
#todo_filtro,
#ninguno_filtro {
  width: 45%;
  background: #1266f1;
  color: white;
  margin-top: 0.5em;
  padding: 0;
}
#todo_filtro,
#ninguno_filtro {
  width: 45%;
  background: #1266f1;
  color: white;
}

.div-btn-busqueda {
    padding: 0% !important;
    text-align: right !important;
}
#btn_consultar_oportunidades {
    background-color: #ffffff;
    color: var(--btn-color-buscar) !important;
    border: solid 1px var(--btn-color-buscar) !important;
    padding: .4em 1.5em;
    border-radius: 5px;
    font-size: 0.7em;
    margin-top: 26px;
}
#thead_oportunidad .fa {
    font-size: 13px;
    color: gray;
}
thead#thead_oportunidad {
    font-weight: bold;
    border: 1px #ccc;
    font-family: "Montserrat" !important;
}
#oportunidadTable tbody tr:nth-child(even),
#table_detalle_oportunidad tbody tr:nth-child(even) {
    background: #f5f5f5;
}
#oportunidadTable>tbody>tr>td,
#table_detalle_oportunidad>tbody>tr>td {
    font-size: .75em !important;
    color: #39455b;
    font-family: 'Montserrat' !important;
    font-size: .8em;
    border-top: 0px solid #eceeef !important;
}
#oportunidadTable thead th,
#table_detalle_oportunidad thead th {
    position: relative;
    background-color: #b1b1b1;
    color: #fff;
    font-size: 0.8em;
    padding: 1em;
    border: none;
    font-weight: normal;
}
#oportunidadTable tbody tr td,
#table_detalle_oportunidad tbody tr td {
    padding: 1em;
    border: none;
}
#oportunidadTable_paginate .page-item.active .page-link,
#table_detalle_oportunidad .page-item.active .page-link {
    background-color: var(--btn-color-paginador-tabla) !important;
}

/* CSS TABLE */

#oportunidadTable tbody tr:nth-child(even),
#table_detalle_oportunidad tbody tr:nth-child(even) {
  background: #f5f5f5;
}

#oportunidadTable>tbody>tr>td,
#table_detalle_oportunidad>tbody>tr>td {
  color: #39455b;
  font-family: 'Montserrat';
  font-size: .8em;
  border-top: 0px solid #eceeef !important;
  text-align: center;
}

#oportunidadTable thead th,
#table_detalle_oportunidad thead th {
  position: relative;
  background-color: #b1b1b1;
  color: #fff;
  font-size: 0.8em;
  padding: 1em;
  border: none;
  font-weight: normal;
  text-align: center;
}

#oportunidadTable tbody tr td,
#table_detalle_oportunidad tbody tr td{
  padding: 0.5em;
  border: none;
}

.page-link {
  font-size: 0.7em !important;
  font-family: "Montserrat" !important;
}

.dataTables_info {
  font-size: 0.7em;
  font-family: "Montserrat" !important;
  text-align: left;
  padding-left: 0.5em;
}

.dataTables_paginate.paging_simple_numbers {
  float: right;
}

.dataTables_filter {
  font-size: 0.7em !important;
  font-family: 'Montserrat';
  display: none;
}

div.dataTables_wrapper div.dataTables_filter input {
  width: 11.3em;
  height: 2.05em;
  margin-right: 1em;
}
.contadores_general {
    font-size: 0.7em !important;
    font-weight: bold;
}
.content-contador {
    text-align: center;
    width: 13%;
}
.contadores_border_right {
    border-right: 0.1em solid #939db2;
}
.valor_contador {
    font-size: 1em !important;
    font-weight: bold;
}
.link_table {
    color: #0c56d0 !important;
    font-weight: bold !important;
    text-decoration-line: underline;
    cursor: pointer;
}
.detalle_oportunidad_estatic {
    font-size: .8em;
    color: #0c56d0;
}
.detalle_oportunidad_dinamic {
    font-size: .8em;
    font-weight: bold;
}
.contenedor_contador_detalle_oportunidad {
    text-align: center;
    
}
.border_contenedor_contador_detalle {
    border-right: 0.1em solid #939db2;
}
#tabContadorDetalleOportunidades label {
    font-weight: bold;
    color: #0c56d0;
    font-size: .7em!important;
}
.contador_detalle_oportunidad {
    margin-bottom: .5rem;
    font-size: 1.3em!important;
    font-weight: bold;
    color: #39455b;
}
#contentContadores {
    text-align: center;
}
#contentContadores ul{
    display: inline-block;
    margin: 0;
    padding: 0;
    zoom:1;
    *display: inline;
}
#contentContadores li{
    float: left;
    padding: 2px 5px;
}
#tabContadorDetalleOportunidades .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: #39455b;
}
.icon_regresar_principal {
    color: #939db2;
    cursor: pointer;
    font-size: 1.1em!important;
}