#tabs_info_detalle_inspector_falla,
#tabs_info_detalle_detencion_falla {
	padding: 0.1em 0 1em 0;
	display: flex;
	flex-wrap: nowrap;
	white-space: nowrap;
	overflow-x: hidden;
}

#tabs_info_detalle_inspector_falla .nav-item:first-child .nav-link,
#tabs_info_detalle_detencion_falla .nav-item:first-child .nav-link {
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}

#tabs_info_detalle_inspector_falla .nav-link.active,
#tabs_info_detalle_detencion_falla .nav-link.active {
	color: var(--estandar-color) !important;
	font-weight: bolder;
	background: #f9f9f9;
}

#tabs_info_detalle_inspector_falla .nav-link,
#tabs_info_detalle_detencion_falla .nav-link {
	padding-top: .4em;
	padding-bottom: .4em;
	border: solid 1px #ccc;
}

#tabs_info_detalle_inspector_falla .nav-item:last-child .nav-link,
#tabs_info_detalle_detencion_falla .nav-item:last-child .nav-link {
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
}

#tabs_info_detalle_inspector_falla .nav-tabs,
#tabs_info_detalle_detencion_falla .nav-tabs {
	border-bottom: 0px solid !important;
}

.carouselImgDetalleFalla ol,
.carouselImgDetalleFalla li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.carouselImgDetalleFalla {
	width: 380px;
	height: 250px;
	position: relative;
	/*   	filter: drop-shadow(0 0 10px #0003); */
	perspective: 100px;
	margin-left: 1em;
}

.carousel__viewport {
	width: 380px;
	height: 250px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	overflow-x: hidden;
	counter-reset: item;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
}

.carousel__slide {
	position: relative;
	flex: 0 0 100%;
	width: 100%;
	background-color: #f9f9f9;
	counter-increment: item;
}

.carousel__slide:nth-child(even) {
	background-color: #f9f9f9;
}

.carousel__slide:before {
	content: counter(item);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -40%, 70px);
	color: #fff;
	font-size: 0em;
}

.carousel__snapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	scroll-snap-align: center;
}

@media (hover: hover) {
	.carousel__snapper {
		animation-name: tonext, snap;
		animation-timing-function: ease;
		animation-duration: 4s;
		animation-iteration-count: infinite;
	}

	.carousel__slide:last-child .carousel__snapper {
		animation-name: tostart, snap;
	}
}

@media (prefers-reduced-motion: reduce) {
	.carousel__snapper {
		animation-name: none;
	}
}

.carouselImgDetalleFalla:hover .carousel__snapper,
.carouselImgDetalleFalla:focus-within .carousel__snapper {
	animation-name: none;
}

.carousel__navigation {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
	display: inline-block;
}

.carousel__navigation-button {
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	background-color: #fff;
	background-clip: content-box;
	border: 0.25rem solid transparent;
	border-radius: 50%;
	font-size: 0;
	transition: transform 0.1s;
}

.btnControlImgsOpacidad {
	opacity: .5;
}

.btnControlImgsSinOpacidad {
	opacity: 1;
}

.carousel__navigation-button:hover,
.carousel__prev:hover,
.carousel__next:hover {
	opacity: 1;
}

.carousel__navigation-item::after,
.carousel__navigation-item::before {
	background-color: #000;
}

.carouselImgDetalleFalla::before,
.carouselImgDetalleFalla::after,
.carousel__prev,
.carousel__next {
	position: absolute;
	top: 0;
	margin-top: 33.5%;
	transform: translateY(-50%);
	border-radius: 50%;
	font-size: 0;
	outline: 0;
	opacity: .5;
}

.carousel__next {
	width: 1.5rem;
	height: 1.5rem;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel__prev {
	width: 1.4rem;
	height: 1.4rem;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carouselImgDetalleFalla::before,
.carousel__prev {
	left: 0.5rem;
}

.carouselImgDetalleFalla::after,
.carousel__next {
	right: 0rem;
}

#cuerpoTablaSplitersFallaDetalleDetencion {
	vertical-align: top;
}

.filaTablaSplitersFallaDetalleDetencion {
	width: 50%;
}

.ocultarFilaTablaSplitersFallaDetalleDetencion {
	display: none;
}

.btnPaginadorTablaSpliters {
	width: 1.8em;
	height: 1.8em;
	font-family: 'Montserrat' !important;
	font-size: 0.8em;
}

.btnPaginadorTablaSplitersActive {
	background-color: var(--btn-color-paginador-tabla) !important;
	border: 0;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.btnPaginadorTablaSplitersNoActive {
	background-color: #FFF;
	border: 0;
	color: #303030;
}

.btnPaginadorTablaSplitersNoActive:hover {
	background-color: #eee;
	border-color: #e0e0e0;
}

.btnCerrarModalDetalleOrdenOt {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3E%3C/svg%3E");
	width: 1em;
	height: 1em;
	border: 0;
	border-radius: 0.25rem;
	opacity: .5;
}

.btnCerrarModalDetalleOrdenOt:hover {
	opacity: 1;
}

.btn-modalAcciones {
	background-color: var(--btn-color-guardar-modal) !important;
	margin-top: 1em;
}

.tooltipEtiqueta {
	white-space: normal;
	visibility: hidden;
	background-color: #555;
	color: #fff;
	text-align: left;
	border-radius: 6px;
	padding: 3px 0;
	position: absolute;
	z-index: 1;
	left: 4%;
	right: 50%;
	bottom: 80%;
	opacity: 0;
	transition: opacity 0.3s;
	font-family: 'Montserrat';
	font-size: .6em;
	padding-left: 0.8em;
	padding-right: 0.8em;
}

.etiquetaCampo:hover .tooltipEtiqueta {
	visibility: visible;
	opacity: 1;
}

.tooltipEtiquetaTabla {
	white-space: normal;
	visibility: hidden;
	background-color: #555;
	color: #fff;
	text-align: left;
	border-radius: 6px;
	padding: 3px 0;
	position: absolute;
	z-index: 1;
	left: 6%;
	right: 30%;
	bottom: 80%;
	opacity: 0;
	transition: opacity 0.3s;
	font-family: 'Montserrat';
	font-size: .6em;
	padding-left: 0.8em;
	padding-right: 0.8em;
}

.etiquetaCampoTabla:hover .tooltipEtiquetaTabla {
	visibility: visible;
	opacity: 1;
}

.tooltipTxtCampo {
	white-space: normal;
	visibility: hidden;
	background-color: #555;
	color: #fff;
	text-align: left;
	border-radius: 6px;
	padding: 3px 0;
	position: absolute;
	z-index: 1;
	left: 42%;
	right: 5%;
	bottom: 80%;
	opacity: 0;
	transition: opacity 0.3s;
	font-family: 'Montserrat';
	font-size: .6em;
	padding-left: 0.8em;
	padding-right: 0.8em;
}

.contenedorCampo:hover .tooltipTxtCampo {
	visibility: visible;
	opacity: 1;
}

#v-tabs-consulta-historico,  #v-tabs-consulta-mensajeria {
	overflow-y: auto;
	overflow-x: hidden !important;
	height: 80vh;
}

#v-tabs-consulta-historico::-webkit-scrollbar, #v-tabs-consulta-mensajeria::-webkit-scrollbar{
	width: 0.1em;
}

/*NAVBAR*/


#v-tabs-tab-detalle-ot .nav-link {
	padding: 27px 28px 26px 23px;
	border: none;
}


#v-tabs-tab-detalle-ot .nav-link.active {
	border: none;
	font-weight: bold;
	color: #fff !important;
	background: var(--estandar-color) !important;
	margin-left: -0.5em;
	margin-right: -0.5em;
	box-shadow: 5px 10px 10px #878ee04d;
}

#v-tabs-tab-detalle-ot .nav-link:hover {
	border: none;
	font-weight: bold;
	color: var(--estandar-color);
	background: none;
}

.content-nav-menu {
	box-shadow: 0px 0px 5px #878ee04d; 
	background: #fff; 
	margin-top: -0.5em; 
	margin-bottom: -0.5em;
	height: min-content;
}

/*NAVBAR*/

/*NAVBAR*/

.tabs-acciones-modal .nav-link {
	padding: 0.5em;
	font-weight: 700;
	border-bottom: 1px solid #ccc !important;
}

.tabs-acciones-modal .nav-link.active {
	border-bottom: 1px solid var(--estandar-color) !important;
	font-weight: bold;
	color: var(--estandar-color);
	background: transparent !important;
}

.tabs-acciones-modal .nav-link:hover {
	background-color: transparent !important;
	color: var(--estandar-color);
}

/*NAVBAR*/

#v-tabs-tabsContent .tab-pane {
	padding: 1em 0.5em;
}


#modalDetalleOT .modal-body {
	padding-left: 0;
}

.container.container-accion {
	width: 60%;
}


span.text-tile-terceros {
	font-weight: bold;
	font-size: 0.8em;
	color: #303030;
}

span.text-content-terceros {
	font-size: 0.8em;
	color: #303030;
}

.container-fluid.terceros-content {
	display: flex;
	line-height: 1.8em;
	padding: 0 !important;
}

.container-text-title-detalle {
	width: 50%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.container-text-content-detalle {
	width: 50%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.warning-nodata {
	color: orange;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
	border-radius: 25px;
	font-size: 20px !important;
}

.container-mensajes-parent .chat-content-area .chat-area {
	position: relative;
	overflow: hidden;
	padding: 1rem;
}

.container-mensajes-parent .chats {
	padding: 0;
}

.chat-area .chats .chat.chat-right .chat-body {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.chat-area .chats .chat .chat-body {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.chat-area .chats .chat.chat-right .chat-body .chat-text {
	flex-direction: row-reverse;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
}

#pills-chat .chat-area .chats .chat .chat-body .chat-text {
	margin: 0 1rem 1rem;
	box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 14%);
	border-radius: 5px;
	max-width: 340px;
	display: inline-block !important;
	overflow: hidden;
	text-overflow: ellipsis !important;
	padding: 0.5rem 1rem;
}

.chat-area .chats .chat .chat-body .chat-text {
	margin: 0 1rem 1rem;
	box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 14%);
	border-radius: 5px;
	max-width: 360px;
	overflow-wrap: break-word !important;
	display: inline-block !important;
	overflow: hidden;
	text-overflow: ellipsis !important;
	padding: 0.5rem 1rem;
}

.chat-area .chats .chat.chat-right .chat-body .chat-text {
	color: #fff;
	background-color: #2196f3;
}

.chat-area .chats .chat .chat-body .chat-text {
	color: #757575;
	background-color: #fff;
}

.chat-area .chats .chat .chat-body .chat-text:first-child:before {
	box-sizing: border-box;
	width: 0;
	height: 0;
	margin-top: 10px;
	content: "";
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 12px 18px;
	-ms-transform-origin: 12px 18px;
	transform-origin: 12px 18px;
	border: 7px solid transparent;
	border-bottom-color: #fff;
	border-left-color: #fff;
	box-shadow: -2px 3px 4px -3px rgb(0 0 0 / 40%);
}

.chat-area .chats .chat.chat-right .chat-body .chat-text:first-child:before {
	box-sizing: border-box;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 3px -5px;
	-ms-transform-origin: 3px -5px;
	transform-origin: 3px -5px;
	border-top-color: #2196f3 !important;
	border-right-color: #2196f3 !important;
	border-bottom-color: transparent;
	border-left-color: transparent;
	box-shadow: 2px -2px 4px -3px rgb(0 0 0 / 40%);
}

.chat-area .chats .chat.chat-right {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.chat-area .chats .chat {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 0.5rem 1rem;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.img-comentarios-chat {
	box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%),
		0 2px 4px -1px rgb(0 0 0 / 30%);
	border-radius: 50%;
	width: 2.5em !important;
	height: 2.5em !important;
	vertical-align: middle;
	text-align: center;
	line-height: 2.5em !important;
	color: white;
}

.img-comentarios-chat.android-mensaje {
	background-color: #7ad119 !important;
}

.img-comentarios-chat.web-mensaje {
	background-color: #63a6e0 !important;
}

.chat-fotter {
	display: flex;
}

.input-mensaje-chat {
	margin-right: 1.5rem;
	padding: 0 1.5rem;
	color: #9e9e9e;
	border-bottom: 0;
	border-radius: 5px;
	border: none;
	background-color: #eceff1;
	height: 3.3em;
}

.input-mensaje-chat::placeholder {
	font-size: 1.1em;
}

.footer-card-historico-alerta {
	position: absolute;
	right: 0.5em;
	bottom: 1.8em;
	font-size: 0.8em;
	font-weight: bold;
}

.historico-alertas-div .card-body .container-deschistorico {
	line-height: 1.3;
}

.historico-alertas-div .card-footer {
	padding: 0;
}

.content-historico-ot {
	overflow-y: auto;
}

.line-time-new:before {
	content: "";
	width: 4px;
	height: 100%;
	background-color: #78A7F7;
	position: absolute;
	top: 0;
	left: 2.5em;
}

.title_span {
	color: #676767;
	font-weight: 800 !important;
}

.content_text {
	color: grey;
}


.timeline__group {
	position: relative;
}

.timeline__group:not(:first-of-type) {
	margin-top: 0 !important;
}

.timeline__group {
	padding-top: 1em;
}

.timeline__group {
	padding-top: 40px;
}

.timeline__date {
	box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, .12), 1px 1px 2px 0 rgba(0, 0, 0, .24);
}

.timeline__date {
	min-width: 65px;
	position: absolute;
	left: 0;
	box-sizing: border-box;
	padding: .5rem 1.5rem;
	text-align: center;
	background-color: var(--uiTimelineMainColor);
	color: var(--uiTimelineSecondaryColor);
}

.timeline__date {
	height: 4em !important;
	width: 5em !important;
}

.timeline__date {
	top: 50%;
	margin-top: -35px;
}

.timeline__box {
	position: relative;
}

.timeline__box:not(:last-of-type) {
	margin-bottom: 30px;
}

.timeline__box:before {
	content: "";
	width: 100%;
	height: 2px;
	background-color: #53858f;
	position: absolute;
	left: 0;
	z-index: -1;
}

.timeline__box {
	padding-left: 109px;
}

.timeline__box:before {
	top: 50%;
	transform: translateY(-50%);
}

.timeline__box {}

.timeline__box:before {
	top: 90px;
}

.timeline__day {
	font-weight: 700;
	display: block;
}

.timeline__month {
	display: block;
	font-size: .8em;
	text-transform: uppercase;
}

.imagen_chat {
	border-radius: 50%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

div.comentario_movil {
	background-color: #f7f7f9;
	border-radius: 30px;
	border-top-right-radius: 0;
	color: #969696;
	padding: 15px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

div.comentario_web {
	background-color: #f7f7f9;
	border-radius: 30px;
	border-top-left-radius: 0;
	color: #969696;
	padding: 15px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);

}

i.fa.fa-pause-circle.pend {
	color: #FFBF00 !important;
}

i.fa.fa-arrow-circle-right.asig {
	color: #7fd223 !important;
}

i.fa.fa-hand-paper-o.deten {
	color: #FF8000 !important;
	/* background: red; */
}

i.fa.fa-check-circle.term {
	color: #63a6e0 !important
}

i.fa.fa-times-circle.cancel {
	color: red !important;
}

.timeline__post {
	padding: .6em 1rem;
	border-radius: 2px;
	border-left: 2px solid #868686;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
	background-color: var(--uiTimelineSecondaryColor);
	background: white;
}

.timeline__content {
	font-family: 'Montserrat' !important;
	font-size: .9em;
}

.card-historico.card.text-center {
	overflow: hidden;
	margin: 0.5rem 0 1rem;
	border: 1px solid #e0e0e0;
	border-radius: 2px;
	box-shadow: none;
	/* box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%); */
}

.card-historico.card.text-center:hover {
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
		0 1px 5px 0 rgb(0 0 0 / 20%) !important;
}

.circle-statushistorico {
	font-size: 0.7em;
	line-height: 2em !important;
	text-align: center;
	color: #fff;
	background-color: #999;
	width: 2em;
	height: 2em;
	vertical-align: middle;
	border-radius: 50%;
	/* box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%); */
}

.footer-card-historico {
	font-size: 0.8em;
	margin-bottom: 0;
}

.circle-statushistorico {
	position: absolute;
	right: 0;
	margin-right: 1em;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
		0 1px 5px 0 rgb(0 0 0 / 20%);
}

.circle-statushistorico-histo {
	font-size: 0.8em;
	line-height: 2em !important;
	text-align: center;
	color: #fff;
	background-color: #999;
	width: 2em;
	height: 2em;
	vertical-align: middle;
	border-radius: 50%;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
		0 1px 5px 0 rgb(0 0 0 / 20%);
}

.card-historico .card-footer {
	padding: 0.2em;
}

.card-historico .card-body {
	text-align: left;
	padding: 0.5em 0.5em;
}

.titlehistorico {
	font-weight: bold;
	font-size: 0.8em;
	color: #818181;
}

span.content-titlehistorico.ng-binding {
	font-size: 0.8em;
	font-weight: bold;
	color: #303030;
}

.card-historico .card-header {
	color: black;
	font-weight: bold;
}

.pendiente-historico {
	background-color: #ffd453 !important;
}

.asignacion-historico {
	background-color: #7ad119 !important;
}

.detencion-historico {
	background-color: #ff9e3c !important;
}

.terminar-historico {
	background-color: #63a6e0 !important;
}

.cancelado-historico {
	background-color: #ff4b4b !important;
}

.input-acciones {
	border: 1px solid #dbdbdb !important;
    font-weight: 400;
    color: #818181 !important;
    transition: all 0.5s ease;
    padding: 0.4em 0.5em;
    background: white !important;
    border-radius: 0.5em !important;
    /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important; */
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 7%), 0 1px 2px 0 rgb(0 0 0 / 5%) !important;
    border-bottom: 0 1px 3px 0 rgb(0 0 0 / 7%), 0 1px 2px 0 rgb(0 0 0 / 5%) !important;
}

.input-acciones-select::after {
    content: "";
    position: absolute;
    right: 2em;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid #939db2;
    clear: both;
    z-index: 2;
    font-size: 14px;
    margin-top: -1.2em;
}

#search-input-place {
    margin-top: .5em !important;
    height: 2em;
    background-color: #fff;
    font-size: 15px;
    border: 1px solid #dadada !important;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 80%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    border-radius: 3px !important;
    font-family: 'Montserrat', sans-serif;
}


.container-accion .form-group {
	margin-bottom: 0.2em;
}

.label-acciones {
	margin: 0;
	font-size: 0.9em;
}

.label-dictamen {
	margin: 0;
	font-size: 0.8em;
}


#content-mapa-cambio-direccion {
	margin-top: 1.5em;
	height: 250px;
	border-radius: .5em;
	border: 1px solid #bdbdbd;
}

#content-mapa-cambio-direccion-mod {
	height: 350px;
	border-radius: .5em;
	border: 1px solid #bdbdbd;
}

#btnEditarDireccionOT {
	background-color: #ffffff;
	color: var(--btn-color-guardar-modal);
	border: solid 1px var(--btn-color-guardar-modal);
	padding: 0.3em 2em;
	border-radius: 5px;
	font-size: 0.7em;
	margin-left: 27%;
}

#btnCambioDireccionOTMod {
	border: solid 1px var(--btn-color-guardar-modal) !important;
	padding: 0.3em 2em;
	border-radius: 5px;
	font-size: 0.7em;
	background-color: var(--btn-color-guardar-modal) !important;
}

#btnRegresarVistaCambioDireccion {
	background-color: #ffffff;
	color: var(--btn-color-guardar-modal);
	border: solid 1px var(--btn-color-guardar-modal);
	padding: 0.3em 2em;
	border-radius: 5px;
	font-size: 0.7em;
}

.etiquetaCambioDireccion {
	font-weight: bold;
	font-size: 0.8em;
	color: #303030;
}

.txtCambioDireccion {
	font-size: 0.8em;
	color: #303030;
}

#txtBuscadorDireccionMap {
	margin-top: .5em !important;
	height: 2em;
	background-color: #fff;
	font-size: 12px;
	border: 1px solid #dadada !important;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 80%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
	border-radius: 8px !important;
	font-family: 'Montserrat', sans-serif;
}

#txtBuscadorDireccionMap {
	z-index: 1051 !important;
}


.text-fecha-comentario {
	padding-left: 15px;
	padding-right: 15px;
	font-size: 0.7em;
}

.detalle-cotizacion-icon-asignada:hover {
	box-shadow: 1px 2px 1px 1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
		0 1px 3px 0 rgb(0 0 0 / 12%);
}

.detalle-cotizacion-icon-asignada {
	/*box-shadow: 1px 2px 1px 1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);**/
	font-size: 0.8em !important;
	cursor: pointer;
	color: #2c77d1;
	border: 0.5px solid #efefef;
	text-align: center;
	background: #efefef;
	border-radius: 50%;
	color: #1266f1;
	padding: 0.3em 0.6em;
	margin: 0 auto;
}

.detalle-cotizacion-icon {
	/*box-shadow: 1px 2px 1px 1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);**/
	font-size: 0.8em !important;
	margin-right: 0.5em;
	cursor: pointer;
	border-radius: 50%;
	color: #2c77d1;
	padding: 0.3em 0.3em;
	border: 0.5px solid #efefef;
	width: 1.7em;
	text-align: center;
	background: #efefef;
}

.detalle-cotizacion-icon:hover {
	box-shadow: 1px 2px 1px 1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
		0 1px 3px 0 rgb(0 0 0 / 12%);
}

.detalle-cot-basico {
	padding: 0;
	display: flex;
}

.container-title-detallecot {
	width: 40%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.container-text-detallecot {
	width: 60%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.titulodetallecotbasico {
	font-weight: bold;
	font-size: 0.8em;
	color: #303030;
}

.contentdetallecotbasico {
	font-size: 0.8em;
	color: #545454;
	padding-bottom: 0;
	margin-bottom: 0;
	display: contents;
}

.header-title-cotiz {
	margin-bottom: 0;
	font-weight: bold;
	color: black;
}

.divide-cotizacion {
	border-top: 0.1em solid #dbdbdb;
	margin: 0.5em 0;
}

.container-direcciones-elemento {
	background: #ffffff;
	position: absolute;
	width: 45%;
	top: 0px;
	left: 0%;
	height: 100%;
	z-index: 10;
	overflow-y: scroll;
	overflow-x: hidden;
	/* padding: 0; */
	/* box-shadow: -6px 0px 15px 1px #e9e9e9; */
}

.modal-body-detallecot {
	display: grid;
}

span.cerrarnoticias {
	position: absolute;
	right: 0;
	top: 0.2em;
	color: #848484;
	font-weight: bold;
	font-size: 1.3em;
	/* text-decoration: underline; */
	cursor: pointer;
	z-index: 1;
	margin-top: 0.3em;
	margin-right: 0.2em;
}

.detalle-text-parent-basico {
	padding: 0;
	display: flex;
}

.container-title-generalcot {
	width: 40%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.container-text-generalcot {
	width: 60%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.titulogeneralcotbasico {
	font-weight: bold;
	font-size: 0.8em;
	color: #303030;
}

.contentgeneralcotbasico {
	font-size: 0.8em;
	color: #303030;
	padding-bottom: 0;
	margin-bottom: 0;
}

.tab-content-direccion {
	padding: 1em;
}

.table-productos-cotizacion thead th {
	padding: 0.3em 0.5em;
	border-bottom: 0;
	background: #f7f7f7;
	font-weight: bold;
	color: #9d9d9d;
}

.table-productos-cotizacion tbody th,
.table-productos-cotizacion tbody td {
	padding: 0.3em 0.5em;
	border-bottom: 0.1px solid #e7e7e7;
	font-size: 0.9em;
	color: #303030;
}

.barra-color-tecnico {
	position: absolute;
	width: 4px;
	height: 80%;
	display: inline;
	right: 0;
	margin-right: 0.3em;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	z-index: 1;
}

.text-otpendiente-tres-title {
	display: inline;
	font-family: 'Montserrat' !important;
	font-size: .7em !important;
	font-weight: bold;
	color: black;
}

.text-repartidor-noencontrado {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.7em;
	font-weight: 500;
	color: #ff8935;
	font-weight: bold;
}

.total-content-prod {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1em;
	font-weight: 500;
	color: #0081e8;
	font-weight: bold;
}

.total-title-prod {
	font-size: 1em;
	/* color: #2196f3; */
	font-size: 1em !important;
	color: #303030 !important;
}

.content-descarga-archivo {
	position: absolute;
	bottom: .2em;
	width: auto;
	max-width: 60%;
	border-radius: 1em;
	border: 1px solid #dadada;
	display: flex;
	transition: all .3s ease-in;
	cursor: pointer;
}

.content-descarga-archivo:hover {
	border: 1px solid #b9b9b9;
}

.iconoDescargaArchivo {
	color: #9f9f9f;
	font-size: .7em;
	margin-right: .5em;
}

.text-descarga-consulta {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #858585;
	font-size: .7em;
}

.textoTituloCardsConsulta {
	margin-bottom: 0;
	font-weight: bold;
}


  /* CSS TABLE */

#table-registrosLocalizados tbody tr:nth-child(even),
#tableOrdenesPlantaExternaOt tbody tr:nth-child(even) {
  background: #f5f5f5;
}

#table-registrosLocalizados>tbody>tr>td ,
#tableOrdenesPlantaExternaOt>tbody>tr>td {
  white-space: nowrap;
  color: #39455b;
  font-family: 'Montserrat';
  font-size: .8em;
  border-top: 0px solid #eceeef !important;
  text-align: center;
}

#table-registrosLocalizados thead th ,
#tableOrdenesPlantaExternaOt thead th {
  position: relative;
  background-color: #b1b1b1;
  color: #fff;
  font-size: 0.8em;
  white-space: nowrap;
  padding: 1em;
  border: none;
  font-weight: normal;
  text-align: center;
}

#table-registrosLocalizados tbody tr td ,
#tableOrdenesPlantaExternaOt tbody tr td {
  padding: 0.5em;
  border: none;
}

.page-link {
  font-size: 0.7em !important;
  font-family: "Montserrat" !important;
}

.dataTables_info {
  font-size: 0.7em;
  font-family: "Montserrat" !important;
  text-align: left;
  padding-left: 0.5em;
}

.dataTables_paginate.paging_simple_numbers {
  float: right;
}

.dataTables_filter {
  font-size: 0.7em !important;
  font-family: 'Montserrat';
  float: right;
}

div.dataTables_wrapper div.dataTables_filter input {
  width: 11.3em;
  height: 2.05em;
  margin-right: 1em;
}

.page-item.disabled .page-link{
	background: #fff0 !important;
}

#tab-content-detencion tfoot{
	background: #fff0 !important;
}


/* CSS TABLE */

#content-mapa-dictamen {
	height: 94%;
	border-radius: .5em;
	border: 1px solid #bdbdbd;
}