::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #39455b;
  border: 71px none #ffffff;
  border-radius: 31px;
}

.buscar-input-operario {
  height: 2em !important;
  min-height: 2em !important;
  padding: 0 !important;
  padding-left: 1em !important;
  border-radius: 1em !important;
  border: 1px solid #e2e2e2;
  background: #fcfcfc;
}

.buscar-input-operario::placeholder {
  color: #a4a4a4;
  font-size: 1em;

}

.content-busqueda-general {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  /* padding-top:1em; */
  padding-bottom: 1em;
  background: white;
  border-radius: .5em;
  padding-top: 1em;
  margin: 1em;
  height: 100%;
}

.iconsf-container,
.textcontainer-header {
  display: table-cell;
}

.disabledbutton {
  pointer-events: none;
}

.element-busqueda-title {
  padding: .3em 1em;
  /* border-bottom: 1px solid #e6e6e6; */
  /*border-right: 1px solid #e6e6e6;*/
  cursor: pointer;
  width: 100%;
}

.img-oportunidad {
  background-color: #fcba5d;
}

.iconsf-container img {
  width: 35px;
  border-radius: .3em;
  margin-top: .5em;
  margin-right: .5em;
}

span.text-title-elementoh {
  display: block;
  font-weight: bold;
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis !important;
  line-height: normal;
  font-family: 'Montserrat', sans-serif;
  width: 101%;
  font-size: 0.8em !important;
}

.text-title-elementohcantidad {
  font-size: .7em;
  line-height: normal;
  display: block;
  font-family: 'Montserrat', sans-serif;
}

.img-os {
  background-color: #cea067;
}

.img-csp {
  background-color: #e78171;
}

div.borderFilter {
  margin-left: 0em;
}

.tooltip-btn {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip-btn .tooltiptext-btn {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 1em;
}

/* Tooltip arrow */
.tooltip-btn .tooltiptext-btn::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-btn:hover .tooltiptext-btn {
  visibility: visible;
  opacity: 1;
}

label.dropdown-item.form-check-inputfiltro {
  margin-bottom: 0;
  cursor: pointer !important;
}

label.form-check-inputfiltro {
  display: flex;
}

.form-check-input {
  margin: 0;
  display: inline-block;
  margin-right: 0.5em;
}

.element-menu-filter {
  position: relative;
  cursor: pointer !important;
}

.dropdown-item.item-text-filtro.ng-binding {
  display: contents;
  /* margin-left: 1em; */
}

.form-check-input {
  margin-right: 0.5em;
}

#info_orde_bsq_general .modal-header.blue-gradient.modal_header_bg {
  margin: 0 !important;
  box-shadow: none !important;
  background: #ebecee;
  color: #3c475d !important;
  font-weight: bold !important;
  font-size: 16px !important;
  padding: 0;
  height: 60px;
  padding-left: 2em;
}

#info_orde_bsq_general .modal-header.blue-gradient.modal_header_bg .modal-title {
  color: #3c475d !important;
  font-weight: bold !important;
}

#info_orde_bsq_general .info_ot_detail {
  margin-bottom: .8em !important;
  font-family: 'Montserrat';
  font-size: 0.7em;
}

#info_orde_bsq_general .title_span {
  color: #3c475d !important;
  font-weight: bold !important;
}

/******chat******/
.container-mensajes-parent .chat-content-area .chat-area {
  position: relative;
  overflow: hidden;
  padding: 1rem;
}

.container-mensajes-parent .chats {
  padding: 0;
}

.chat-area .chats .chat.chat-right .chat-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.chat-area .chats .chat .chat-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.chat-area .chats .chat.chat-right .chat-body .chat-text {
  flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
}

.chat-area .chats .chat .chat-body .chat-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1rem 1rem;
}

.chat-area .chats .chat.chat-right .chat-body .chat-text p {
  color: #fff;
  background-color: #2196f3;
}

.chat-area .chats .chat .chat-body .chat-text p {
  max-width: 400px;
  padding: 0.5rem 1rem;
  color: #757575;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 14%);
}

.chat-area .chats .chat .chat-body .chat-text:first-child:before {
  box-sizing: border-box;
  width: 0;
  height: 0;
  margin-top: 10px;
  content: "";
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 12px 18px;
  -ms-transform-origin: 12px 18px;
  transform-origin: 12px 18px;
  border: 7px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  box-shadow: -2px 3px 4px -3px rgb(0 0 0 / 40%);
}

.chat-area .chats .chat.chat-right .chat-body .chat-text:first-child:before {
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 3px -5px;
  -ms-transform-origin: 3px -5px;
  transform-origin: 3px -5px;
  border-top-color: #2196f3 !important;
  border-right-color: #2196f3 !important;
  border-bottom-color: transparent;
  border-left-color: transparent;
  box-shadow: 2px -2px 4px -3px rgb(0 0 0 / 40%);
}

.chat-area .chats .chat.chat-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.chat-area .chats .chat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem 1rem;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.img-comentarios-chat {
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%),
    0 2px 4px -1px rgb(0 0 0 / 30%);
  border-radius: 50%;
  width: 2.5em !important;
  height: 2.5em !important;
  vertical-align: middle;
  text-align: center;
  line-height: 2.5em !important;
  color: white;
}

.img-comentarios-chat.android-mensaje {
  background-color: #7ad119 !important;
}

.img-comentarios-chat.web-mensaje {
  background-color: #63a6e0 !important;
}

.chat-fotter {
  display: flex;
}

.input-mensaje-chat {
  margin-right: 1.5rem !important;
  padding: 0 1.5rem !important;
  color: #9e9e9e !important;
  border-bottom: 0 !important;
  border-radius: 5px !important;
  border: none !important;
  background-color: #eceff1 !important;
  height: 3.3em !important;
  margin-left: 52% !important;
}

.input-mensaje-chat::placeholder {
  font-size: 1.1em !important;
}

.comentario_web {
  margin-left: 20px;
  background-color: #f7f7f9;
  border-radius: 30px;
  border-top-left-radius: 0;
  color: #969696;
  padding: 15px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  font-size: .8em;
  color: #969696;
}

.imagen_chat {
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

div.comentario_movil {
  background-color: #f7f7f9;
  border-radius: 30px;
  border-top-right-radius: 0;
  color: #969696;
  padding: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  font-size: .8em;
}

div.comentario_movil.col-1.imagen_chat {
  margin-right: 10px
}

::-webkit-scrollbar-thumb {
  background-color: #9ca4b3;
  outline: 0px solid #9ca4b3 !important;
}

.text-tile-vehiculo {
  font-weight: bold;
  font-size: 0.9em;
}

.text-content-vehiculo {
  font-size: 0.8em;
}

.container-text-title-detalle {
  margin-right: 2px;
  float: left;
}

.itemGeneral {
  font-size: 0.7em;
  margin: 1px;
  border: none !important;
}

.itemGeneral.active {
  border-top-right-radius: 2rem !important;
  border-bottom-right-radius: 2rem !important;
  background-color: #2196f3;
  /* box-shadow: 0 0 8px 0 #2196f3; */
  border-bottom: 0;
  color: white !important;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  z-index: 1;
  font-size: 0.7em;
  padding: 6px;
  padding-left: 10%;
}

.row.row-regresar {
  height: 40px;
  /* background: #EBECEE; */
  /* border-radius: 3px; */
  margin-bottom: 2em;
  border: 1px #EBECEE solid;
  padding: 0;
  border-left: none;
  border-right: none;
}

.container-icono-regresar-agenda {
  display: inline-block;
  height: 39px;
  width: 43px;
  /* background: #39455b; */
  color: #39455b;
  font-size: 1.2em;
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
  cursor: pointer;
  /* margin-bottom: 2px; */
}

#agendamiento {
  padding-left: 0 !important;
  margin-left: 10px !important;
  margin-right: 2.5% !important;
  margin-top: 1em;
}

.title_span_detalle.title_info_ot {
  font-size: 1em;
}

.info_ot_detail.title-contentedor-info {
  border: 1px #EBECEE solid;
  padding: 0 !important;
  border-left: none;
  border-right: none;
}

.title_span_detalle.title_info_ot {
  font-size: 0.9em;
  font-weight: bold
}

.texto_info_ot {
  font-size: 0.8em
}

.content_cuenta_detalle {
  font-size: 0.8em;
}

.text-title-contentedor-info {
  font-weight: bold;
  font-size: 0.9em;
}

.title_info_ot {
  font-weight: bold;
  font-size: 0.9em;
}

#comentarios-agendamiento {
  margin-left: 13px;
  width: 98%;
}

#btn-accion-factibilidad {
  font-size: 0.7em;
  float: right;
  box-shadow: none;
  border-radius: 3px;
  font-weight: bold;
  border-radius: 2em;
}

.title_span_contacto {
  font-weight: bold;
  font-size: 0.9em;
}

#calendar_disponibilidad {
  width: 97.9%;
}

#info-factibilidad-actualiza {
  font-size: .8em;
  font-weight: 600;
  color: #797979;
}

#icon-factibilidad-actualiza.fa-info-circle {
  color: #f58212;
}

#message-success-agenda,
#message-error-agenda {
  font-weight: bold;
  padding: .2em 1em;
  margin-top: .5em;
  font-size: .9em;
  display: inline-flex;
}

button#agendar-cuenta {
  border-radius: 3px;
  background: #39455B !important;
  padding: 0;
  padding: .5em 4em;
  height: 34px;
  font-weight: 400 !important;
  float: right;
  border-radius: 5em;
}

#abrir-calendario {
  font-size: 1.2em;
  color: #df022c;
  font-weight: bold;
  cursor: pointer;
  margin-left: 1em;
}

.mfp-wrap {
  z-index: 2000 !important;
}

.mfp-container {
  background: rgba(0, 0, 0, 0.8) !important;
}

.historico .content_text {
  font-size: .8em;
}

.timeline_date {
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, .12), 1px 1px 2px 0 rgba(0, 0, 0, .24);
}

.timeline {
  --timelineMainColor: #77a7f7;
  font-size: 16px;
  background: transparent;
}

div#content_historico_asignada {
  padding-top: 0;
}

.timeline_post {
  padding: .6em 1rem;
  border-radius: 2px;
  border-left: 2px solid var(--uiTimelineMainColor);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
  background-color: var(--uiTimelineSecondaryColor);
  background: white;
}

.historico p {
  font-size: 50px !important;
}

.timeline {
  --uiTimelineMainColor: var(--timelineMainColor, #77a7f7);
  --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);

  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.timeline:before {
  content: "";
  width: 4px;
  height: 100%;
  background-color: var(--uiTimelineMainColor);
  position: absolute;
  top: 0;
}

.timeline_group {
  position: relative;
}

.timeline_group:not(:first-of-type) {
  margin-top: 0 !important;
}

.timeline_year {
  padding: .5rem 1.5rem;
  color: var(--uiTimelineSecondaryColor);
  background-color: var(--uiTimelineMainColor);

  position: absolute;
  left: 0;
  top: 0;
}

.timeline_box {
  position: relative;
}

.timeline_box:not(:last-of-type) {
  margin-bottom: 30px;
}

.timeline_box:before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #53858f;
  position: absolute;
  left: 0;
  z-index: -1;
}

.timeline_date {
  min-width: 65px;
  position: absolute;
  left: 0;
  box-sizing: border-box;
  padding: .5rem 1.5rem;
  text-align: center;
  background-color: var(--uiTimelineMainColor);
  color: var(--uiTimelineSecondaryColor);
}

.timeline_day {
  font-weight: 700;
  display: block;
}

.timeline_month {
  display: block;
  font-size: .8em;
  text-transform: uppercase;
}

@media screen and (min-width: 641px) {
  .timeline:before {
    left: 30px;
  }

  .timeline_group {
    padding-top: 1em;
  }

  .timeline_box {
    padding-left: 100px;
  }

  .timeline_box:before {
    top: 50%;
    transform: translateY(-50%);
  }

  .timeline_date {
    top: 50%;
    margin-top: -27px;
  }
}

@media screen and (max-width: 640px) {
  .timeline:before {
    left: 0;
  }

  .timeline_group {
    padding-top: 40px;
  }

  .timeline_box {
    padding-left: 20px;
    padding-top: 70px;
  }

  .timeline_box:before {
    top: 90px;
  }

  .timeline_date {
    top: 0;
  }
}

i.fa.fa-pause-circle.pend {
  color: #FFBF00 !important;
}

i.fa.fa-arrow-circle-right.asig {
  color: #7fd223 !important;
}

i.fa.fa-hand-paper-o.deten {
  color: #FF8000 !important;
  /* background: red; */
}

i.fa.fa-check-circle.term {
  color: #63a6e0 !important
}

i.fa.fa-times-circle.cancel {
  color: red !important;
}

@media screen and (min-width: 768px) {
  .historico {
    font-size: 62.5%;
  }
}

@media screen and (max-width: 767px) {
  .historico {
    font-size: 50%;
  }
}

.historico p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.historico p:last-child {
  margin-bottom: 0;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.page_demo {
  flex-grow: 1;
}

.main-container {
  /* max-width: 960px; */
  /* padding-left: 2rem; */
  /* padding-right: 2rem; */
  margin-left: auto;
  margin-right: auto;
}

.page_container {
  /* padding-top: 30px; */
  padding-bottom: 30px;
  max-width: 100%;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 1.4rem;
}

.footer_link {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 361px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 360px) {
  .melnik909 {
    display: none;
  }
}

/* CAMBIO DE DISEÑO */
#container_bandejas_salesforce {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  /* padding-top: 1em; */
  /* padding-bottom: 1em; */
  background: white;
  border-radius: .5em;
  margin-top: 1em;
  position: unset;
  padding: 0;
  /* min-height: 85vh; */
}

#myTab .nav-link.active {
  color: var(--estandar-color) !important;
  font-weight: bolder;
  background: #f9f9f9;
}

#myTab {
  margin-bottom: 1em;
}

#myTab .nav-link {
  padding-top: .4em;
  padding-bottom: .4em;
  border: solid 1px #ccc;
}

#myTab .nav-item:first-child .nav-link {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

#myTab .nav-item:last-child .nav-link {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.nav-tabs {
  border-bottom: 0 !important;
}

#opciones-menu div>span,
#opciones-menu-sf div>span {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s, opacity 0.7s linear;
}

#opciones-menu:hover div>span,
#opciones-menu-sf:hover div>span {
  visibility: visible;
  opacity: 1;
}

.left-menu {
  background-color: #FFFFFF;
  padding: 0;
  box-shadow: 8px 0px 8px -6px #0000004b;
  z-index: 4;
  /* height: 105vh; */
  position: absolute;
  border-radius: 0.5em 0 0 0.5em;
}

.small-menu {
  width: 4%;
  transition: width .5s;
}

.small-menu:hover {
  width: 15%;
}

.small-sf:hover {
  width: 22% !important;
}

.titulo-opcion-menu {
  height: 5em;
  line-height: 5em;
}

.opcion-menu {
  cursor: pointer;
  height: 3.5em;
  line-height: 3.5em;
}

.small-menu .opcion-menu:hover .icon-menu-left {
  color: #7700ff;
  font-weight: bold;
}

.small-menu .opcion-menu:hover .titulo-menu {
  color: var(--estandar-color);
  font-weight: bold;
}

.small-menu .opcion-menu {
  white-space: nowrap;
  width: 100%;
  text-align: center;
  padding-left: 0.8em;
  transition: width 1s ease;
}

.small-menu:hover>.opcion-menu {
  width: 35%;
}

.small-menu .parent-monitor-menu {
  white-space: nowrap;
  width: 100%;
  text-align: center;
  padding-left: 1em;
  transition: width 1s ease;
  margin-top: 2em;
  margin-bottom: 2em;
}

.small-menu:hover>.parent-monitor-menu {
  width: 65%;
}

.small-menu .parent-monitor-menu {
  white-space: nowrap;
  width: 100%;
  text-align: center;
  padding-left: 1em;
  transition: width 1s ease;
  margin-top: 2em;
  margin-bottom: 2em;
}

.small-menu:hover>.parent-monitor-menu {
  width: 65%;
}

span.titulo-menu.active-text-menu {
  color: var(--estandar-color);
  font-weight: bold;
}

.icon-menu-left {
  color: var(--estandar-color);
  color: #7e7e7e;
}

.active-iconmenu {
  color: var(--estandar-color);
  /* font-size: 1.2em; */
  font-weight: bold;
}

.parent-monitor-menu .icon-menu-left {
  color: #7700ff;
  font-size: 1.3em;
}

.parent-monitor-menu .titulo-menu {
  font-weight: bold;
  font-size: 1.1em;
}

.right-content {
  /* height: 100%; */
  width: 95%;
  /* position: absolute; */
  right: 0;
  margin-left: 5%;
  /* padding-left: 4em; */
  /* min-height: 100%; */
  /* height: 100%; */
  /* min-height: 80vh; */
  padding-top: 1em;
  padding-bottom: 1em;
}

.titulo-menu {
  position: absolute;
  color: #5b5b5b;
  font-size: 1em;
  font-family: 'Montserrat' !important;
  /* font-weight: bold; */
}

div.borderFilter {
  margin-left: 0em;
}

.pagination .paginate_button>.active {
  border: #000000 !important;
}

.jstree-proton .jstree-wholerow-clicked {
  background: white;
}

.jstree-proton .jstree-clicked {
  color: #808080;
}

ul.dropdown-menu {
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  -webkit-box-shadow: 0 1px 5px 0 rgb(0 0 0 / 16%);
  /* z-index: 200 !important; */
}

.element-menu-filter:hover .dropdown-menu {
  display: block;
}

.element-menu-filter:hover .dropdown-menu {
  top: 0;
  left: 100%;
}

a.btn-floating.btn-sm.btn-primary.waves-effect.waves-light {
  /* background-color: #33b5e5!important; */
  color: #fff !important;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

span.btn-floating.btn-sm.btn-default.waves-effect.waves-light {
  background-color: #4284cc !important;
  color: #fff !important;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  font-size: 0.9em;
}

span.btn-floating.btn-evidencia.btn-sm.btn-secondary.waves-effect.waves-light {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  font-size: 0.9em;
}

.acciones {
  cursor: pointer;
}

.clear {
  display: none !important;
}

.estiloBlockIconoPermiso {
  opacity: 0.3 !important;
  cursor: no-drop !important;
}

.text-accion-nopermiso {
  font-size: 12px;
  color: grey;
  padding: 1em;
  font-weight: bold;
  text-align: center;
}

.text-accion-nopermiso .icon-not-permiso {
  color: #9586a9;
  font-size: 1.3em;
  padding: 0.5em;
  border-radius: 50%;
  /* background: #9586a9; */
  width: 2em;
  height: 2em;
  /* box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);**/
}

.text-not-permiso {
  margin-left: 0.5em;
  font-size: 1.5em;
  font-weight: normal;
}

/* FILTROS */

.span-titulo-bandeja {
  font-size: 1em;
  font-weight: bold;
  font-family: 'Montserrat' !important;
}

.buscadorGenerico {
  height: 2em !important;
  min-height: 2em !important;
  padding: 0 !important;
  padding-left: 1em !important;
  border-radius: 1em !important;
  border: 1px solid #e2e2e2;
  background: #fcfcfc;
}

.buscadorGenerico::placeholder {
  color: #a4a4a4;
  font-size: 1em;
}

#geografiaPendientesAgendar .jstree-anchor,
#geografiaRescataventas .jstree-anchor,
#geografiaPendientesActivar .jstree-anchor {
  font-family: 'Montserrat';
  font-size: .8em;
}

#geografiaPendientesAgendar .jstree-search,
#geografiaRescataventas .jstree-search,
#geografiaPendientesActivar .jstree-search {
  font-style: italic !important;
  color: #8b0000 !important;
  font-weight: bold !important;
}

label.label-filter {
  margin-bottom: 0;
  font-size: .7em;
  font-weight: bold;
}

.input-filtro-bandejaSF {
  border: 1px solid #dbdbdb !important;
  ;
  font-weight: 400;
  font-size: 1em;
  color: #818181 !important;
  transition: all 0.5s ease;
  border-bottom: 1px solid white;
  background: white !important;
  border-radius: .5em !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .07), 0 1px 2px 0 rgba(0, 0, 0, .05) !important;
  padding-right: 1.5em;
}

.input-filtro-bandejaSF::placeholder {
  font-weight: 400;
  font-size: 1em;
  color: #818181 !important;
}

.input-filtro-bandejaSF:focus {
  -webkit-box-shadow: none;
}

.input-filtro-bandejaSF:hover {
  background: #e4e6f2 !important;
  cursor: pointer;
  border-bottom: 2px solid #a4b1ff !important;
}

.column-style-bandejaSF {
  width: 136px !important;
  padding-right: 0px !important;
}

.columna-filtro-ind::after {
  content: "";
  position: absolute;
  right: 6%;
  top: 67%;
  width: 0;
  height: 0;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.6em solid #939db2;
  clear: both;
  z-index: 2;
  font-size: 14px;
}

.div-btn-busqueda {
  /* padding: 0% !important; */
  text-align: right !important;
}

#btn_consultar_pendientesAgendar,
#btn_consultar_rescataventas,
#btn_consultar_pendientesActivar {
  background-color: #ffffff;
  color: var(--btn-color-buscar) !important;
  border: solid 1px var(--btn-color-buscar) !important;
  padding: 0.5em 2em;
  border-radius: 5px;
  font-size: 0.7em;
  margin-top: 25px;
}

i.icono-noseleccion {
  color: #ff9f3b;
  display: inline-block;
}

/* FILTROS */

/* TABLES */
#tableRescataventas tbody tr:nth-child(even),
#tablePendienteActivar tbody tr:nth-child(even),
#tablePendientesAgendar tbody tr:nth-child(even) {
  background: #f5f5f5;
}

#tableRescataventas>tbody>tr>td,
#tablePendienteActivar>tbody>tr>td,
#tablePendientesAgendar>tbody>tr>td {
  /* white-space: nowrap; */
  color: #39455b;
  font-family: 'Montserrat';
  font-size: .8em;
  border-top: 0px solid #eceeef !important;
}

#tableRescataventas thead th,
#tablePendienteActivar thead th,
#tablePendientesAgendar thead th {
  position: relative;
  background-color: #b1b1b1;
  color: #fff;
  font-size: 0.8em;
  white-space: nowrap;
  padding: 1em;
  border: none;
  font-weight: normal;
}

#tableRescataventas tbody tr td,
#tablePendienteActivar tbody tr td,
#tablePendientesAgendar tbody tr td {
  padding: 1em;
  border: none;
}

.page-link {
  font-size: 0.7em !important;
  font-family: "Montserrat" !important;
}

.dataTables_info {
  font-size: 0.7em;
  font-family: "Montserrat" !important;
  text-align: left;
  padding-left: 0.5em;
}

.dataTables_paginate.paging_simple_numbers {
  float: right;
}

.dataTables_filter {
  font-size: 0.7em !important;
  font-family: 'Montserrat';
}

div.dataTables_wrapper div.dataTables_filter input {
  width: 11.3em !important;
  height: 2.05em !important;
  margin-right: 1em !important;
}

.table.dataTable {
  border-collapse: collapse !important;
}

.btnTables {
  background-color: var(--estandar-color);
  color: #fff !important;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  font-size: 0.8em;
  text-align: center;
}

.btn-option {
  padding: 0.4em 1em !important;
  border-radius: 0.2rem !important;
  cursor: pointer;
}

span.btn-floating.btn-sm.btn-secondary.waves-effect.waves-light.acciones {
  background-color: var(--btn-color-agendar-tabla) !important;
  color: #fff !important;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  font-size: 0.8em;
  text-align: center;
}

span.btn-floating.btn-sm.btn-secondary.waves-effect.waves-light.acciones:hover{
  border: solid 1px var(--btn-color-agendar-tabla) !important;
}

.btnAgendamiento {
  background-color: var(--btn-color-agendar-tabla) !important;
  cursor: pointer;
  border: 1px solid var(--btn-color-agendar-tabla);
}

/* TABLES */

.iconoBusqueda {
  color: #888888;
  position: absolute;
  right: 0.8em;
  top: 0.4em;
  font-size: 0.8em;
  z-index: 3;
}

.content-seach-group {
  height: 1em;
  display: inline-flex;
  margin: 0em auto 1em;
}

/* VISTA AGENDAMIENTO */

/* MAPA AGENDAMIENTO */

.invalid-inputContacto {
  padding-right: calc(1.5em + 0.75rem);
  border-bottom: 2px solid #f55756;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.content-actualizar .boton-factibilidad {
  background: white;
  color: var(--estandar-color);
  border: 1px solid var(--estandar-color);
  border-radius: 5px;
  font-size: 0.7em;
  padding: 0.2em 1em;
  margin: 0;
  float: none;
}

.content-actualizar {
  text-align: center;
  padding: 0 1em 0.5em 1em;

}

.ciudad-detalle-cuenta {
  font-family: 'Montserrat';
  font-size: 0.7em;
}

.icon-informacion-fac {
  opacity: 0.7;
  font-size: 1.5em;
  float: left;
  margin-right: 0.5em;
}

#info-factibilidad .fa-minus:before {
  content: "\f106" !important;
}

#info-factibilidad .fa-plus:before {
  content: "\f107" !important;
}

#info-factibilidad .icono-ocultar-mostrar-map {
  top: 0.8em;
}

#info-factibilidad .title-tipoot-map-filtros {
  font-weight: bolder;
}

.div-contenedor-info-factibilidad {
  position: absolute;
  z-index: 9;
  text-align: center;
  border: none;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%) !important;
  background-color: white;
  margin: 0.5em;
  margin-left: 2em;min-width: 250px;
  /* border-radius: 0; */
border-radius: .25rem;}

.btn-aceptar-agendamiento {
  font-size: .7em;
  background-color: var(--btn-color-guardar) !important;
  color: white;
  font-weight: bold;
  box-shadow: none;
  padding: .6em 2em .6em 2em;
  border: .09rem solid var(--btn-color-guardar) !important;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
  margin-left: 1em;
}

.btn-aceptar-agendamiento:hover {
  font-size: .7em;
  background: var(--btn-color-guardar) !important;
  color: white;
  font-weight: bold;
  box-shadow: none;
  padding: .6em 2em .6em 2em;
  border: .09rem solid var(--btn-color-guardar) !important;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
  margin-left: 1em;
}

.color_titulos_resumen {
  color: #7a7a7a;
  font-weight: bold;
  font-size: .8em;
}

#search-input-place {
  margin-top: .5em !important;
  height: 2em;
  background-color: #fff;
  font-size: 15px;
  border: 1px solid #dadada !important;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 80%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  border-radius: 8px !important;
  font-family: 'Montserrat', sans-serif;
}

#mapa-ubicacion {
  height: 550px;
  width: 100%;
  background-color: gray;
}

/* MAPA AGENDAMIENTO */

.icon-factibilidad {
  padding: 0.55em;
  border-radius: 25px;
  color: #fff;
  height: 2em;
  width: 2em;
  margin: 0.5em;
  font-size: 0.7em;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.span-form-contacto {
  color: #9d9d9d;
  font-size: .9em;
  margin-bottom: 0;
}

.form-controlAg {
  height: 2.5em !important;
}

.container-fluid.agendamiento-content {
  padding: 0;
  display: flex;
  /* border-bottom:1px solid #e1e1e1 */
}

.container-text-title-detalle {
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

span.text-tile-agendamiento {
  font-weight: bold;
  font-size: 0.8em;
  color: #444444;
}

.container-text-content-detalle {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-text-direccion {
  width: 70%;
}


span.text-content-agendamiento {
  font-size: 0.8em;
  color: #303030;
}

.divider-agendamiento {
  border-bottom: 0.2em solid #f0f0f0;
  width: 100%;
  margin: 0em 40% 0 0;
}

.textarea-agendamiento {
  width: 100%;
  font-size: .8em;
}

/* CALENDARIO */

#calendar_agendamiento .fc-license-message {
  display: none;
}

/* NEW STYLE */
.matutino-event span {
  color: white !important;
  font-size: .9em;
}

.row-second-step {
  margin-bottom: .3em;
}

.nocturno-event span {
  color: white !important;
  font-size: .9em;
}

.vespertino-event span {
  color: white !important;
  font-size: .9em;
}

.vespertino-event,
.matutino-event,
.nocturno-event {
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .19);
  -o-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .19);
  -ms-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .19);
  -moz-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .19);
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .19);
  margin-bottom: .5em;
}

a.fc-col-header-cell-cushion {
  color: #838383 !important;
}

.fc .fc-daygrid-day-number {
  color: grey !important;
  font-weight: bold;
  font-size: .9em;
}


.fc-h-event .fc-event-main-frame {
  height: 1.6em;
  font-size: .9em;
  margin-bottom: .6em;
cursor: pointer;}

#calendar_agendamiento .eventDisponibilidad {
  box-shadow: 0 3px 15px 0 rgb(0 0 0 / 19%);
  -o-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .19);
  -ms-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .19);
  -moz-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .19);
  -webkit-box-shadow: 0 3px 15px 0 rgb(0 0 0 / 19%);
}

#calendar_agendamiento .eventDisponibilidad {
  /*  background-color: #1c74bfb3 !important;
   border-color: #1c74bfb3 !important; */
  font-weight: bold;
  font-size: 11px;
  text-align: center;
  white-space: pre-wrap !important;
  /* box-shadow: 0px 0px 10px #808c8c; */
  border: none;
}

#calendar_agendamiento .fc-button {
  color: gray !important;
  background: white;
  border: 0px !important;
}

#calendar_agendamiento .fc-toolbar.fc-header-toolbar {
  margin-bottom: .5em;
}

/* NEW STYLE */


#calendar_agendamiento a,
a.disabled:hover,
a:disabled:hover {
  color: grey !important;
}

#calendar_agendamiento button {
  color: gray !important;
  background: white;
  border: 0px !important;
}

#calendar_agendamiento button.fc-prev-button.fc-button.fc-state-default.fc-corner-left,
#calendar_agendamiento button.fc-next-button.fc-button.fc-state-default.fc-corner-right {
  background: var(--estandar-color) !important;
  padding: 5px 12px;
  margin: 2px 1px 5px;
}

.fc .fc-toolbar-title {
  text-transform: capitalize !important;
  color: var(--estandar-color) !important;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 20px !important;
}

#calendar_agendamiento .fc-col-header {
  background: #f4f5fc !important;
  text-transform: capitalize !important;
  font-size: small;
}

#calendar_agendamiento .fc-content-skeleton td.fc-event-container {
  text-align: -webkit-center;
}

#calendar_agendamiento .fc-toolbar.fc-header-toolbar {
  margin-bottom: .5em;
}

#calendar_agendamiento td.fc-head-container.fc-widget-header {
  border: 0px;
}

#calendar_agendamiento .fc th {
  text-align: right;
  color: #999;
  font-size: 1.2em;
  font-weight: bold;
  border: 0px;
}

#calendar_agendamiento .fc td:first-child {
  border-left: 0;
}

#calendar_agendamiento .fc-license-message {
  display: none;
}

.modal-footer .btn-cerrar-modal {
	color: var(--btn-color-cerrar-modal) !important;
    border: 0.09rem solid var(--btn-color-cerrar-modal) !important;
}

#tablePendientesAgendar_paginate .page-item.active .page-link,
#tableRescataventas_paginate .page-item.active .page-link {
    background-color: var(--btn-color-paginador-tabla) !important;
}

/* CALENDARIO */

/* VISTA AGENDAMIENTO */

.spinner-border.spinner-cargando-info.ng-scope {
  width: 1.5em;
  height: 1.5em;
  color:#8e50fc;
}
select.inputContacto {
    font-size: .6em !important;
    line-height: 1.5;
}
.selectContactoAgendamiento{
    font-size: .7em !important;
    line-height: 1.5;
}

.not-selected-contacto {
    position: absolute;
    right: 0;
    margin-right: 1em;
    color: #fdc149;
    margin-top: .2em;
}
.selected-contacto-agenda{
    position: absolute;
    right: 0;
    margin-right: 1em;
    color: #28a645;
    margin-top: .2em;
}
.text-agrega-contacto{
  color:var(--link-ref-generic);
  font-size:.7em;
  text-decoration:underline;
  font-weight:bold;
  cursor:pointer;
 }

.content-link-agrega-contacto{
  display: grid !important;
text-align: right;}
