.contenedor_disponibilidad a,
.contenedor_disponibilidad a.disabled:hover,
.contenedor_disponibilidad a:disabled:hover {
    color: grey !important;
}

.contenedor_disponibilidad .btn-primary {
    color: #fff;
    background-color: #0275d8;
    position: absolute;
    bottom: 0;
}

.contenedor_disponibilidad {
    /* margin-top: 15px; */
    max-width: 1400px !important;
}

.container.contenedor_disponibilidad {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    /* padding-top: 1em; */
    padding-bottom: 1em;
    background: white;
    border-radius: .5em;
    padding-top: 1em;
    margin-top: 1em;
}

.column-style-consulta {
    width: 125px !important;
    padding-right: 0px !important;
}

.input-filtro-consultaOT::placeholder {
    font-weight: 400;
    font-size: 1em;
    color: #818181 !important;
}

.input-filtro-consultaOT:focus {
    -webkit-box-shadow: none;
}

.input-filtro-consultaOT:hover {
    background: #e4e6f2 !important;
    cursor: pointer;
    border-bottom: 2px solid #a4b1ff !important;
}

.columna-filtro-ind::after {
    content: "";
    position: absolute;
    right: 6%;
    top: 67%;
    width: 0;
    height: 0;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.6em solid #939db2;
    clear: both;
    z-index: 2;
    font-size: 14px;
}

input#cluster {
    font-size: .65em;
    padding: 7px 7px 7px;
}

label.label-filter {
    margin-bottom: 0;
    font-size: 0.7em;
    font-weight: bold;
}

#filtro-estatus-substatus,
#filtro-intervencion,
#filtro_fecha_inicio_consulta,
#filtro_fecha_fin_consulta {
    font-size: .65em;
}

.input-filtro-consulta {
    border: 1px solid #dbdbdb !important;
    font-weight: 400;
    font-size: 1em;
    color: #818181 !important;
    transition: all 0.5s ease;
    border-bottom: 1px solid white;
    background: white !important;
    border-radius: 0.5em !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
    padding-right: 1.5em !important;
}

.input-filtro-consulta::placeholder {
    font-weight: 400;
    font-size: 1em;
    color: #818181 !important;
}

.input-filtro-consulta:focus {
    -webkit-box-shadow: none;
}

.input-filtro-consulta:hover {
    background: #e4e6f2 !important;
    cursor: pointer;
    border-bottom: 2px solid #a4b1ff !important;
}

#btn_consultar {
    background-color: #ffffff;
    color: var(--btn-color-buscar) !important;
    border: solid 1px var(--btn-color-buscar) !important;
    padding: .4em 1.5em;
    border-radius: 5px;
    font-size: 0.7em;
    margin-top: 26px;
}

thead#thead_consulta_disponibilidad {
    font-weight: bold;
    border: 1px #ccc;
    font-family: "Montserrat" !important;
}

#tableDisponibilidad thead th {
    position: relative;
    background-color: #b1b1b1;
    color: #fff;
    font-size: 0.8em;
    white-space: nowrap;
    padding: 1em;
    border: none;
    font-weight: normal;
}

#tableDisponibilidad tbody tr td {
    padding: 1em;
    border: none;
}

#tableDisponibilidad_paginate .page-item.active .page-link {
    background-color: var(--btn-color-paginador-tabla) !important;
}

#tableDisponibilidad tbody tr:nth-child(even) {
    background: #f5f5f5;
}

#tableDisponibilidad>tbody>tr>td {
    font-size: .75em !important;
    color: #39455b;
    font-family: 'Montserrat' !important;
    font-size: .8em;
    border-top: 0px solid #eceeef !important;
  }