@media screen and (max-width: 1300px) {
    .titulo-menu {
        position: absolute;
        color: #a2a2a2;
        font-size: .8em;
        font-family: 'Montserrat' !important;
        margin-left: 1em;
    }

    .modal-title-reportesPI {
        font-size: 1em;
    }

    .jstree-anchor {
        font-family: 'Montserrat';
        font-size: .7em !important;
    }

    /* TABLES */
    #reporteSeguimientoTable thead th,
    #reporteCierreTable thead th,
    #reporteAsignadasTable thead th {
        position: relative;
        background-color: #b1b1b1;
        color: #fff;
        font-size: 0.7em;
        white-space: nowrap;
        padding: 1em 0.5em;
        border: none;
        font-weight: normal;
        text-align: center;
    }

    #reporteSeguimientoTable>tbody>tr>td,
    #reporteCierreTable>tbody>tr>td,
    #reporteAsignadasTable>tbody>tr>td {
        color: #39455b;
        font-family: 'Montserrat';
        font-size: .65em;
        border-top: 0px solid #eceeef !important;
        text-align: center;
    }

    .dataTables_info {
        font-size: 0.6em;
        font-family: "Montserrat" !important;
        text-align: left;
        padding-left: 0.5em;
    }

    #reporteAsignadasTable_paginate,
    #reporteSeguimientoTable_paginate,
    #reporteCierreTable_paginate {
        font-size: .8em;
    }

    /* TABLES */

    .input-filtro {
        border: 1px solid #dbdbdb !important;
        font-weight: 400;
        font-size: .6em !important;
        color: #818181 !important;
        transition: all 0.5s ease;
        border-bottom: 1px solid white;
        background: white !important;
        border-radius: 0.5em !important;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 7%), 0 1px 2px 0 rgb(0 0 0 / 5%) !important;
        padding-right: 1.5em;
    }
}