/* FILTROS INSPECTOR INCIDENCIA */
.container-filtros-inspectorincidencia {
    border: none !important;
    z-index: 2;
    position: relative;
    padding-top: 3pt !important;
    padding-bottom: 3pt !important;
    max-width: 1140px;
}

.column-style-inspectorincidencia {
    width: 136px !important;
    padding-right: 0px !important;
}

.columna-filtro-ind::after {
    content: "";
    position: absolute;
    right: 6%;
    top: 67%;
    width: 0;
    height: 0;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.6em solid #939db2;
    clear: both;
    z-index: 2;
    font-size: 14px;
}

label.label-filter {
    margin-bottom: 0;
    font-size: .7em;
    font-weight: bold;
}

.input-filtro-inspectorincidencia {
    border: 1px solid #dbdbdb !important;;
    font-weight: 400;
    font-size: 1em;
    color: #818181 !important;
    transition: all 0.5s ease;
    border-bottom: 1px solid white;
    background: white !important;
    border-radius: .5em !important;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.07),0 1px 2px 0 rgba(0,0,0,.05)!important;
}

.input-filtro-inspectorincidencia::placeholder {
    font-weight: 400;
    font-size: 1em;
    color: #818181 !important;
}

.input-filtro-inspectorincidencia:focus {
    -webkit-box-shadow: none;
}

.input-filtro-inspectorincidencia:hover {
    background: #e4e6f2 !important;
    cursor: pointer;
    border-bottom: 2px solid #a4b1ff !important;
}

i.icono-noseleccion {
    color: #ff9f3b;
    display: inline-block;
}

.div-btn-busqueda {
    /* padding: 0% !important; */
    text-align: right !important;
}

#btn_consultar_incidencias {
    background-color: #ffffff;
    color: #7716fa;
    border: solid 1px #7716fa !important;
    padding: 0.5em 2em;
    border-radius: 5px;
    font-size: 0.7em;
    margin-top: 25px;
}

.btn-sm {
    padding: 0.7em 0.7em;
    /* border-radius: 50% !important; */
    font-size: 0.64rem;
    border: 0px !important;
}

.datepicker .datepicker-switch:hover,   
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover {
    background: #78a7f7;
    color: white;
}


.element-menu-filter {
    position: relative;
}

.element-menu-filter:hover .dropdown-menu {
    display: block;
}
.element-menu-filter:hover .dropdown-menu {
    top: 0;
    left: 100%;
}

#todo_filtro,
#ninguno_filtro {
    width: 45%;
    background: #1266f1;
    color: white;
    margin-top: 0.5em;
    padding: 0;
}
/* 
#todo_filtro,
#ninguno_filtro {
    width: 45%;
    background: #1266f1;
    color: white;
} */

label.form-check-inputfiltro {
    display: flex;
}

.element-menu-filter {
    position: relative;
}

.dropdown-item.item-text-filtro.ng-binding {
    display: contents;
    /* margin-left: 1em; */
}

.dropdown-item {
    padding: 0.25rem 1.5rem !important;
}

.dropdown-item.item-text-filtro.ng-binding {
    display: contents;

}
.form-check-input {
    margin-right: 0.5em;
}

/* FILTROS INSPECTOR INCIDENCIA */

/* CONTAINER INSPECTOR INCIDENCIA */
.contenedor-inspectorIncidencia {
    margin-top: 20px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    max-width: 1115px;
    border-radius: .5em;
    padding: 0px !important;
}

.contenido_color{
    display: inline;
    margin-right: 1.5em;
}
.contenido_color i{
    margin-right: .5em;
}
.contenido_color > small{
    color:#4e5f71;
    font-size: .9em;
}
#colores_estados {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    font-family: 'Montserrat' !important;
    font-size: .8em;
}

#mapaInspectorIncidencia {
    height: 550px;
    width: 100%;
    background-color: gray;
}

/* TABLE INCIDENCIAS */
#tableIncidencia tr td {
    font-size: 0.7em;
    font-family: "Montserrat" !important;
    text-align: center;
}
thead#thead_incidencia tr th {
    font-size: 0.7em;
    padding: 1em 1em 1em;
    text-align: center;
}  
#thead_incidencia .fa {
    font-size: 13px;
    color: gray;
}
thead#thead_incidencia {
    font-weight: bold !important;
    border-top: 4px solid transparent !important;
    border: 1px #ccc;
    font-family: "Montserrat" !important;
}

table.dataTable.no-footer {
    border-bottom: transparent !important;
    margin-top: 0 !important;
}

.table.dataTable {
    border-collapse: collapse !important;
}

table.display.table.table-hover.table-striped.dataTable {
    font-size: small;
}

/* PAGINATION */
.pagination {
    display: block !important;
}
  
.pagination .paginate_button a.page-link {
    color: #828080;
    font-family: "Montserrat";
    background-color: white !important;
    box-shadow: none !important;
}
  
.pagination .paginate_button.active {
    background-color: gray !important;
}
  
.pagination .previous a.page-link {
    color: white !important;
    font-size: 0;
}
  
.pagination .next a.page-link {
    color: white !important;
    font-size: 0;
}
  
.pagination .previous a:after {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f104";
    visibility: visible;
    color: #828080 !important;
    font-size: initial !important;
}
  
.pagination .next a:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f105";
    visibility: visible;
    color: #828080 !important;
    font-size: initial !important;
}
  
.dataTables_wrapper .dataTables_paginate .paginate_button a {
    padding: 1px 1px 1px 1px;
}
  
.pagination .paginate_button > .active {
    border: #000000 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: initial !important;
}
/* PAGINATION */

/* MODAL DETALLE INCIDENCIA */
#headers_tab .nav-link {
    border-top-right-radius: 2rem !important;
    border-bottom-right-radius: 2rem !important;
}
#headers_tab .nav-link.active {
    border-top-right-radius: 2rem !important;
    border-bottom-right-radius: 2rem !important;
    background-color: #2196f3 !important;
    /* box-shadow: 0 0 8px 0 #2196f3; */
    border-bottom: 0 !important;
    color: white !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
      0 1px 5px 0 rgb(0 0 0 / 20%) !important;
    z-index: 1 !important;
}
  
#modalDetalleIncidencia .modal-body {
    padding-left: 0;
}

.container-fluid .incidencia-content {
    padding: 0;
    display: flex;
    /* border-bottom:1px solid #e1e1e1 */
}

.container-text-title-detalle {
    width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

span .text-title-incidencia {
    font-weight: bold;
    font-size: 0.8em;
    color: #303030;
}

span .text-content-incidencia {
    font-size: 0.8em;
    color: #303030;
}
/* MODAL DETALLE INCIDENCIA */

/* TABLE INCIDENCIAS */
/* CONTAINER INSPECTOR INCIDENCIA */