.content-alertas {
    /*margin-top: 1em;*/
}

.cards-alertas {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.header-alertas {
    height: 3em;
    line-height: 3em;
    text-align: right;
}

.icon-exit-header-alertas {
    cursor: pointer;
    font-size: 1.5em;
    margin-right: .2em;
}

.text-primary-alerta {
    font-weight: bold;
    font-size: .7em;
    color: #303030;
}

.text-secundary-alerta {
    font-size: .7em;
    color: #303030;
}

.card-alertas-pendientes {
    margin-top: .7em;
    border: 1px solid #dddddd;
    cursor: pointer;
    line-height: 1.3;
    box-shadow: none;
}

.card-alertas-pendientes:hover {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.card-alertas-pendientes-foot {
    background-color: white;
    padding-top: .0em;
    padding-bottom: .2em;
}

.crop-text-col {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-alertas-seleccion {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.btn-opciones-alerta {
    width: 100%;
}



#pills-historico, #pills-imagenes, #pills-chat, #pills-mapa,
#pills-orden-detenida-alertas, #pills-detalle-detencion-alertas {
    height: 60vh;
    max-height: 60vh;
    overflow: auto;
}

.imagen_chat {
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

div.comentario_movil {
    background-color: #f7f7f9;
    border-radius: 30px;
    border-top-right-radius: 0;
    color: #969696;
    padding: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

div.comentario_web {
    background-color: #f7f7f9;
    border-radius: 30px;
    border-top-left-radius: 0;
    color: #969696;
    padding: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);

}

.title_span {
    color: #676767;
    font-weight: 800 !important;
}

.content_text {
    color: grey;
}


.timeline__group {
    position: relative;
}

.timeline__group:not(:first-of-type) {
    margin-top: 0 !important;
}

.timeline__group {
    padding-top: 1em;
}

.timeline__group {
    padding-top: 40px;
}

.timeline__date {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, .12), 1px 1px 2px 0 rgba(0, 0, 0, .24);
}

.timeline__date {
    min-width: 65px;
    position: absolute;
    left: 0;
    box-sizing: border-box;
    padding: .5rem 1.5rem;
    text-align: center;
    background-color: var(--uiTimelineMainColor);
    color: var(--uiTimelineSecondaryColor);
}

.timeline__date {
    height: 4em !important;
    width: 5em !important;
}

.timeline__date {
    top: 50%;
    margin-top: -35px;
}

.timeline__box {
    position: relative;
}

.timeline__box:not(:last-of-type) {
    margin-bottom: 30px;
}

.timeline__box:before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #53858f;
    position: absolute;
    left: 0;
    z-index: -1;
}

.timeline__box {
    padding-left: 109px;
}

.timeline__box:before {
    top: 50%;
    transform: translateY(-50%);
}

.timeline__box {}

.timeline__box:before {
    top: 90px;
}

.timeline__day {
    font-weight: 700;
    display: block;
}

.timeline__month {
    display: block;
    font-size: .8em;
    text-transform: uppercase;
}

i.fa.fa-pause-circle.pend {
    color: #FFBF00 !important;
}

i.fa.fa-arrow-circle-right.asig {
    color: #7fd223 !important;
}

i.fa.fa-hand-paper-o.deten {
    color: #FF8000 !important;
    /* background: red; */
}

i.fa.fa-check-circle.term {
    color: #63a6e0 !important
}

i.fa.fa-times-circle.cancel {
    color: red !important;
}

.timeline__post {
    padding: .6em 1rem;
    border-radius: 2px;
    border-left: 2px solid #868686;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
    background-color: var(--uiTimelineSecondaryColor);
    background: white;
}

.timeline__content {
    font-family: 'Montserrat' !important;
    font-size: .9em;
}

#mapAlerta {
    height: 650px;
    width: 100%;
    background-color: gray;
}


div#contenido_imagenes {
    overflow-y: scroll;
    /* color:  black; */
}

#categorias_div .content_category .badge {
    position: absolute !important;
    z-index: 1;
    background: #4285f4 !important;
    margin-left: -1em !important;
    font-size: 10px;
    top: -5px;
}

.content_category {
    display: inline;
}

.content_category.col-4 {
    padding-bottom: 1em !important;
    padding-left: 2em !important;
}

.btn_categoria_img {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    font-size: 0.55em !important;
}

.contenedor_img_evidencia {
    position: relative;
    overflow: hidden;
    margin-bottom: 1em;
}

.text_img_evidencia {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 0.8em;
    width: 100% !important;
    height: 50px;
}

.middle_img_evidencia {
    transition: 0.5s ease;
    opacity: 3;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    /* height: auto; */
    height: 50px;
    background-color: rgba(0, 0, 0, 0.1);
}

.btn-blue-grey {
    background-color: #78909c !important;
    color: #fff !important;
}

#table-alertas-pi_length {
    display: none;
}

#table-alertas-pi {
    margin-bottom: 5px !important;
}

.sorting_asc {
    display: none;
}

/* GG */
#table-alertas-pi_filter {
    display: none;
}

.card-body-alertas {
    padding-top: 0;
    padding-bottom: 0;
}

.card-header-principal {
    padding-top: 0;
    padding-bottom: 0;
}

.card-header-alerta-principal {
    height: 3em;
    background-color: #8392A9;
    color: white;
}

.card-body-alerta-principal {
    height: 70vh;
}

.options-alertas {
    text-align: center;
    height: 1em;
    width: auto !important;
    margin: 0.2rem !important;
    margin-top: 0.5rem !important;
    line-height: 1em;
    padding: 10px 10px 20px 10px !important;
}

.options-alertas.active {
    background-color: var(--tab-secundario-color) !important;
    font-weight: bolder;
}

.titlehistorico-alerta {
    font-weight: bold;
    font-size: .7em;
    color: #818181;
}

.content-titlehistorico-alerta {
    font-size: .7em;
    font-weight: bold;
    color: #303030;
}

.icon-cancelar-opcion {
    cursor: pointer;
}

.titulo-alerta-modal {
    font-weight: bold;
    font-size: 1em;
}

.contenedor-titulo-acciones-alerta {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.span-opciones-status-alerta {
    font-weight: bold;
    font-size: 1em;
    color: #818181;
}

.dataTables_scrollHead {
    display: none;
}

.line-time-new:before {
    content: "";
    width: 4px;
    height: 100%;
    background-color: #78A7F7;
    position: absolute;
    top: 0;
    left: 2.5em;
}

.contenedorCamposOpcion {
    margin-bottom: 0rem;
}

.btnAccionCamposOpcion {
    font-family: 'Montserrat' !important;
    font-size: .7em !important;
    margin-top: .5rem;
    padding: .5em 1em;
    float: right;
}

.etiquetaFormOpcion {
    font-family: 'Montserrat' !important;
    font-size: .7em !important;
    margin-bottom: 0rem;
}

.txtFormOpcion {
    font-family: 'Montserrat' !important;
    font-size: .7em !important;
}

.input-group>.form-control.buscadorOT {
    min-height: 1.5rem;
    height: 1.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.btnBuscadorOTAlerta {
	border: solid 1px var(--estandar-color) !important;
	color: var(--estandar-color) !important;
    font-family: 'Montserrat' !important;
    font-size: .7em !important;
    padding: .19em .5em;
    float: right;
}

.titulosTablaAlertasPI {
    font-family: 'Montserrat' !important;
    font-size: .7em !important;
    font-weight: bold;
    color: black;
}

.scrollTablaAlertasPI {
    padding: 3px;
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.cards-lertas {
    margin-right: 5px;
}

.desabilitarCampoOpcionAlerta {
    display: none;
}

#alertaAuditoriaEvidencia .imagen_content_evidencia {
    display: inline-grid;
    max-width: 11em !important;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    max-height: 9em;
}

#alertaAuditoriaEvidencia .imagen_content {
    padding: 0.5em;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    width: 11em;
}

#alertaAuditoriaEvidencia .text_img_evidencia {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 0.8em;
    width: 100% !important;
    height: 50px;
    overflow-wrap: anywhere;
}

#alertaAuditoriaEvidencia .middle_img_evidencia {
    transition: 0.5s ease;
    opacity: 3;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    /* height: auto; */
    height: 50px;
    background-color: rgba(0, 0, 0, 0.1);
}

#alertaAuditoriaEvidencia div#contenido_imagenes {
    overflow-y: scroll;
    /* color:  black; */
}

#alertaAuditoriaEvidencia tfoot {
    background-color: #ebecefa1;
    color: black;
}

#alertaAuditoriaEvidencia img.img_evidencia {
    width: 100%;
    -webkit-transform: rotate(15deg) scale(1.4);
    transform: rotate(15deg) scale(1.4);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

#alertaAuditoriaEvidencia .contenedor_img_evidencia {
    position: relative;
    overflow: hidden;
    height: 130px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    margin-bottom: 0 !important;
}

#alertaAuditoriaEvidencia .content-filters {
    margin: 0 0 1em 0;
    font-size: 0.7em;
    font-family: "Montserrat" !important;
}

#alertaAuditoriaEvidencia .btn-descargar {
    height: 2.5em;
    font-size: 0.8em;
    padding: 0.5em;
    float: right;
    border-radius: 0;
    margin-right: -2.2em;
}


#rechazar.form-check-input[type=radio]:checked:after, #rechazar.form-check-input[type=radio]:after {
    font-family: FontAwesome;
    display: inline-block;
    visibility: visible;
    content: "\f00d";
    color: #8b000070;
    background-color: white;
    border-color: #8b0000 !important;
    padding: 0.1em .3em !important;
    margin-top: 0;
    margin-left: 0;
}

#rechazar.form-check-input[type=radio]:checked:after {
    color: #8b0000 !important;
    padding: 0.1em .3em !important;
}

#aceptar.form-check-input[type=radio]:checked:after, #aceptar.form-check-input[type=radio]:after {
    font-family: FontAwesome;
    display: inline-block;
    visibility: visible;
    content: "\f00c";
    background-color: white;
    border-color: #339a33 !important;
    color: #5cbc5cb3;
    padding: 0.1em .2em !important;
    margin-top: 0;
    margin-left: 0;
}

#aceptar.form-check-input[type=radio]:checked:after {
    color: #339a33 !important;
    padding: 0.1em .2em !important;
}


#rechazar.form-check-input[type=radio] {
    border: 1px solid #8b0000;
}

#aceptar.form-check-input[type=radio] {
    border: 1px solid #339a33;
}

#alertaAuditoriaEvidencia .content-select .form-check-input:focus {
    box-shadow: none !important;
}

#alertaAuditoriaEvidencia .content-select .form-check-input[type=radio] {
    border-radius: 0;
    width: 1.5em;
    height: 1.5em;
    font-size: 1.5em !important;
    border-radius: 50%;
}

#alertaAuditoriaEvidencia .content-select .form-check-input:focus:before, #alertaAuditoriaEvidencia .imagen_content_evidencia .form-check-input:focus:before {
    box-shadow: none;
}

#alertaAuditoriaEvidencia .content-select .form-check-input:active, #alertaAuditoriaEvidencia .imagen_content_evidencia .form-check-input:active {
    filter: none !important;
}

#alertaAuditoriaEvidencia .content-filters .form-check-label {
    padding-top: .5em;
}

#alertaAuditoriaEvidencia .content-total {
    padding-top: 0.5em;
}

#alertaAuditoriaEvidencia .imagen_content_evidencia .form-check-input[type=checkbox] {
    border-radius: 50%;
    border: 1px solid #ccc;
    width: 1.5em;
    height: 1.5em;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

#alertaAuditoriaEvidencia .imagen_content_evidencia .form-check-input[type=checkbox]:focus:after {
    width: 0;
    height: 0;
}

#alertaAuditoriaEvidencia .imagen_content_evidencia .form-check-input[type=checkbox]:checked:after {
    transform: none;
    font-family: FontAwesome;
    display: inline-block;
    visibility: visible;
    content: "\f00c";
    border-color: #339a33 !important;
    color: white;
    border: none;
    margin-top: 0;
    margin-right: .2rem;
}

#alertaAuditoriaEvidencia .imagen_content_evidencia .form-check-input[type=checkbox]:checked {
    background-color: #339a33;
    width: 1.5em;
    height: 1.5em;
    font-size: 1em;
}

#alertaAuditoriaEvidencia .imagen_content_evidencia .form-check-input:hover:before {
    opacity: 1 !important;
    box-shadow: none;
}

#alertaAuditoriaEvidencia .imagen_content_evidencia .form-check {
    float: right;
    padding: 0;
    margin-top: -1.3em;
    margin-right: -1.6em;
}

.rechazada-check {
    border: none;
    margin-top: 0;
    margin-left: .2rem;
    background-color: #8b0000;
}

.rechazada-check::before {
    font-family: FontAwesome;
    display: inline-block;
    visibility: visible;
    content: "\f00d";
    color: white;
    transform: none;
    padding: 0 0.3em;
    opacity: 1 !important;
}

.btn-guardar {
    font-size: 0.7em;
    background-color: #0c56d0;
    color: white;
    font-weight: bold;
    padding: 0.6em 2em;
    border: 0.09rem solid #0c56d0;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
}

.contenedor-not-permiso-atender-alertas {
	height: 50vh;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}

.icon-not-permiso-atender-alertas {
    color: #9586a9;
    padding: 0.5em;
    border-radius: 50%;
}

.text-not-permiso-atender-alertas {
	margin-left: 0.5em;
	font-size: 1em;
	font-weight: normal;
}

#table-alertas-pi_paginate .page-item.active .page-link {
	background-color: var(--btn-color-paginador-tabla) !important;
}

#alertaAuditoriaEvidencia #categorias_div .content_category .badge { 
    position: absolute !important; 
    z-index: 1; 
    background: #4285f4 !important; 
    margin-left: -1em !important; 
    font-size: 10px; 
    top: -5px; 
} 
 
#alertaAuditoriaEvidencia #categorias_div { 
    padding: 0; 
} 
 
#alertaAuditoriaEvidencia .content_category { 
    max-width: 16em; 
    display:  block;
} 
 
#alertaAuditoriaEvidencia .category_full { 
    margin: 0; 
    max-width: 16em !important; 
    margin-left: 4.5em !important; 
} 
 
#alertaAuditoriaEvidencia .tipo_evidencia { 
    padding: 0.5em 0 0 0; 
    text-align: center; 
    font-size: 0.6em; 
    height: 2.3em;
    cursor: pointer; 
    margin-bottom: 0.8em; 
    background-color: #fff; 
    font-weight: bolder; 
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); 
    border-left: 2px solid #4991e1; 
} 
 
#alertaAuditoriaEvidencia .total-imagen-evidencia { 
    width: 2.5em; 
    padding: 0.3em; 
    margin-top: -0.5em; 
    margin-right: -1.5em; 
    font-size: 0.9em; 
    height: 2.5em; 
    border-radius: 25px; 
    color: #fff; 
    background-color: #4991e1; 
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); 
    float: right; 
    border: 2px solid #fff 
} 
 
#alertaAuditoriaEvidencia .label-tipo { 
    width: 80%; 
    display: inline-block; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
} 
 
#alertaAuditoriaEvidencia .tipo-evidencia-selected, 
#alertaAuditoriaEvidencia .tipo_evidencia:hover { 
    background-color: #e4e6f2; 
} 
 
#alertaAuditoriaEvidencia .container-text-content-detalle { 
    width: 95%; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    font-size: 0.65em; 
    padding: 0.5em 
} 
 
#alertaAuditoriaEvidencia .container-text-content-detalle .text-content { 
    margin-left: 0.5em; 
} 
 
#content-evidencia ::-webkit-scrollbar { 
    width: 0.1em; 
} 
 
#alertaAuditoriaEvidencia .content-img { 
    text-align: center; 
    padding: 1em; 
} 
 
#alertaAuditoriaEvidencia .imgFoto { 
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%); 
    cursor: pointer; 
    border-radius: 35px; 
} 
 
#alertaAuditoriaEvidencia .text-external-link { 
    color: #0c56d0 !important; 
    font-weight: bold !important; 
    text-decoration-line: underline; 
    font-size: 0.8em; 
    margin-right: 1em; 
    vertical-align: bottom;
} 
 
#alertaAuditoriaEvidencia .text-external-link:hover { 
    color: #114291; 
    text-decoration: solid; 
    cursor: pointer; 
    text-decoration-line: underline; 
} 

#alertaAuditoriaEvidencia .message-nodata {
    text-align: center;
    font-size: 0.9em;
    padding: 3em;
}