body {
  color: grey;
}
#todo_filtro,
#ninguno_filtro {
  width: 45%;
  background: #1266f1;
  color: white;
  margin-top: 0.5em;
  padding: 0;
}

.columna-filtro-ind::after {
  content: "";
  position: absolute;
  right: 10%;
  top: 40%;
  width: 0;
  height: 0;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.6em solid #939db2;
  clear: both;
  /*z-index: 2;*/
}

.columna-filtro-ind-rep::after {
  content: "";
  position: absolute;
  right: 17px;
  top: 65%;
  width: 0;
  height: 0;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.6em solid #939db2;
  clear: both;
  /*z-index: 2;*/
}

.label-filtro {
  font-size: 0.8em;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  font-weight: bold;
}

.fc-cell-content {
  padding: 0 !important;
}
.fc-toolbar.fc-header-toolbar {
  display: none;
}

.fc-now-indicator {
  position: absolute;
}

div#calendar {
  /* margin-top: 1em; */
}
.content-icons-operario {
  display: contents;
}
.content-tecnico-asignacion {
  padding-top: 0.5em !important;
  background: white;
  position: relative;
}
@media screen and (min-width: 1366px) .numero_empleado_telefono {
  font-size: 0.8em;
}
@media screen and (min-width: 1366px) .icono_operario_accion {
  font-size: 0.8em;
}

.icono_operario_accion {
  font-size: 0.8em;
}

@media screen and (min-width: 1366px) .nombre_tecnico {
  font-size: 0.8em !important;
}

.nombre_tecnico {
  font-size: 0.8em !important;
  padding-left: 0;
  margin-bottom: 0;
  font-weight: bold;
  color: black;
}

.numero_empleado_telefono {
  font-size: 0.7em;
  padding-left: 0;
  color: #aeaeae;
  font-weight: bold;
}

.tooltip-icon-des .tooltiptext-icon-des {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.7em;
  font-family: "Montserrat";
}

.icono_operario_accion,
.icono_materiales_accion {
  color: #9ca4b3;
  margin-right: 0.5em !important;
  cursor: pointer;
}

.tooltip-icon-des {
  display: inherit;
}
ul.dropdown-menu {
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  -webkit-box-shadow: 0 1px 5px 0 rgb(0 0 0 / 16%);
  /* z-index: 200 !important; */
}
.element-menu-filter:hover > .dropdown-menu {
  top: 0;
  left: 100%;
}
.form-check-input {
  margin-right: 0.5em;
}
.dropdown-item.item-text-filtro {
  display: contents;
}
label.form-check-inputfiltro {
  display: flex;
}
.form-check-input {
  margin: 0;
  display: inline-block;
  margin-right: 0.5em;
}

.element-menu-filter {
  position: relative;
  cursor: pointer !important;
}

.element-menu-filter:hover > .dropdown-menu {
  display: block;
}
.element-menu-filter:hover > .dropdown-menu {
  top: 0;
  left: 100%;
}
label.dropdown-item.form-check-inputfiltro {
  margin-bottom: 0;
  cursor: pointer !important;
}
#table-ot-pendientes .ot-pendiente-event {
  background: transparent !important;
  border: 0px solid #dddddd;
  /* box-shadow: 0 0 5px 0 rgb(135 142 224 / 30%); */
  box-shadow: 0px 0px 5px #878EE04D;
  /* box-shadow: 0px 0px 5px #878EE04D; */
  /* border-left: 4px solid #773f85; */
  margin-bottom: .7em;
}
.ot-pendiente-event .icono-ot-pendeinte:hover {
  box-shadow: 1px 2px 1px 1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
}
.ot-pendiente-event .icono-ot-pendeinte {
  /*box-shadow: 1px 2px 1px 1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border: 0.5px solid #efefef;
    **/
  font-size: 0.8em !important;
  margin-right: 0.5em;
  cursor: pointer;
  border-radius: 50%;
  color: #1266f1;
  padding: 0.3em 0.4em;
  background: #efefef;
  color: #5cc8e5;
}
.footer-otpendiente .content-footer {
  display: contents;
}
.title-footerotpend {
  font-size: 0.8em;
}
.title-paquete,
.title-paquete,
.title-ciudad {
  font-size: 0.8em;
  color: #2c2c2c;
}
.footer-otpendiente {
  text-align: end;
  border-top: 1px solid #dbdbdb;
  /* opacity: 0.3; */
  padding: 0.3em 0 0.2em 0em;
  margin-left: .7em;
  margin-right: .7em;
  /* background:#f3f3f3; */
}

.header-otpendeinte {
  padding: 0.2em 0.5em;
  padding-top: 0.3em;
}

#table-ot-pendientes_length {
  display: none;
}

#table-ot-pendientes_filter {
  display: none;
}

.table-ot-pendientes_paginate {
  display: contents;
}

.content-ciudadotpend,
.content-paqueteotpend,
.content-telefonootpend {
  font-size: 0.8em;
  /* color: #000000; */
  color: #2c2c2c;
}
b.icono-telefonos.fa.fa-phone {
  font-size: 0.9em;
}
h5.title-otpendeinte {
  display: inline;
  font-size: 1em;
  font-weight: bold;
  color: #003443;
  color: #8e8e8e;
}

div#calendar {
  /* box-shadow: 0 1px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); */
  /* -webkit-box-shadow: 0 1px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); */
}

.ot-pendiente-event:hover {
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  -webkit-box-shadow: 0 1px 5px 0 rgb(0 0 0 / 16%),
    0 2px 10px 0 rgb(0 0 0 / 12%);
  cursor: grab;
}

.content-footerotpend {
  font-size: 0.7em;
}

.spinner-border.spinner-cargando-info.ng-scope {
  width: 1em;
  height: 1em;
}

.input-filtro-despacho::placeholder {
  font-weight: 400;
  font-size: 1em;
  color: #818181 !important;
}

.input-filtro-despacho:focus {
  border-color: white !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input-filtro-reporte {
  border: 1px solid #dbdbdb !important;;
  font-weight: 400;
  font-size: 1em;
  color: #818181 !important;
  transition: all 0.5s ease;
  border-bottom: 1px solid white;
  background: white !important;
  border-radius: .5em !important;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.07),0 1px 2px 0 rgba(0,0,0,.05)!important;
}

.input-filtro-reporte::placeholder {
  font-weight: 400;
  font-size: 1em;
  color: #818181 !important;
}

.label-filter{
  font-size: 0.8em;
  margin: 0 !important;
}

.input-filtro-reporte:focus {
  -webkit-box-shadow: none;
}

.input-filtro-reporte:hover {
  background: #e4e6f2 !important;
  cursor: pointer;
  border-bottom: 2px solid #a4b1ff !important;
}

#buscar-otsasignadas {
  background-color: #ffffff;
  color: #7716fa;
  border: solid 1px #7716fa;
  padding: 0.3em 2em;
  border-radius: 5px;
  font-size: 0.7em;
}

.container-filtros-despacho {
  /* padding-bottom: .2em; */
  border: none !important;
  /* margin: .3em 0; */
  /* box-shadow: 0px 0px 10px #878EE04D; */
  box-shadow: 0 0 5px 0 rgb(135 142 224 / 30%);
  /*z-index: 2;*/
  position: relative;
  /* box-shadow: 0px 0px 10px #878EE04D; */
  padding-left: 2em;
}

.fc-ltr .fc-time-area .fc-chrono th {
  background: #e4e6f2;
  font-size: 0.9em;
  font-weight: 200;
}

.fc-timeline .fc-head .fc-cell-content {
  background: #e4e6f2;
  font-size: 0.9em;
  font-weight: 200;
}

.content-seach-group {
  height: 1em;
  /* display: table; */
  display: inline-flex;
}
.col-9.col-otsasignadas {
  padding: 0;
}

.col-otspendientes {
  padding-right: 0;
  padding-left: 0;
}
.container-busquedaotpendientes {
  height: 1.6rem;
  border-bottom: 1px solid #ddd;
  background: #e4e6f2;
  padding-left: 0.3em;
}

.content-seach-group span {
  height: 1.5em !important;
  min-height: 1.5em !important;
}

span#buscar-btn-otpend {
  /* display: flex; */
  color: #888888;
  background: white;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  border: 1px solid #e2e2e2;
}

.input-filtro-despacho {
  border: none;
  font-weight: 400;
  font-size: 1em;
  color: #818181 !important;
  transition: all 0.5s ease;
  border-bottom: 1px solid white;
  background: white !important;
}
.input-filtro-despacho:hover {
  background: #e4e6f2 !important;
  cursor: pointer;
  border-bottom: 2px solid #a4b1ff !important;
}

#table-ot-pendientes {
  margin-top: 0 !important;
  padding: .5em;
}
#table-ot-pendientes thead {
  display: none;
}

span#buscar-operario {
  color: #888888;
  position: absolute;
  right: 0.8em;
  top: 0.4em;
  /* background:red; */
  font-size: 0.8em;
}

.buscar-input-otpend {
  height: 1.5em !important;
  min-height: 1.5em !important;
  padding: 0 !important;
  padding-left: 1em !important;
  border-bottom-left-radius: 1em !important;
  border-top-left-radius: 1em !important;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  border: 1px solid #e2e2e2;
  border-right: none;
}

.buscar-input-operario {
  height: 1.5em !important;
  min-height: 1.5em !important;
  padding: 0 !important;

  padding-left: 1em !important;
  border-radius: 1em !important;
  border: 1px solid #e2e2e2;
}
.columna-filtro-ind {
    margin-right: 0;
    margin-right: 0;
    padding: 0;
    /* margin-top: 1em; */
}

#table-ot-pendientes_wrapper li.paginate_button {
  text-align: center;
}

#table-ot-pendientes_wrapper li.paginate_button a {
  padding: 0.2em !important;
  min-width: 2em;
  font-size: 0.8em;
  /* font-weight:bold; */
  color: #727272;
  font-size: 0.7em;
}
#table-ot-pendientes_wrapper li.paginate_button.active a {
  background: transparent !important;
  color: #7716fa;
  font-weight: bold;
}

#table-ot-pendientes_wrapper li.paginate_button.active {
  min-width: 0.5em !important;
  z-index: 1;
}

#table-ot-pendientes_wrapper .paginate_button.page-item a::after,
#table-ot-pendientes_wrapper .paginate_button.page-item a::before,
#table-ot-pendientes_wrapper .dataTables_length,
#table-ot-pendientes_wrapper .dataTables_filter {
  display: none !important;
}

.icono_operario_accion {
  font-size: 0.7em !important;
  font-weight: 600;
  color: #b4b4b4;
}

.icon-content-operario {
  display: contents;
  display: flex;
  margin-bottom: 0.3em;
}
.icon-content-operario:first-child {
  /* margin-left: .6em !important; */
}
.imagen_operario_foto {
  width: 2.6em;
  height: 2.6em;
  cursor: pointer;
  border-radius: 50%;
  margin-bottom: 0.2em !important;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%),
    0 2px 10px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.container-card {
  margin-top: 10px;
  margin-bottom: 15px;
}

#modalFotoUsuario {
  font-size: 12px;
}

#modalFotoUsuario .modal-body {
  padding: 0px !important;
}

#full_name {
  font-size: 16px;
  color: #000;
}

#img_emp {
  border-radius: 15px 15px 0px 0px;
}

.conteo-content-ots {
  position: absolute;
  right: 0.6em;
  font-weight: bold;
  font-size: 0.9em;
  width: 1.5em;
  height: 1.5em;
  bottom: 0;
  text-align: center;
}

ul.wall .red.accent-3 {
  background-color: #e12121 !important;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%),
    0 2px 10px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

ul.wall li .badge-alerta {
  position: relative;
  padding: 0.1em 0.4em;
  right: 1em;
  top: -9px;
  z-index: 15;
  font-size: 0.7em;
}

ul.wall li:last-child {
  margin-right: 1em;
}
ul.wall {
  /* align-items: flex-start; */
  /* right: 25%; */
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 0;
  z-index: 10;
  border-radius: 4em;
}

ul.wall li {
  margin-left: 3em !important;
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 0 .8em .8em 0;
  color: #909090;
  cursor: pointer;
  height: 2em;
  width: 2.5em;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%),
    0 2px 10px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  margin-top: 0.3em;
  background: #fdfdfe;
  text-overflow: ellipsis;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

ul.wall li:hover {
  width: 10em;
  /* background: rgb(242 242 242) !important; */
}
ul.wall li:hover .icon-alerta-ind {
  position: absolute;
  left: 10%;
}
ul.wall li:hover .text-tipo-alerta-hide {
  display: inline-block;
  margin-left: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-tipo-alerta-hide {
  display: none;
}
.icon-alerta-ind {
  position: absolute;
  left: 30%;
}
.form-group-tecnico.form-group {
  border-bottom: 0.2em solid #ececec;
  font-weight: bold;
  color: #282828;
}

#table-ots-terminadas thead {
}
.descripcion-td-termin {
  font-size: 0.8em;
  color: #4f4f4f;
  margin-bottom: 0;
}
th.th-head-terminadas {
  font-weight: bold;
  border-top: 0;
  border-bottom: 0.2em solid #c9c9c9 !important ;
}

.container-fluid.vehiculo-content {
  padding: 0;
  display: flex;
  /* border-bottom:1px solid #e1e1e1 */
}
span.text-tile-vehiculo {
  font-weight: bold;
  font-size: 0.8em;
  color: #303030;
}
span.text-content-vehiculo {
  /* font-weight: bold; */

  font-size: 0.8em;

  color: #303030;
}
h5.title-imgen-vehiculo {
  text-align: center;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1em;
}
.container-text-title {
  width: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-text-content {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-text-title-detalle {
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-text-content-detalle {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-imagen-vehiculo:first-child {
  margin-bottom: 1em;
}
.container-imagen-vehiculo {
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.table-materiales th {
  border-bottom: none !important;
  background: #f4f4f4;
  font-weight: bold;
  color: #585858;
}

.asignacionmodal-content {
  padding: 0;
  display: flex;
  /* border-bottom: 1px solid #e1e1e1; */
}

.container-text-title-ot {
  width: 20%;
}
.container-text-title-ot {
  font-size: 0.9em;
  font-weight: bold;
}

span.text-content-asignacionmodal.ng-binding {
  font-size: 1em;
  font-weight: bold;
  color: #2c2c2c;
}

.evento-ot-asignada {
  border-radius: 0.2em;
  background-color: #fff;
  /* padding-top: 1em !important; */
  /* padding-bottom: 1em !important; */
  /* margin-top: 3px !important; */
  border: 1px solid #dddddd;
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
  box-shadow: 0 0 5px 0 rgb(135 142 224 / 30%);
}
.evento-ot-asignada:hover {
  width: fit-content;
  /* display:block; */
  z-index: 12;
  /* width: -webkit-fill-available; */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%),
    0 2px 10px 0 rgb(0 0 0 / 10%);
}

.orden-title {
  font-size: 0.7em;
  font-weight: bold;
}
.orden-content {
  font-size: 0.9em;
  font-weight: normal;
}

.telefono-asignada {
  margin-bottom: 0 !important;
  font-size: 0.8em;
  /* font-weight: bold; */
  color: #5a5a5a;
  /* margin-left:1em; */
}
.cliente-asignada {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.1em;
  color: black;
  display: inline;
}
.folioorden-asignada {
  margin-left: 1em;
}

.col-12.boder-top-asingada {
  border-top: 0.1em solid #e5e5e5;
}
.content-icons-asignada {
  text-align: end;
}

.evento-ot-asignada {
  border: none;
}

.fc-cell-text {
  margin-bottom: 1em;
}

.container-envio-mensaje {
  width: 100%;
  display: flex;
}

.textarea-comentario {
  margin-right: 1.5rem;
  padding: 0 1.5rem;
  color: #9e9e9e;
  border-bottom: 0;
  border-radius: 5px;
  background-color: #eceff1;
  border: none;
}
.input-enviar-comentario {
  border: none;
  background: #612aa1;
  color: white;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%) !important;
}
.input-enviar-comentario::placeholder {
  font-size: 0.7em !important;
}
img.img-comentarios {
  width: 3em;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%),
    0 2px 4px -1px rgb(0 0 0 / 30%);
  border-radius: 50%;
  margin-right: 1em;
}
p.top-title-comentario {
  margin-bottom: 0;
  font-size: 1em;
}
.bottom-title-comentario {
  margin-bottom: 0;
  font-size: 0.8em;
}
.modal-body.modal-body-comentarios {
  border: none !important;
}

.modal-body.modal-body-comentarios {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 380px);
  padding: 1rem;
  background: url(../../../img/plantainterna/despacho/chat-bg.jpg);
}
.fc-scroller-canvas {
}

.ul-elementos-nav .nav-item {
  /* border-top:0 !important; */
  /* border-bottom:0 !important; */
}

.fc-scroller-canvas {
  background: #f1f2f2;
}

.input-filtro-despacho {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#buscar-otsasignadas {
  margin-top: 0.7em;
}

.icon-menu-tecnicosdisp {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 0.3em;
  margin-right: 0.5em;
  font-weight: bold !important;
  color: #7716fa;
  cursor: pointer;
}

.intervencion_asignada {
  -webkit-border-radius: 0.125rem;

  border-radius: 1em;

  padding: 0.2em 0.5em;
}
.content-text-otasignada:first-child {
  border-bottom: 0.1rem solid #dfdfdf;
  padding-bottom: 0.2em !important;
  margin-bottom: 0.2em;
}
.content-text-otasignada {
  /* margin-bottom:.2em; */
}

.izquierda-icon {
  /* display: contents; */
  width: 2em;
  align-items: center;
  text-align: center;
  display: inline-flex;
}
.icon-tipoot-operacion {
  margin: 0 auto;
}
.icon-otasginada {
  margin: 0 auto;
}
.intervencion_asignada {
  margin: 0 auto;
  /* -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%); */
  /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%); */
  margin-bottom: 0.2em;
}
.intervencion_asignada:hover {
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%),
    0 2px 10px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.icon-otasginada:hover {
  box-shadow: 1px 2px 1px 1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%) !important;
}
.icon-otasginada {
  display: inline;
  font-size: 0.8em !important;
  cursor: pointer;
  border-radius: 50%;
  color: #5cc8e5;
  padding: 0.3em 0.4em;
  border: 0.5px solid #eaeaea;
  background: #efefef;
}


.content-top-element {
  display: inline-block;
}
h5.title-nombrecliente {
  margin-bottom: 0;
  font-size: 1.1em;
  font-weight: bold;
  display: inline;
  color: black;
}
.title-statusot-pendiente {
  display: inline-block;
  font-size: 0.8em;
  position: absolute;
  right: 0;
  margin-right: 0.4em;
  font-weight: bold;
  background: white;
  z-index: 2;
}
.positiontres {
  display: flex;
}
.content-posiciontres:first-child {
  margin-right: 1em;
}
.telefono-icon-pendiente {
  font-size: 0.9em;
  color: #7925f7;
  font-weight: bold;
}
.telefono-text-otpendiente {
  font-size: 0.9em;
  color: #7925f7;
}

.text-otpendiente-tres {
  display: inline;
  font-size: 0.8em;
  color: #a2a2a2;
}

.checkbox-confirmacion {
  height: 0;
  width: 0;
  visibility: hidden;
}

.checkbox-confirmacion-label {
  cursor: pointer;
  /* text-indent: -2em; */
  color: transparent;
  width: 2.7em;
  height: 0.9em;
  background: #c7c7c7;
  border-radius: 100px;
  position: relative;
  margin-bottom: 0;
}

.checkbox-confirmacion-label:after {
  content: "";
  position: absolute;
  top: 0.1em;
  right: -1e;
  left: 0.1em;
  width: 0.7em;
  height: 0.7em;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.checkbox-confirmacion:checked + label {
  background: #5bc8e5;
}

.checkbox-confirmacion:checked + label:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}

.checkbox-confirmacion-label:active:after {
  width: 2em;
}

.switchpendiente {
  position: absolute;
  right: 2em;
  top: .4em;
  /* margin-right: 0.3em; */
}

#table-ot-pendientes_wrapper {
  /* overflow-x:hidden; */
}
#table-ot-pendientes_wrapper::-webkit-scrollbar {
  width: 0.3em;
}

.intervencino-elemn {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: .9em;
  /* position: absolute; */
  left: 0;
  /* margin-left:1em; */
  width: 23%;
  text-align: initial;
}
.content-iconos {
    display: inline-block;
    width: 75%;
}
.content-top-element.bars-content {
  width: 55%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 0.1em;
}
.top-title-ot {
  display: flex;
}

.posiciondos {
  display: flex;
}
.content-dos-element {
  width: 80%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title-statusot-pendiente {
  width: 20%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 1em;
  /* border: 1px solid red; */
  text-align: center;
}

#colores-ots {
  /* display:inline; */
  background-color: #ffffff;
  color: #7716fa;
  border: solid 1px #7716fa;
  padding: 0.3em 2em;
  border-radius: 5px;
  font-size: 0.7em;
}
#calendar-next-back {
  display: inline;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  /* border-radius: .5em; */
  padding: 0.3em 0.1em 0.3em 0.5em;
  width: 7em;
  border-radius: 5px;
  float: right;
  color: #818181 !important;
  font-weight: bold;
  background: white;
}
.paleta-color-despacho {
  color: #7c7c7c;
  display: inline;
  float: right;
  margin-right: 1em;
  margin-top: 0.7em;
  cursor: pointer;
  transition: all 0.5s ease;
  text-shadow: -4px 1px 10px rgba(14, 51, 33, 0.28);
}
.paleta-color-despacho:hover {
  color: #7716fa;
}

.search-parent-buscarot {
  /* position: absolute; */
  margin-top: 0.2em;
  /* display: flex; */
}
#modalIconografiaDespacho {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
#modalIconografiaDespacho .modal-content {
  border-radius: 0;
}
#modalIconografiaDespacho .modal-dialog.modal-top {
  top: 0;
  margin: 0;
  width: 100%;
  min-width: 100%;
}

h5.title-paleta-colores {
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

.color-badge-paleta {
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%),
    0 2px 10px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  width: 1.5em;
  height: 1.5em;
}
.col-croptext {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.backdropFix {
  z-index: -1;
}

.text-confirmaot {
  text-align: center;
}
.text-desconfirmaot {
  text-align: center;
}
.ptext-confirma,
.ptext-desconfirmaconfirma {
  margin-bottom: 0;
  display: contents;
}
.ptext-confirma {
  font-weight: bold;
  color: #7716fa;
  display: contents;
}
.ptext-desconfirma {
  font-weight: bold;
  color: #7716fa;
  display: contents;
}

.fc-now-indicator {
  border: 0 solid #ff9191;
}

.card-historico.card.text-center {
  overflow: hidden;
  margin: 0.5rem 0 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  box-shadow: none;
  /* box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%); */
}
.card-historico.card.text-center:hover {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%) !important;
}
.circle-statushistorico {
  font-size: 0.7em;
  line-height: 2em !important;
  text-align: center;
  color: #fff;
  background-color: #999;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  border-radius: 50%;
  /* box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%); */
}

.footer-card-historico {
  font-size: 0.8em;
  margin-bottom: 0;
}

.circle-statushistorico {
  position: absolute;
  right: 0;
  margin-right: 1em;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}

.card-historico .card-footer {
  padding: 0.2em;
}

.card-historico .card-body {
  text-align: left;
  padding: 0.5em 0.5em;
}
.titlehistorico {
  font-weight: bold;
  font-size: 0.8em;
  color: #818181;
}
span.content-titlehistorico.ng-binding {
  font-size: 0.8em;
  font-weight: bold;
  color: #303030;
}
.card-historico .card-header {
  color: black;
  font-weight: bold;
}

.pendiente-historico {
  background-color: #ffd453 !important;
}

.asignacion-historico {
  background-color: #7ad119 !important;
}
.detencion-historico {
  background-color: #ff9e3c !important;
}
.terminar-historico {
  background-color: #63a6e0 !important;
}
.cancelado-historico {
  background-color: #ff4b4b !important;
}

.container-mensajes-parent .chat-content-area .chat-area {
  position: relative;
  overflow: hidden;
  padding: 1rem;
}
.container-mensajes-parent .chats {
  padding: 0;
}

.chat-area .chats .chat.chat-right .chat-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.chat-area .chats .chat .chat-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.chat-area .chats .chat.chat-right .chat-body .chat-text {
  flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
}

.chat-area .chats .chat .chat-body .chat-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1rem 1rem;
}

.chat-area .chats .chat.chat-right .chat-body .chat-text p {
  color: #fff;
  background-color: #2196f3;
}

.chat-area .chats .chat .chat-body .chat-text p {
  max-width: 400px;
  padding: 0.5rem 1rem;
  color: #757575;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 14%);
}
.chat-area .chats .chat .chat-body .chat-text:first-child:before {
  box-sizing: border-box;
  width: 0;
  height: 0;
  margin-top: 10px;
  content: "";
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 12px 18px;
  -ms-transform-origin: 12px 18px;
  transform-origin: 12px 18px;
  border: 7px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  box-shadow: -2px 3px 4px -3px rgb(0 0 0 / 40%);
}
.chat-area .chats .chat.chat-right .chat-body .chat-text:first-child:before {
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 3px -5px;
  -ms-transform-origin: 3px -5px;
  transform-origin: 3px -5px;
  border-top-color: #2196f3 !important;
  border-right-color: #2196f3 !important;
  border-bottom-color: transparent;
  border-left-color: transparent;
  box-shadow: 2px -2px 4px -3px rgb(0 0 0 / 40%);
}

.chat-area .chats .chat.chat-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.chat-area .chats .chat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem 1rem;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.img-comentarios-chat {
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%),
    0 2px 4px -1px rgb(0 0 0 / 30%);
  border-radius: 50%;
  width: 2.5em !important;
  height: 2.5em !important;
  vertical-align: middle;
  text-align: center;
  line-height: 2.5em !important;
  color: white;
}
.img-comentarios-chat.android-mensaje {
  background-color: #7ad119 !important;
}
.img-comentarios-chat.web-mensaje {
  background-color: #63a6e0 !important;
}
.chat-fotter {
  display: flex;
}
.input-mensaje-chat {
  margin-right: 1.5rem;
  padding: 0 1.5rem;
  color: #9e9e9e;
  border-bottom: 0;
  border-radius: 5px;
  border: none;
  background-color: #eceff1;
  height: 3.3em;
  margin-left: 52%;
}
.input-mensaje-chat::placeholder {
  font-size: 1.1em;
}
#v-tabs-tab-detalle-ot .nav-link {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
#v-tabs-tab-detalle-ot .nav-link.active {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: #2196f3;
  /* box-shadow: 0 0 8px 0 #2196f3; */
  border-bottom: 0;
  color: white !important;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  z-index: 1;
}

#modalDetalleOT .modal-body {
  padding-left: 0;
}

.container.container-accion {
  width: 60%;
}
#modalRegistrosLocalizados .modal-dialog.modal-xl {
  min-height: 50%;
  max-height: 50%;
  height: 50%;
}
.text-fecha-comentario {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 0.7em;
}

.detalle-cotizacion-icon-asignada:hover {
  box-shadow: 1px 2px 1px 1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
}
.detalle-cotizacion-icon-asignada {
  /*box-shadow: 1px 2px 1px 1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);**/
  font-size: 0.8em !important;
  cursor: pointer;
  color: #2c77d1;
  border: 0.5px solid #efefef;
  text-align: center;
  background: #efefef;
  border-radius: 50%;
  color: #1266f1;
  padding: 0.3em 0.6em;
  margin: 0 auto;
}

.detalle-cotizacion-icon {
  /*box-shadow: 1px 2px 1px 1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);**/
  font-size: 0.8em !important;
  margin-right: 0.5em;
  cursor: pointer;
  border-radius: 50%;
  color: #2c77d1;
  padding: 0.3em 0.3em;
  border: 0.5px solid #efefef;
  width: 1.7em;
  text-align: center;
  background: #efefef;
}
.detalle-cotizacion-icon:hover {
  box-shadow: 1px 2px 1px 1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
}

.detalle-cot-basico {
  padding: 0;
  display: flex;
}
.container-title-detallecot {
  width: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-text-detallecot {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.titulodetallecotbasico {
  font-weight: bold;
  font-size: 0.8em;
  color: #303030;
}

.contentdetallecotbasico {
  font-size: 0.8em;
  color: #545454;
  padding-bottom: 0;
  margin-bottom: 0;
  display: contents;
}
.header-title-cotiz {
  margin-bottom: 0;
  font-weight: bold;
  color: black;
}

.divide-cotizacion {
  border-top: 0.1em solid #dbdbdb;
  margin: 0.5em 0;
}
.container-direcciones-elemento {
  background: #ffffff;
  position: absolute;
  width: 45%;
  top: 0px;
  left: 0%;
  height: 100%;
  z-index: 10;
  overflow-y: scroll;
  overflow-x: hidden;
  /* padding: 0; */
  /* box-shadow: -6px 0px 15px 1px #e9e9e9; */
}
.modal-body-detallecot {
  display: grid;
}

span.cerrarnoticias {
  position: absolute;
  right: 0;
  top: 0.2em;
  color: #848484;
  font-weight: bold;
  font-size: 1.3em;
  /* text-decoration: underline; */
  cursor: pointer;
  z-index: 1;
  margin-top: 0.3em;
  margin-right: 0.2em;
}
.detalle-text-parent-basico {
  padding: 0;
  display: flex;
}
.container-title-generalcot {
  width: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-text-generalcot {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.titulogeneralcotbasico {
  font-weight: bold;
  font-size: 0.8em;
  color: #303030;
}
.contentgeneralcotbasico {
  font-size: 0.8em;
  color: #303030;
  padding-bottom: 0;
  margin-bottom: 0;
}
.tab-content-direccion {
  padding: 1em;
}

.table-productos-cotizacion thead th {
  padding: 0.3em 0.5em;
  border-bottom: 0;
  background: #f7f7f7;
  font-weight: bold;
  color: #9d9d9d;
}
.table-productos-cotizacion tbody th,
.table-productos-cotizacion tbody td {
  padding: 0.3em 0.5em;
  border-bottom: 0.1px solid #e7e7e7;
  font-size: 0.9em;
  color: #303030;
}
.barra-color-tecnico {
  position: absolute;
  width: 4px;
  height: 80%;
  display: inline;
  right: 0;
  margin-right: 0.3em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  z-index: 1;
}

.text-otpendiente-tres-title {
  display: inline;
  font-size: 0.9em;
  color: #939db2;
  font-weight: bold;
  color: black;
}

.text-repartidor-noencontrado {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.7em;
  font-weight: 500;
  color: #ff8935;
  font-weight: bold;
}

.total-content-prod {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
  font-weight: 500;
  color: #0081e8;
  font-weight: bold;
}
.total-title-prod {
  font-size: 1em;
  /* color: #2196f3; */
  font-size: 1em !important;
  color: #303030 !important;
}

.col-chat-fotter {
  width: 70%;
}

.input-comentario-ot {
  width: 120% !important;
}

.btn-enviar-comentario-ot {
  height: 41px;
    font-size: 1em;
    /* color: #2196f3; */
    font-size: 1em !important;
    color: #303030 !important;
}

.dot-dependencia  {
    position: absolute;
    color: #828282;
}
.direccionactividad  {
    position: absolute !important;
    color: #ababab;
    width: 10px !important;
    font-size: .7em;
}

.icon-color-despacho {
  color: #7c7c7c;
  display: inline;
  float: right;
  margin-right: 1em;
  margin-top: 0.7em;
  cursor: pointer;
  transition: all 0.5s ease;
  text-shadow: -4px 1px 10px rgba(14, 51, 33, 0.28);
}
.map-color-despacho:hover {
  color: #ffab00;
}

.reporte-color-despacho:hover {
  color: #ee4f97;
}

.content-tecnicos{
    border: 1px solid rgba(0,0,0,.125);
    padding: 0;
    border-radius: .5em;
    height: 500px;
    /*box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);*/
}

.title-tecnicos {
    background-color: #f7f7f9; 
    padding: 10px;
}

.content-tecnico{
    margin: 2px;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #e4e2e2;
}

.search-tecnico{
    border: 1px solid #e4e2e2;
    border-radius: 0px;
}

.search-tecnico.form-control:focus{
    border-color: #e4e2e2 !important;
    -webkit-box-shadow: none !important;
    box-shadow:none;
    border: 1px solid #dad7d7;
}

.content-list-tecnicos{
    overflow-y: auto;
    overflow-x: hidden;
    height: 420px;
}

.content-tecnico:hover{
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}


.selected-tecnico{
    box-shadow: 3px 3px 2px 3px rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    background: #f7f7f9;
}

#modalVistaMapa .modal-xl, #modalReporte .modal-xl {
    max-width: 97%;
}

#modalVistaMapa  .container{
    max-width: 100%;
}

table#table-alertas-pi {
    padding-right: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
}

.content-iconos-ot-pendiente {
    display: inline-block;
    background: #EFEFEF !important;
    border-radius: 50%;
    
    height: 1.3em;   
    width: 1.3em;
    text-align: center;
}
.iconos-ot-pendiente{ 
    vertical-align: middle;
    max-height: 1em;
    max-width: 1em;
}



/* The container-checkbox-cus */
.container-checkbox-cus {
  /* display: block; */
  /* position: relative; */
  /* padding-left: 35px; */
  /* margin-bottom: 12px; */
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox-cus input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmarkcust {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.1rem;
  width: 1.1rem;
  background-color: #ffffff;
  border:2px solid #9d9ea2;
  border-radius:.1em;
}

/* On mouse-over, add a grey background color */
.container-checkbox-cus:hover input ~ .checkmarkcust {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox-cus input:checked ~ .checkmarkcust {
  background-color: #ffffff;
  border:2px solid #68a3f2;

}

/* Create the checkmarkcust/indicator (hidden when not checked) */
.checkmarkcust:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmarkcust when checked */
.container-checkbox-cus input:checked ~ .checkmarkcust:after {
  display: block;
}

/* Style the checkmarkcust/indicator */
.container-checkbox-cus .checkmarkcust:after {
  left: .3rem;
  top: 0;
  width: .3rem;
  height: .8rem;
  border: solid #68a3f2;
  border-width: 0 .2rem .2rem 0;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}


.fc-event-noasignacion {
    position: relative;
    display: block;
    font-size: .85em;
    line-height: 1.3;
    border-radius: 3px;
    border: 1px solid #3a87ad;
    font-weight: 400;
    cursor: not-allowed !important;
}


b.text-not-permiso {
    font-weight: 100;
    font-size: .8em;
}

#fecha-calendarizado, #fecha-reagendamiento {
  background-color: #ffffff;
}
#buscarReporte {
  background-color: #ffffff;
  color: #7716fa;
  border: solid 1px #7716fa;
  padding: 0.3em 2em;
  border-radius: 5px;
  font-size: 0.7em;
  margin-top: 2.4em;
}

.input-box{
  padding-left: 0;

}

.contenedor-table {
  margin-top: 20px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  border-radius: .5em;
  padding: 0px !important;
  font-family: "Montserrat" !important;
}

table.dataTable.no-footer{
  border-bottom: transparent !important;
  margin-top: 0 !important;
}

#head_table{
  font-size: 0.6em !important;
  white-space: nowrap;
  text-align: center;
}

#head_table tr th{
 padding: 1em;
 font-weight: bold !important; 
}

#table-reporte tr td {
  font-size: 0.7em;
  padding: 1em 1em 1em;
  text-align: center;
}

.pagination .paginate_button a.page-link {
  color: #828080;
  font-family: "Montserrat";
  background-color: white !important;
  box-shadow: none !important;
}

.pagination .previous a.page-link {
  color: white !important;
  font-size: 0;
}

.pagination .next a.page-link {
  color: white !important;
  font-size: 0;
}

.pagination .previous a:after {
  font-family: FontAwesome;
  display: inline-block;
  content: "\f104";
  visibility: visible;
  color: #828080 !important;
  font-size: initial !important;
}

.pagination .next a:before {
  font-family: FontAwesome;
  display: inline-block;
  content: "\f105";
  visibility: visible;
  color: #828080 !important;
  font-size: initial !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button a {
  padding: 1px 1px 1px 1px;
}

.pagination .paginate_button > .active {
  border: #000000 !important;
}

.download-file{
  text-align: center; 
  padding-top: 5px;
  font-size: xx-large;
  
}

.paginate_button .page-item {
  padding: 1px 1px 1px 1px;
}

#table-reporte .dataTables_empty{
  background: #f9f9f9;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
  background: #fff !important;
  background-color: #fff !important;
  box-shadow: none;
}

#table-reporte{
  font-size: 0.9em;
}
