.buscadorGenericoArbol {
    height: 2em !important;
    min-height: 2em !important;
    padding: 0 !important;
    padding-left: 1em !important;
    border-radius: 1em !important;
    border: 1px solid #e2e2e2;
    background:#fcfcfc;
}

.buscadorGenericoArbol::placeholder{
    color:#a4a4a4;
    font-size:1em;
}

.iconoBusqueda {
  color: #888888;
  position: absolute;
  right: 0.8em;
  top: 0.4em;
  font-size: 0.8em;
}

.scrollArbolGeografias {
	padding:4px;
	max-height: 300px;
	overflow-x: auto;
	overflow-y: auto;
	text-align:justify;
}

.scrollGeneralListas {
	padding: 1em;
	max-height: 350px;
	overflow-x: none;
	overflow-y: auto;
	text-align:justify;
}

.subtitulosModalDetalle{
	margin-top: 0;
	color: #834594;
	font-family: 'Montserrat' !important;
    font-size: 1em !important;
    font-weight: bolder;	
}

.title_span{
	font-family: 'Montserrat' !important;
    font-size: .8em !important;
    font-weight: bolder;
}

.content_text{
	font-family: 'Montserrat' !important;
    font-size: .8em !important;
}

.contenedorHistorico{
	border-left: 2px solid #7716fa !important;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
	padding: .6em .6em;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------- */
.labelTxt { 
    margin-bottom: 0;
    font-size: .7em;
    font-weight: bold;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

.page-item.active .page-link {
	background-color: #834594 !important;
}

#thead_table_status_corte tr th {
    font-family: 'Montserrat' !important;
    font-size: .8em !important;
    text-transform: uppercase;
    background: #aeaeae !important;
    color: white;
}

#table_status_corte tr th{
	padding:1em !important;	
}

#table_status_corte {
    border-collapse: collapse !important;
    width: 100%;
}

#table_status_corte{
    border-collapse: collapse!important;
 }

#table_status_corte tbody tr td {
    border-top: 0px solid #eceeef !important;
    font-size: .8em;
    font-family: 'Montserrat';
    /* padding: .9em; */
}

#table_status_corte tbody tr:nth-child(even) {
    background: #f5f5f5;
}

#table_status_corte>tbody>tr>td {
    white-space: nowrap;
    color: #39455b;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
}

#table_status_corte {
    width: 100%!important;
}

#table_status_corte thead .txtTablaConsultaJustificado {
	padding:1em;
	border: none;
}

#table_status_corte thead .txtTablaConsultaCentrado {
    padding:1em ; 
	border:none;
}
#table_status_corte thead{
	border:none ;
}

#table_status_corte tbody tr td {
	padding:1em;
	border: none;
}

#tablaConceptosOT thead tr th {
    font-family: 'Montserrat' !important;
    font-size: .8em !important;
    text-transform: uppercase;
    background: #aeaeae !important;
    color: white;
}

#tablaConceptosOT thead tr th{
	padding:1em !important;	
}

#tablaConceptosOT {
    border-collapse: collapse !important;
    width: 100%;
}

#tablaConceptosOT tbody tr td {
    border-top: 0px solid #eceeef !important;
    font-size: .8em;
    font-family: 'Montserrat';
    /* padding: .9em; */
}

#tablaConceptosOT tbody tr:nth-child(even) {
    background: #f5f5f5;
}

#tablaConceptosOT>tbody>tr>td {
    white-space: nowrap;
    color: #39455b;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
}

#tablaConceptosOT {
    width: 100%!important;
}

#tablaConceptosOT thead .txtTablaConsultaJustificado {
	padding:1em;
	border: none;
}

#tablaConceptosOT thead .txtTablaConsultaCentrado {
    padding:1em ; 
	border:none;
}

#tablaConceptosOT thead{
	border:none ;
}

#tablaConceptosOT tbody tr td {
	padding:1em;
	border: none;
}

#pills-tab-mod .nav-link.active {
  color: #7716fa !important;
  font-weight: bolder;
  background:#f9f9f9;
}

#pills-tab-mod{
	margin-bottom:1em;
}
#pills-tab-mod .nav-link {
    padding-top: .6em;
    padding-bottom: .6em;
    border: solid 1px #ccc;
}
#pills-tab-mod .nav-item:first-child .nav-link {
   border-top-left-radius:1em;
   border-bottom-left-radius:1em;
}
#pills-tab-mod .nav-item:last-child .nav-link {
   border-top-right-radius:1em;
   border-bottom-right-radius:1em;
}

/* .nav-pills .nav-link { */
/* 	padding: 10px 25px; */
/*     background-color: #fff;	 */
/* } */

/* .nav-pills .nav-link:hover  { */
/* 	background-color: #f5f5f5;	 */
/* } */

/* .nav-pills .nav-link.active { */
/* 	background-color: #2196f3;	 */
/* } */

/* .nav-pills .nav-link.active:hover  { */
/* 	background-color: #2196f3;	 */
/* } */














.divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
    margin-top: 4px;
    margin-right: 10px;
    margin-left: 5px;
}

#conteo_cortes_masivos{
	margin-top: .2em;
	color:#834594 !important;
	margin-bottom:1em;
	font-family: 'Montserrat' !important;
	font-weight:bold;
}

#lblTituloModalDetalleOT{
	color:#834594 !important;
	font-family: 'Montserrat' !important;
	font-weight:bold;
}

/** Extended card**/
.map-card .map-container {
    overflow-x: hidden;
	overflow-y: hidden;
    position: relative;
    height: 0;
}

map-card .map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.map-card .card-body.closed {
    top: 100%;
    height: 4rem;
    margin-top: -4rem;
}

.map-card .card-body {
    position: absolute;
    width: 100%;
    height: 77%;
    top: 23%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: transparent;
    transition: all 1s;
    border-radius: 0 !important;
    display: inline-grid;
}

.map-card .card-body{
	background-color: white;	
}

.iconoDetalle{
	color: #7716fa !important;
}

#table-ot-pe tr th{
	padding:1em !important;	
}

#table-ot-pe thead tr th {
    font-family: 'Montserrat' !important;
    font-size: .8em !important;
    text-transform: uppercase;
    background: #aeaeae !important;
    color: white;
}

#table-ot-pe {
    border-collapse: collapse !important;
    width: 100%;
}

#table-ot-pe{
    border-collapse: collapse!important;
}

#table-ot-pe tbody tr td {
    border-top: 0px solid #eceeef !important;
    font-size: .8em;
    font-family: 'Montserrat';
    /* padding: .9em; */
}

#table-ot-pe tbody tr:nth-child(even) {
    background: #f5f5f5;
}

#table-ot-pe_length { 
    display: none;
}

#table-ot-pe>tbody>tr>td {
    white-space: nowrap;
    color: #39455b;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
}

#table-ot-pe {
    width: 100%!important;
}

#table-ot-pe thead .txtTablaConsultaJustificado {
	padding:1em;
	border: none;
}

#table-ot-pe thead .txtTablaConsultaCentrado {
    padding:1em ; 
	border:none;
}
#table-ot-pe thead{
	border:none;
}

#table-ot-pe tbody tr td {
	padding:1em;
	border: none;
}

table.dataTable thead th {
    position: relative;
    background-color: #b1b1b1;
    color: #fff;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}

.dataTables_info{
	font-size: 0.8em;
    font-family: "Montserrat" !important;
    text-align: center;
}

.page-link{
	font-size: 0.8em !important;
    font-family: "Montserrat" !important;
}

.column-style-despacho-central {
    width: 136px !important;
    padding-right: 0px !important;
}

.columna-filtro-ind::after {
    content: "";
    position: absolute;
    right: 6%;
    top: 67%;
    width: 0;
    height: 0;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.6em solid #939db2;
    clear: both;
    z-index: 2;
    font-size: 14px;
}

label.label-filter {
    margin-bottom: 0;
    font-size: .7em;
    font-weight: bold;
}

.input-filtro-status {
    border: 1px solid #dbdbdb !important;;
    font-weight: 400;
    font-size: 1em;
    color: #818181 !important;
    transition: all 0.5s ease;
    border-bottom: 1px solid white;
    background: white !important;
    border-radius: .5em !important;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.07),0 1px 2px 0 rgba(0,0,0,.05)!important;
}

.input-filtro-status::placeholder {
    font-weight: 400;
    font-size: 1em;
    color: #818181 !important;
}

.input-filtro-status:focus {
    -webkit-box-shadow: none;
}

.input-filtro-status:hover {
    background: #e4e6f2 !important;
    cursor: pointer;
    border-bottom: 2px solid #a4b1ff !important;
}

i.icono-noseleccion {
    color: #ff9f3b;
    display: inline-block;
}

/* .div-btn-busqueda { */
/*     padding: 0% !important; */
/*     text-align: right !important; */
/* } */

#btn_busqueda_corte_masivo {
    background-color: #ffffff;
    color: #7716fa;
    border: solid 1px #7716fa !important;
    padding: 0.7em 2em;
    border-radius: 5px;
    font-size: 0.7em;
    margin-top: 17px;
}

#btnCerrarmodalConsultaDetalleOT{
    background-color: #ffffff;
    color: #7716fa;
    border: solid 1px #7716fa !important;
    padding: 0.5em 2em;
    border-radius: 5px;
    font-size: 0.7em;
    margin-top: 25px;
}

.btn-sm {
    padding: 0.7em 0.7em;
    /* border-radius: 50% !important; */
    font-size: 0.64rem;
    border: 0px !important;
}

.datepicker .datepicker-switch:hover,   
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover {
    background: #78a7f7;
    color: white;
}

.element-menu-filter {
    position: relative;
}

.element-menu-filter:hover .dropdown-menu {
    display: block;
}

.element-menu-filter:hover .dropdown-menu {
    top: 0;
    left: 100%;
}

#todo_filtro,
#ninguno_filtro {
    width: 45%;
    background: #1266f1;
    color: white;
    margin-top: 0.5em;
    padding: 0;
}

label.form-check-inputfiltro {
    display: flex;
}

.element-menu-filter {
    position: relative;
}

.dropdown-item.item-text-filtro.ng-binding {
    display: contents;
    /* margin-left: 1em; */
}

.dropdown-item {
    padding: 0.25rem 1.5rem !important;
}

.dropdown-item.item-text-filtro.ng-binding {
    display: contents;
}

.form-check-input {
    margin-right: 0.5em;
}

/* FILTROS INSPECTOR INCIDENCIA */

/* CONTAINER INSPECTOR INCIDENCIA */
.contenedor-inspectorIncidencia {
    margin-top: 20px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    max-width: 1115px;
    border-radius: .5em;
    padding: 0px !important;
}

.contenido_color{
    display: inline;
    margin-right: 1.5em;
}

.contenido_color i{
    margin-right: .5em;
}

.contenido_color > small{
    color:#4e5f71;
    font-size: .9em;
}

#colores_estados {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    font-family: 'Montserrat' !important;
    font-size: .8em;
}

#mapaInspectorIncidencia {
    height: 550px;
    width: 100%;
    background-color: gray;
}

/* TABLE INCIDENCIAS */
#tableIncidencia tr td {
    font-size: 0.7em;
    font-family: "Montserrat" !important;
    text-align: center;
}

thead#thead_incidencia tr th {
    font-size: 0.7em;
    padding: 1em 1em 1em;
    text-align: center;
}

#thead_incidencia .fa {
    font-size: 13px;
    color: gray;
}

thead#thead_incidencia {
    font-weight: bold !important;
    border-top: 4px solid transparent !important;
    border: 1px #ccc;
    font-family: "Montserrat" !important;
}

/* MODAL DETALLE INCIDENCIA */
#headers_tab .nav-link {
    border-top-right-radius: 2rem !important;
    border-bottom-right-radius: 2rem !important;
}

#headers_tab .nav-link.active {
    border-top-right-radius: 2rem !important;
    border-bottom-right-radius: 2rem !important;
    background-color: #2196f3 !important;
    /* box-shadow: 0 0 8px 0 #2196f3; */
    border-bottom: 0 !important;
    color: white !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
      0 1px 5px 0 rgb(0 0 0 / 20%) !important;
    z-index: 1 !important;
}

#modalDetalleIncidencia .modal-body {
    padding-left: 0;
}

.container-fluid .incidencia-content {
    padding: 0;
    display: flex;
    /* border-bottom:1px solid #e1e1e1 */
}

.container-text-title-detalle {
    width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

span .text-title-incidencia {
    font-weight: bold;
    font-size: 0.8em;
    color: #303030;
}

span .text-content-incidencia {
    font-size: 0.8em;
    color: #303030;
}
/* MODAL DETALLE INCIDENCIA */

/* TABLE INCIDENCIAS */
/* CONTAINER INSPECTOR INCIDENCIA */