

  @media screen and (min-width: 1366px) { 

    #calendar_disponibilidad table tbody tr td table tbody tr td a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable {
        height: 4.5em !important;
    }
    h2.titulo_disponibilidad.text-center {
        font-size: 1.7em !important;
    }
    div#filters-dispo {
        font-size: .9em !important;
    }
   
  }
  


  @media screen and (max-width: 1365px) {   

      #navbarSupportedContent ul li a {
          font-size: .75em !important;
      }
      div#filters-dispo {
          font-size: .85em !important;
      }
      #calendar_disponibilidad table tbody tr td table tbody tr td a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable {
          height: 4em !important;
     }

  }

  @media screen and (max-width: 1000px) {   
      #navbarSupportedContent ul li a {
          font-size: .75em !important;
      }
      h2.titulo_disponibilidad.text-center {
          font-size: 1.5em !important;
      }
      div#filters-dispo {
          font-size: .9em !important;
      }
      #calendar_disponibilidad table tbody tr td table tbody tr td a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable {
          height: 4em !important;
      }

  }

