.alineacion_inline {
  display: inline;
  color: dimgrey;
  margin-left: 1em;
}
.edit_disponibilidad_btn {
  color: #4caf50 !important;
  font-size: 1.4em !important;
}

/** thead datatable*/
#datatable_disponibilidad thead {
  font-weight: bold !important;
  font-family: "Montserrat", sans-serif;
  padding: 8px 10px;
}

a,
a.disabled:hover,
a:disabled:hover {
  color: grey !important;
}
.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
  color: #fff !important;
  cursor: default;
  background-color: #7716fa;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 0.5em 1em;
}

.fontStyleAzul {
  color: #696969 !important;
  font-weight: bold;
  /* padding-left: 2em; */
  font-family: "Montserrat", sans-serif;
}

#datatable_disponibilidad td {
  font-size: 12px;
  padding: 8px 10px;
}

/*Clase para elementos ocultos , pero que ocupen espacio en el DOM */
.oculto_visibility {
  visibility: hidden;
}

/**Barra lateral de opciones **/
.sidebar {
  padding-left: 0;
  padding-right: 0;
}
.sidebar {
  /* position: fixed; */
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

/* Style switch boton */
.toggle-handle {
  position: relative;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  width: 0;
  background: #ffffff;
  border-width: 0 1px;
  border-radius: 0;
}

.btn-default {
  color: #464a4c;
  border-color: #ccc;
  border-radius: 5px;
}
.toggle-off {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  margin: 0;
  border-radius: 0;
  background-color: #ddd;
  border: 1px solid;
}

/** Estilos para las validaciones**/
.is-invalid {
  border-color: #d9534f;
}

.is-valid {
  border-color: #5cb85c;
}

/* botones de modificar en los modals */
.btn_modificar_disp {
  background-color: #1fa67a;
  color: white;
  border-color: #1fa67a;
}

button#consulta_disponibilidad {
  width: 100%;
  bottom: 0;
}

/* tamanio de los modals */
.modal-dialog.modal-lg {
  min-width: 80% !important;
}
/* interlineado header modal */
/* div.modal-header {
    border-bottom: 2px solid #1fa67a;
} */

/* interlineado footer modal */
div.modal-footer {
  border-top: 1px solid #d9d9d9;
}
/* .titulo_disponibilidad{ */
/* color: #7c7c7d; */
/* } */

/* titulos de los campos **/
.title_campos {
  color: #7c7c7d;
  margin-bottom: 0;
}

.btn-primary {
  color: #fff;
  background-color: #0275d8;
  position: absolute;
  bottom: 0;
}
/* Iconos font awesome de los campos **/
.title_campos > .fa {
  color: #b3b3b3;
  padding-right: 10px;
}
/* titulo para disponibilidad */
/* .titulo_disponibilidad { */
/* background-color: #1fa67a; */
/* color: #6b4a4c; */
/* margin: 0; */
/* height: 50px; */
/* text-align: center; */
/* padding-top: 10px; */
/* } */

#datatable_disponibilidad {
  border-collapse: collapse !important;
  width: 100% !important;
  /* border: 1px solid #eceeef; */
}
/* Estilo para colocar el alerta en la parte superior */
#alertify-logs {
  position: fixed;
  right: 0;
  top: 0;
  height: 2em;
}
/* Alinea texto de un contenido a la derecha */
.align-rigth {
  text-align: right;
}

/* Alinea texto de un contenido a la derecha */
.align-center {
  text-align: center;
}

/* Agrega espacidado del contenido de los selects*/
/* #datos_selects { */
/* padding-top: 10px; */
/* padding-right: 0; */
/* width: auto; */
/* background-color: #f7f7f7; */
/* } */

#btn_mostrar_nav {
  position: relative;
  float: left;
  padding-left: 10px;
}
.titulo_disponibilidad {
  padding-left: 2em;
  font-family: "Montserrat", sans-serif;
  padding-left: 10px;
}

#header_disponibilidad {
  border-bottom: 3px solid #1ca4fc;
  text-align: center;
  padding-bottom: 7px;
  padding-left: 0;
  /* margin-top: 15px; */
}

#agregar_disponibilidad,
#modificar_disponibilidad {
  background-color: #a5a5a5 !important;
  color: #fff !important;
}

/** FIN ESTILOS PARA INTEGRAR  LIBRERA MDBOOTSTRAP **/
div#navbarSupportedContent .nav-item:hover {
  background: rgba(0, 0, 0, 0.09);
}

div#navbarSupportedContent li.nav-item {
  background: transparent;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

/* .md-form .form-control:disabled, .md-form .form-control[readonly] {
    border-bottom: 1px solid #e4e3e3 !important;
    background-color: transparent;
} */

.filtros_ots {
  padding-bottom: 0.2em !important;
}
.modal-dialog.cascading-modal .modal-header {
  margin: 0 !important;
}
.btn_close_alertas {
  padding: 0.4rem 0.5rem;
  font-size: 0.64rem;
  margin: 0 !important;
}

.color_white {
  color: white !important;
}
/*Navegacion*/
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: rgba(255, 255, 255, 0) !important;
}
/* ul.navbar-nav.mr-auto li { */
/* border-bottom: 3px solid #dddddd; */
/* } */
ul.navbar-nav.mr-auto li.active {
  border-bottom: 2px solid #1ca4fc;
}
/*Scroll*/
::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #6da4ff;
  border: 71px none #ffffff;
  /* border-radius: 31px; */
}
/*Efecto*/
.icon {
  cursor: pointer;
  border-radius: 60px;
  font-size: 15px !important;
  color: #039be5;
  padding: 0.5em 0.6em;
  border: 0.5px solid #efefef;
}
.efecto:hover {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.efec {
  border-radius: 80px;
  cursor: pointer;
}

.itemGeneral.active {
  background-color: #44c0e4;
  border-color: #44c0e4;
  font-weight: bold;
}
.itemGeneral.active::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #44c0e4;
}

a.page-link {
  height: 100%;
  min-height: 37px;
}
.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
ul.pagination {
  float: right;
  margin-right: 0.3em !important;
}
/*Modal*/
.modal-dialog.modal-lg {
  min-width: 80%;
  margin-top: 5%;
}
.peach-gradient {
  background: -webkit-linear-gradient(15deg, #f36268, #fc6262) !important;
  background: -o-linear-gradient(15deg, #f36268, #fc6262) !important;
  background: linear-gradient(10deg, #f36268, #fc6262) !important;
}
.aqua-gradient {
  background: -webkit-linear-gradient(50deg, #2096ff, #05ffa3) !important;
  background: -o-linear-gradient(50deg, #2096ff, #05ffa3) !important;
  background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
}

.blue-gradient {
  background: #62a6e0;
}

.rgba-gradient {
  background: -moz-linear-gradient(
    45deg,
    rgba(213, 15, 61, 0.6),
    rgba(13, 17, 198, 0.69) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(213, 15, 61, 0.6),
    rgba(13, 17, 198, 0.69) 100%
  );
  background: linear-gradient(
    to 45deg,
    rgba(213, 15, 61, 0.6),
    rgba(13, 17, 198, 0.69) 100%
  );
}

.view-cascade-inverse {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -1.25rem;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 0.5em;
}

div.imgHistorico {
  width: 45px;
  height: 45px;
  border: 1px solid #bec0c1;
  border-radius: 5px;
  border-left: 2px solid #33b5e5;
  background: #fff;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
div.contenidoHistorico {
  padding-left: 20px;
  border: 1px solid #bfbfbf;
  border-left: 3px solid #33b5e5;
  border-radius: 5px;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.big-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#btnGroupDrop1 i.fa.fa-caret-down {
  display: none;
}

div#sesionconf {
  text-align: end;
  padding-right: 0 !important;
}
.img_operario_nav {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#btnGroupDrop1 {
  height: 0 !important;
  cursor: pointer !important;
  color: #5c5c5c !important;
}

#opciones_dropdown {
  left: 80%;
}

#ColorIcoGuia {
  color: #1ca4fc;
}
#ColorIcoSalir {
  color: red;
}

.jstree-proton .jstree-clicked {
  background: #3392e3;
  color: #ffffff !important;
  border-radius: 0px;
  box-shadow: inset 0 0 1px #3392e3;
}
.toggle-handle.btn.btn-default {
  padding: 0.84rem 0.9rem !important;
}
span.toggle-handle.btn.btn-default {
  background: #ffffff !important;
  border: solid #ffffff 1px !important;
}
.btn-default {
  color: #464a4c;
  border-color: #ccc;
  border-radius: 5px;
}
.toggle-off.btn {
  padding-left: 30px !important;
}
label.btn.btn-default.active.toggle-off {
  color: white !important;
}
label.btn.btn-primary.toggle-on {
  color: white !important;
}

.toggle-handle.btn.btn-default {
  padding: 0.84rem 0.9rem !important;
  margin-top: 0px;
}
span.toggle-handle.btn.btn-default {
  background: #ffffff !important;
  border: solid #ffffff 1px !important;
}
.btn-default {
  color: #464a4c;
  border-color: #ccc;
  border-radius: 5px;
}
.toggle-off.btn {
  padding-left: 30px !important;
}
label.btn.btn-default.active.toggle-off {
  color: white !important;
}
label.btn.btn-primary.toggle-on {
  color: white !important;
}
.toggle.btn.btn-primary {
  min-width: 13em;
}
.toggle.btn.btn-default.off {
  min-width: 13em;
}
label.btn.btn-primary.toggle-on {
  padding: 0.2em 0.2em 0.2em;
  background: #4285f4 !important;
  box-shadow: none !important;
  webkit-box-shadow: none;
  min-width: 51%;
}
label.btn.btn-info.active.toggle-off {
  min-width: 14em;
  background: #33b5e5 !important;
  box-shadow: none !important;
  webkit-box-shadow: none;
  padding: 0.2em 5em 5em;
}
.toggle.btn.btn-info.off {
  width: 155px !important;
}
li.consultaCalendar {
  padding: 0px;
}
.content__opc_mant {
  margin-top: 2em;
  margin: auto;
}
a.nav-link.disponibilidad.active {
  background: #7716fa;
  color: white !important;
  font-size: 1em;
  font-weight: initial;
}
div#calendar_disponibilidad {
  /* margin-top: 1em !important; */
  /* margin: 5px 12px 0px; */
  /* box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14),
    0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12); */
  /* box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%); */
  /* border: 1px solid #e7e7e7; */
  /* margin-left: 1em; */
  /* border-bottom: none !important; */
  margin: auto;
  padding: 0px;
}
div#datatable_disponibilidad_wrapper {
  padding-left: 0px;
}

a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable {
  color: white !important;
  box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14),
    0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
  padding: 7px 12px 7px;
  max-width: 10em;
  text-align: -webkit-left;
}

/*Style calendar */
#calendar_disponibilidad button {
  color: gray !important;
  background: white;
  border: 0px !important;
}
#calendar_disponibilidad
  button.fc-prev-button.fc-button.fc-state-default.fc-corner-left,
#calendar_disponibilidad
  button.fc-next-button.fc-button.fc-state-default.fc-corner-right {
  background: #7716fa !important;
  padding: 5px 12px;
  margin: 2px 1px 5px;
}

.fc .fc-toolbar-title {
  text-transform: capitalize !important;
  color: #7716fa !important;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 20px !important;
}

#calendar_disponibilidad .eventDisponibilidad {
   /*  background-color: #1c74bfb3 !important;
    border-color: #1c74bfb3 !important; */
   font-weight: bold;
   font-size: 11px;
   white-space: pre-wrap !important;
   /* box-shadow: 0px 0px 10px #808c8c; */
   border: none;
}

#calendar_disponibilidad .fc-col-header {
  background: #f4f5fc !important;
  text-transform: capitalize !important;
  font-size: small;
}

#calendar_disponibilidad .fc-content-skeleton td.fc-event-container {
  text-align: -webkit-center;
}
#calendar_disponibilidad .fc-toolbar.fc-header-toolbar {
  /* padding: 20px 20px 0em; */
  margin-bottom: .5em;
}
#calendar_disponibilidad td.fc-head-container.fc-widget-header {
  border: 0px;
}
#calendar_disponibilidad.fc th {
  text-align: right;
  color: #999;
  font-size: 1.2em;
  font-weight: bold;
  border: 0px;
}
#calendar_disponibilidad.fc td:first-child {
  border-left: 0;
}
#calendar_disponibilidad .fc-license-message {
  display: none;
}
.fc-time-grid .fc-slats td {
  height: 20px !important;
}
/* .fc-event{
	 /* height: 50px !important;
} */

/* #compania_select{
    border-top: 3px solid #E8488E !important;
} */

.info-disp-sec {
  font-weight: 400;
}

.contentMatu {
  height: 56px;
}

.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* .custom-control-input:checked~.custom-control-indicator {
    color: #fff;
    background-color: #0275d8;
} */

.custom-radio .custom-control-indicator {
  border-radius: 50%;
}

.custom-control-indicator {
  position: absolute;
  top: 0.25rem;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #ddd;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 50% 50%;
  background-size: 50% 50%;
}

.label-filtro {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.contentVesp {
  height: 56px;
}

/* .form-control-sm{
    height: auto !important;
} */

.eventDisponibilidad {
  height: 65px !important;
}

.fc .fc-daygrid-day.fc-day-today {
  height: 95px !important;
}

.input-filtro-disponibilidad {
  font-weight: 400;
  font-size: 1em;
  color: #818181 !important;
  transition: all 0.5s ease;
  background: white !important;
  border: 1px solid #dbdbdb !important;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.07),0 1px 2px 0 rgba(0,0,0,.05)!important;
}

.columna-filtro-ind{
  padding-left: 0 !important;
}

.input-filtro-disponibilidad::placeholder {
  font-weight: 400 !important;
  font-size: 1em !important;
  color: #818181 !important;
}

.input-filtro-disponibilidad:focus {
  border-color: white !important;
  -webkit-box-shadow: none;
  box-shadow: none !important;
}

.input-filtro-disponibilidad:hover {
  background: #e4e6f2 !important;
  cursor: pointer;
  border-bottom: 2px solid #a4b1ff !important;
}

.label-filtro-disponibilidad {
  font-size: 0.8em;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  font-weight: bold;
}

.contenedor_disponibilidad {
  /* margin-top: 15px; */
  max-width: 1400px !important;
}

.columna-filtro-ind::after {
  content: "";
  position: absolute;
  right: 10%;
  top: 60%;
  width: 0;
  height: 0;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.6em solid #939db2;
  clear: both;
  z-index: 2;
}

#btn-consultar-disponibilidad {
  background-color: #ffffff;
  color: #7716fa;
  border: solid 1px #7716fa !important;
  padding: .6em 2.3em;
  border-radius: 5px;
  font-size: 0.7em;
  position: relative;
  /* border-radius: 1.3em; */
  display: block;
  border-radius: .5em !important;
}
/* #calendar_disponibilidad table tbody tr td table tbody tr{
    height: 7.5em;
} */

#myTab .nav-item:first-child .nav-link {
   border-top-left-radius:1em;
   border-bottom-left-radius:1em;
}
#myTab .nav-item:last-child .nav-link {
   border-top-right-radius:1em;
   border-bottom-right-radius:1em;
}
#myTab .nav-link {
  padding-top: .4em;
  padding-bottom: .4em;
  /* margin-top: 20px; */
  border: solid 1px #ccc;
  /* border-radius: 2px; */
  /* box-shadow: 0px 0px 10px #878ee04d; */
  

}

#myTab .nav-link.active {
  color: #7716fa !important;
  font-weight: bolder;
  background:#f9f9f9;
}

#tableData .spanTable {
  font-weight: bold;
  display: block;
}

#tableData {
  margin-top: 16px;
  border: none;
  /* box-shadow: 0px 0px 10px #878ee04d; */
  /* box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%); */
}

div.dataTables_info {
  color: #a5a5a5 !important;
  font-size: 0.8em !important;
  font-family: "Montserrat" !important;
}
.body-modal-capacidad{
    height: 240px;
}

.pagination .previous a.page-link {
  color: white !important;
  font-size: 0;
}
.row-content-bloqueo{
    margin-top: 50px !important;
}

.pagination .next a.page-link {
  color: white !important;
  font-size: 0;
}

.pagination .previous a:after {
  font-family: FontAwesome;
  display: inline-block;
  content: "\f104";
  visibility: visible;
  color: #828080 !important;
  font-size: initial !important;
}

.pagination .next a:before {
  font-family: FontAwesome;
  display: inline-block;
  content: "\f105";
  visibility: visible;
  color: #828080 !important;
  font-size: initial !important;
}

div.dataTables_wrapper div.dataTables_length label {
  font-weight: inherit !important;
  color: #828080 !important;
}

#otTable_length select.form-control.form-control-sm {
  border: none;
}

.pagination .paginate_button a.page-link {
  font-family: "Montserrat";
  background-color: white !important;
  /* box-shadow: none !important; */
}

.pagination .paginate_button.active {
  background-color: white !important;
  border: 1px #000;
}

.dataTables_wrapper .dataTables_paginate .paginate_button a {
 padding-bottom: 0 !important;
 line-height: revert;
 }

.dataTables_length {
  display: none !important;
}

.dataTables_filter {
  display: none !important;
}

.table.dataTable {
  border-collapse: collapse !important;
  border: 0px white !important;
  text-align: center !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  --bs-table-accent-bg: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: white !important;
}

.table-responsive {
    overflow-x: hidden !important;
}

.body-modal-capacidad-mod{
    height: 190px;
}

.fc-header-toolbar.fc-toolbar{
  padding-top: 5px !important;
}

.fc-event-title-container{
  padding-left: 0.2em;
}
ul#myTab ul li a{
  border:none !important;
}

ul#myTab {
    width: fit-content;
    /* box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%); */
    /* margin-top: 1em; */
    margin-left: 1em;
}

.container.contenedor_disponibilidad {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    /* padding-top: 1em; */
    padding-bottom: 1em;
    background: white;
    border-radius: .5em;
    padding-top: 1em;
    margin-top: 1em;
}
body {
    /* background: #f9f9f9 !important; */
}
div#disponibilidad_datos_inferior {
    padding-left: 0;
    padding-right: 0;
}
div#datos_tablas {
    padding: 0;
}

#tableData tbody  tr {
    border: 0 solid !important;
    border-color: inherit;
}

#tableData tbody  tr {
    border-bottom: .01rem solid #e2e2e2 !important;
    border-color: inherit;
}
#tableData .table-bordered th, .table-bordered td {
    border: 0px solid #dee2e6 !IMPORTANT;
}

.input-filtro-disponibilidad{
  border-radius: .5em !important;
}

ul#myTab ul li a{
  border:1px solid red !important;
}
label.label-filter {
    margin-bottom: 0;
    font-size: .8em;
    font-weight: bold;
}

.input-filtro-disponibilidad:focus {
  font-weight: 400;
  font-size: 1em;
  color: #818181 !important;
  transition: all 0.5s ease;
  background: white !important;
  border: 1px solid #dbdbdb !important;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.07),0 1px 2px 0 rgba(0,0,0,.05)!important;
} 